.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 0;
}

.leftColumn {
    min-width: 230px;
    margin-right: 25px;
}

.wrapper .distanceAndOpeningHours {
    color: var(--col--gray6);
}

.title {
    margin-bottom: 5px;
}

.address {
    margin-bottom: 6px;
}

.secondaryCta {
    margin-top: 6px;
}

@media (max-width: 768px) {
    .leftColumn {
        min-width: 204px;
    }
}
