.errorContainer {
    height: 70px;
    background: var(--col--primary1);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--col--light);
}

.textContainer {
    font-size: 20px;
    line-height: 26px;
    text-align: justify;
    text-align-last: center;
    font-style: normal;
}

.title {
    font-family: var(--head-font);
}

.text {
    font-family: var(--heavy-font);
    font-size: 18px;
}

.icon {
    margin-right: 12px;
}

@media (max-width: 1020px) {
    .errorContainer {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .textContainer {
        display: flex;
        flex-direction: column;
    }

    .icon {
        margin: 0 0 14px;
    }
}

@media (max-width: 960px) {
    .title {
        font-size: 16px;
    }

    .text {
        font-size: 16px;
        line-height: 24px;
    }
}
