.container {
    padding: 30px;
    border: 1px solid var(--col--gray4);
}

.date {
    margin-bottom: 5px;
}

.subhead {
    margin-bottom: 5px;
    color: var(--col--secondary1);
}

.location {
    text-transform: none;
    font-family: var(--ff--pharagraph-strong);
}

.locationLink {
    text-transform: none;
    text-decoration: underline;
}

.horizontalDivider {
    display: block;
    margin: 23px 0;
}

.verticalDivider {
    display: none;
    margin: 0 33px;
    height: auto;
}

.more {
    text-align: center;
    color: var(--col--gray6);
}

.actionsContainer {
    display: flex;
    flex-direction: column;
}

.actionsContainer > :not(:last-child) {
    margin-bottom: 20px;
}

@media (min-width: 992px) {
    .container {
        display: flex;
    }

    .horizontalDivider {
        display: none;
    }

    .verticalDivider {
        display: block;
    }

    .locationContainer {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 25%;
    }

    .orderContainer {
        flex-grow: 1;
    }

    .actionsContainer {
        min-width: 216px;
        align-self: center;
    }
}
