.errorBanner {
    display: flex;
    justify-content: center;
    margin: auto 0;
    text-align: center;
}

.centerSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 20px 20px 50px;
}

.errorText {
    color: var(--col--primary1);
    text-transform: uppercase;
    font-size: 34px;
    line-height: 34px;
}

.headerText {
    margin: 5px 0 17px;
}

.mainText {
    font-family: var(--base-font);
    line-height: 28px;
}

.buttonsBlock {
    margin-top: 25px;
}

.footerContent {
    background: var(--col--dark);
    border-top: 5px solid var(--col--primary1);
    padding: 0 20px;
}

@media (max-width: 1024px) {
    .errorText {
        font-size: 24px;
        line-height: 24px;
    }

    .errorBanner {
        padding: 15px 20px 44px;
    }

    .headerText {
        font-size: 32px;
    }

    .leftSection {
        padding: 0;
        text-align: center;
    }
}
