@font-face {
    font-family: 'brand-icons';
    src: url('/brands/bww/fonts/brand-icons.eot?r8pupk');
    src: url('/brands/bww/fonts/brand-icons.eot?r8pupk#iefix') format('embedded-opentype'),
        url('/brands/bww/fonts/brand-icons.ttf?r8pupk') format('truetype'),
        url('/brands/bww/fonts/brand-icons.woff?r8pupk') format('woff'),
        url('/brands/bww/fonts/brand-icons.svg?r8pupk#brand-icon-bww') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.brand-icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'brand-iconS' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* ---------- primitive glyphs ---------- */
.brand-icon.flame::before {
    content: '\e96c';
}

.brand-icon.order-delivery-medium::before {
    content: '\e90a';
}

.brand-icon.order-delivery-small::before {
    content: '\e908';
}

.brand-icon.order-pickup-small::before {
    content: '\e909';
}

.brand-icon.order-delivery::before {
    content: '\e902';
}

.brand-icon.order-pickup::before {
    content: '\e907';
}

.brand-icon.order-not::before {
    content: '\e900';
    color: var(--col--primary1);
}

.brand-icon.order-craft-beer::before {
    content: '\e901';
}

.brand-icon.order-domestic-beer::before {
    content: '\e903';
}

.brand-icon.order-group-order .path1::before {
    content: '\e904';
    color: rgb(56, 46, 44);
}

.brand-icon.order-group-order .path2::before {
    content: '\e905';
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.brand-icon.order-group-order .path3::before {
    content: '\e906';
    margin-left: -1em;
    color: rgb(56, 46, 44);
}

.brand-icon.allergen-egg::before {
    content: '\e90b';
}

.brand-icon.allergen-fish::before {
    content: '\e90c';
}

.brand-icon.allergen-gluten::before {
    content: '\e90d';
}

.brand-icon.allergen-milk::before {
    content: '\e90e';
}

.brand-icon.allergen-peanuts::before {
    content: '\e90f';
}

.brand-icon.allergen-shealfish::before {
    content: '\e910';
}

.brand-icon.allergen-soy::before {
    content: '\e911';
}

.brand-icon.allergen-nuts::before {
    content: '\e912';
}

.brand-icon.allergen-wheat::before {
    content: '\e913';
}

.brand-icon.restaurant::before {
    content: '\e914';
}

.brand-icon.social-distance::before {
    content: '\e915';
}

.brand-icon.menu::before {
    content: '\e916';
}

.brand-icon.cleaning::before {
    content: '\e917';
}

.brand-icon.gluten::before {
    content: '\e918';
}

.brand-icon.hand-washing::before {
    content: '\e919';
}

.brand-icon.fa-accessibility::before {
    content: '\e91a';
}

.brand-icon.fa-crowd::before {
    content: '\e91b';
}

.brand-icon.fa-deals::before {
    content: '\e91c';
}

.brand-icon.fa-entertainment::before {
    content: '\e91d';
}

.brand-icon.fa-health-and-safety::before {
    content: '\e91e';
}

.brand-icon.fa-highlights::before {
    content: '\e91f';
}

.brand-icon.fa-locker::before {
    content: '\e920';
}

.brand-icon.fa-mobile::before {
    content: '\e921';
}

.brand-icon.fa-options::before {
    content: '\e922';
}

.brand-icon.fa-payment::before {
    content: '\e923';
}

.brand-icon.brand-blazing-rewards--inner::before {
    content: '\e924';
}

.brand-icon.brand-dine-in-inner::before {
    content: '\e925';
}

.brand-icon.brand-favorite-inner-circle::before {
    content: '\e926';
}

.brand-icon.brand-star-inner::before {
    content: '\e927';
}

.brand-icon.brand-promotion-inner::before {
    content: '\e928';
}

.brand-icon.brand-reward-inner::before {
    content: '\e929';
}

.brand-icon.brand-traditional-wings-inner::before {
    content: '\e92a';
}

.brand-icon.action-chat-inner-circle::before {
    content: '\e92b';
}

.brand-icon.action-close-inner-circle::before {
    content: '\e92c';
}

.brand-icon.extra-dine-in::before {
    content: '\e92d';
}

.brand-icon.extra-flying-bull::before {
    content: '\e92e';
}

.brand-icon.extra-gift-card::before {
    content: '\e92f';
}

.brand-icon.extra-join-the-Herd::before {
    content: '\e930';
}

.brand-icon.extra-limited-time::before {
    content: '\e931';
}

.brand-icon.extra-popular-item::before {
    content: '\e932';
}

.brand-icon.play-picks-props::before {
    content: '\e933';
}

.brand-icon.play-check-in::before {
    content: '\e934';
}

.brand-icon.play-prize::before {
    content: '\e935';
}

.brand-icon.play-your-picks::before {
    content: '\e936';
}

.brand-icon.sports-add-more::before {
    content: '\e937';
}

.brand-icon.sports-baseball::before {
    content: '\e938';
}

.brand-icon.sports-boxing::before {
    content: '\e939';
}

.brand-icon.sports-college-basketball::before {
    content: '\e93a';
}

.brand-icon.sports-college-football::before {
    content: '\e93b';
}

.brand-icon.sports-combat-sports::before {
    content: '\e93c';
}

.brand-icon.sports-esports::before {
    content: '\e93d';
}

.brand-icon.sports-hockey::before {
    content: '\e93e';
}

.brand-icon.sports-motor-sports::before {
    content: '\e93f';
}

.brand-icon.sports-others::before {
    content: '\e940';
}

.brand-icon.sports-pro-basketball::before {
    content: '\e941';
}

.brand-icon.sports-pro-football::before {
    content: '\e942';
}

.brand-icon.sports-soccer-other::before {
    content: '\e943';
}

.brand-icon.sports-soccer::before {
    content: '\e944';
}

.brand-icon.sports-tennis::before {
    content: '\e945';
}

.brand-icon.nav-location::before {
    content: '\e946';
}

.brand-icon.brand-star::before {
    content: '\e947';
}

.brand-icon.info-gift-card::before {
    content: '\e948';
}

.brand-icon.info-lock::before {
    content: '\e949';
}

.brand-icon.info-next::before {
    content: '\e94a';
}

.brand-icon.navigation-user::before {
    content: '\e94b';
}

.brand-icon.navigation-reorder::before {
    content: '\e94c';
}

.brand-icon.navigation-bag::before {
    content: '\e94d';
}

.brand-icon.navigation-map-pin::before {
    content: '\e94e';
}

.brand-icon.action-map::before {
    content: '\e94f';
}

.brand-icon.info-error::before {
    content: '\e950';
}

.brand-icon.info-card::before {
    content: '\e951';
}

.brand-icon.info-mail::before {
    content: '\e952';
}

.brand-icon.info-question::before {
    content: '\e953';
}

.brand-icon.action-print::before {
    content: '\e954';
}

.brand-icon.action-delete::before {
    content: '\e955';
}

.brand-icon.action-phone::before {
    content: '\e956';
}

.brand-icon.action-favorite::before {
    content: '\e957';
}

.brand-icon.action-favorite-filled::before {
    content: '\e958';
}

.brand-icon.action-add::before {
    content: '\e959';
}

.brand-icon.action-check::before {
    content: '\e95a';
}

.brand-icon.action-close::before {
    content: '\e95b';
}

.brand-icon.navigation-hamburger::before {
    content: '\e95c';
}

.brand-icon.action-edit::before {
    content: '\e95d';
}

.brand-icon.action-open-in-new::before {
    content: '\e95e';
}

.brand-icon.navigation-history::before {
    content: '\e95f';
}

.brand-icon.action-location-filled::before {
    content: '\e960';
}

.brand-icon.direction-down::before {
    content: '\e961';
}

.brand-icon.action-search::before {
    content: '\e962';
}

.brand-icon.action-subtract::before {
    content: '\e963';
}

.brand-icon.direction-left::before {
    content: '\e964';
}

.brand-icon.direction-right::before {
    content: '\e965';
}

.brand-icon.direction-up::before {
    content: '\e966';
}

.brand-icon.action-calendar::before {
    content: '\e967';
}

.brand-icon.action-filter::before {
    content: '\e968';
}

.brand-icon.info-ban::before {
    content: '\e969';
}

.brand-icon.info-invisible::before {
    content: '\e96a';
}

.brand-icon.info-visible::before {
    content: '\e96b';
}

/* ---------- create complex icons via combining existing ones ---------- */

/* complex icons for Arby's brand are no-meat, delivery-unavailable, delivery-available  */
