@font-face {
    font-family: 'Barlow Black';
    src: url('/brands/bww/fonts/barlow-black.eot');
    src: url('/brands/bww/fonts/barlow-black.eot?#iefix') format('embedded-opentype'),
        url('/brands/bww/fonts/barlow-black.woff2') format('woff2'),
        url('/brands/bww/fonts/barlow-black.woff') format('woff'),
        url('/brands/bww/fonts/barlow-black.ttf') format('truetype'),
        url('/brands/bww/fonts/barlow-black.svg#Barlow-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow Extra Bold';
    src: url('/brands/bww/fonts/barlow-extra-bold.eot');
    src: url('/brands/bww/fonts/barlow-extra-bold.eot?#iefix') format('embedded-opentype'),
        url('/brands/bww/fonts/barlow-extra-bold.woff2') format('woff2'),
        url('/brands/bww/fonts/barlow-extra-bold.woff') format('woff'),
        url('/brands/bww/fonts/barlow-extra-bold.ttf') format('truetype'),
        url('/brands/bww/fonts/barlow-extra-bold.svg#Barlow-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow Bold';
    src: url('/brands/bww/fonts/barlow-bold.eot');
    src: url('/brands/bww/fonts/barlow-bold.eot?#iefix') format('embedded-opentype'),
        url('/brands/bww/fonts/barlow-bold.woff2') format('woff2'),
        url('/brands/bww/fonts/barlow-bold.woff') format('woff'),
        url('/brands/bww/fonts/barlow-bold.ttf') format('truetype'),
        url('/brands/bww/fonts/barlow-bold.svg#Barlow-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('/brands/bww/fonts/barlow-medium.eot');
    src: url('/brands/bww/fonts/barlow-medium.eot?#iefix') format('embedded-opentype'),
        url('/brands/bww/fonts/barlow-medium.woff2') format('woff2'),
        url('/brands/bww/fonts/barlow-medium.woff') format('woff'),
        url('/brands/bww/fonts/barlow-medium.ttf') format('truetype'),
        url('/brands/bww/fonts/barlow-medium.svg#Barlow-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow Semi Condensed Black';
    src: url('/brands/bww/fonts/barlow-semi-condensed-black.ttf');
    src: url('/brands/bww/fonts/barlow-semi-condensed-black.eot?#iefix') format('embedded-opentype'),
        url('/brands/bww/fonts/barlow-semi-condensed-black.woff2') format('woff2'),
        url('/brands/bww/fonts/barlow-semi-condensed-black.woff') format('woff'),
        url('/brands/bww/fonts/barlow-semi-condensed-black.ttf') format('truetype'),
        url('/brands/bww/fonts/barlow-semi-condensed-black.svg#BarlowSemiCondensed-Black') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow Semi Condensed Bold';
    src: url('/brands/bww/fonts/barlow-semi-condensed-bold.ttf');
    src: url('/brands/bww/fonts/barlow-semi-condensed-bold.eot?#iefix') format('embedded-opentype'),
        url('/brands/bww/fonts/barlow-semi-condensed-bold.woff2') format('woff2'),
        url('/brands/bww/fonts/barlow-semi-condensed-bold.woff') format('woff'),
        url('/brands/bww/fonts/barlow-semi-condensed-bold.ttf') format('truetype'),
        url('/brands/bww/fonts/barlow-semi-condensed-bold.svg#BarlowSemiCondensed-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --ff--replacement-font: Arial, sans-serif;
    --ff--header: Barlow Semi Condensed Black, var(--ff--replacement-font);
    --ff--header-small: var(--ff--header);
    --ff--subheader: Barlow Semi Condensed Black, var(--ff--replacement-font);
    --ff--subheader-small: Barlow Semi Condensed Bold, var(--ff--replacement-font);
    --ff--pharagraph: Barlow, var(--ff--replacement-font);
    --ff--pharagraph-strong: Barlow Bold, var(--ff--replacement-font);
    --ff--button: Barlow Semi Condensed Black, var(--ff--replacement-font);
    --ff--link: Barlow Bold, var(--ff--replacement-font);
    --ff--tag: Barlow Semi Condensed Bold, var(--ff--replacement-font);
    --ff--title: Barlow Semi Condensed Bold, var(--ff--replacement-font);
}
