/* ---------- unordered lists ---------- */

/* desktop unordered list */
.list-unordered {
    list-style: none;
    padding-left: 0;
}

.list-unordered li {
    padding-left: 15px;
    font-family: var(--ff--pharagraph);
    color: var(--col--dark);
    font-size: 18px;
    line-height: 24px;
}

.list-unordered li::before {
    display: inline-block;
    width: 7px;
    content: '\2022';
    color: var(--col--secondary1);
    font-size: 18px;
    line-height: 24px;
    vertical-align: middle;
}

/* mobile unordered lists */
@media screen and (max-width: 959px) {
    .list-unordered li {
        font-size: 16px;
        line-height: 20px;
    }

    .list-unordered li::before {
        font-size: 16px;
        line-height: 20px;
    }
}

/* unordered checklist */
.list-unordered-checklist {
    list-style: none;
    padding-left: 0;
}

.list-unordered-checklist li {
    padding-left: 12px;
    font-family: var(--ff--pharagraph-strong);
    color: var(--col--dark);
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    letter-spacing: 0.01em;
}

.list-unordered-checklist li:not(:last-child) {
    margin-bottom: 9px;
}

.list-unordered-checklist li::before {
    display: inline-block;
    content: '\2022';
    width: 6px;
    color: var(--col--secondary1);
    font-size: 16px;
    line-height: 18px;
    vertical-align: middle;
}

/* unordered links list */
.list-unordered-links {
    list-style: none;
    padding-left: 0;
    background-color: var(--col--dark);
}

.list-unordered-links li {
    padding-left: 11px;
    font-family: var(--ff--link);
    color: var(--col--light);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 29px;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.list-unordered-links li::before {
    display: inline-block;
    width: 6px;
    padding-right: 5px;
    content: '\2022';
    color: var(--col--primary1);
    font-size: 16px;
    line-height: 29px;
    vertical-align: middle;
}

/* ---------- ordered lists ---------- */

/* desktop ordered list */
.list-ordered {
    list-style: none;
    padding-left: 0;
}

.list-ordered li {
    padding-left: 27px;
    counter-increment: list-ordered-counter;
    font-family: var(--ff--pharagraph);
    color: var(--col--dark);
    font-size: 18px;
    line-height: 24px;
}

.list-ordered li::before {
    content: counter(list-ordered-counter);
    font-family: var(--ff--pharagraph-strong);
    color: var(--col--secondary1);
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}

/* mobile unordered lists */
@media screen and (max-width: 959px) {
    .list-ordered li {
        padding-left: 22px;
        font-size: 16px;
        line-height: 20px;
    }

    .list-ordered li::before {
        font-size: 16px;
        line-height: 20px;
    }
}

/* desktop ordered large list */
.list-ordered-large {
    list-style: none;
    padding-left: 0;
}

.list-ordered-large li {
    counter-increment: list-ordered-large-counter;
    font-family: var(--ff--subheader);
    color: var(--col--dark);
    padding: 29px 0 29px 24px;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    box-shadow: 0 1px 0 #ccc;
}

.list-ordered-large li::before {
    content: counter(list-ordered-large-counter);
    font-family: var(--ff--subheader);
    color: var(--col--secondary1);
    font-size: 28px;
    line-height: 28px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

/* mobile ordered large lists */
@media screen and (max-width: 959px) {
    .list-ordered-large li {
        padding: 19px 0 19px 24px;
        font-size: 24px;
        line-height: 28px;
    }
}

/* desktop ordered alternative(large) list */
.list-ordered-alt {
    list-style: none;
    padding-left: 0;
}

.list-ordered-alt li {
    counter-increment: list-ordered-alt-counter;
    font-family: var(--ff--subheader-small);
    color: var(--col--dark);
    padding: 18px 0 18px 16px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    box-shadow: 0 1px 0 #ccc;
}

.list-ordered-alt li::before {
    content: counter(list-ordered-alt-counter);
    font-family: var(--ff--subheader-small);
    color: var(--col--secondary1);
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

/* mobile ordered alternative(large) lists */
@media screen and (max-width: 959px) {
    .list-ordered-alt li {
        padding: 16px 0 16px 16px;
        font-size: 18px;
        line-height: 20px;
    }
}
