/* ---------- section title ---------- */
.m-category-header {
    margin-bottom: 10px;
    margin-top: 20px;
}

.m-category-header .m-category-header-bullet {
    background-color: var(--col--primary1);
    width: 60px;
    height: 10px;
    margin-bottom: 10px;
}

.m-category-header .m-category-header-text {
    display: inline-block;
    font-family: var(--ff--header);
    color: var(--col--dark);
    line-height: 38px;
    font-size: 38px;
    text-transform: uppercase;
    margin: 0;
}

.m-category-header .m-category-header-notation-text {
    display: inline-block;
    font-family: var(--ff--pharagraph);
    color: var(--col--gray6);
    margin-left: 16px;
    font-size: 16px;
    line-height: 24px;
}

@media (max-width: 768px) {
    .m-category-header .m-category-header-bullet {
        width: 40px;
        height: 8px;
        margin-right: 6px;
    }

    .m-category-header .m-category-header-text {
        font-size: 28px;
        line-height: 28px;
    }

    .m-category-header .m-category-header-notation-text {
        margin-left: 7px;
        font-size: 14px;
        line-height: 22px;
    }
}

/* ---------- quality treatment ---------- */
.m-quality-treatment .m-quality-treatment-icon {
    margin: 0 0 10px;
}

.m-quality-treatment .m-quality-treatment-icon::before {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: var(--col--primary1);
    border-radius: 2px;
    font-family: 'brand-icons' !important;
    color: var(--col--dark);
    font-size: 60px;
    line-height: 60px;
    vertical-align: middle;
    text-align: center;
    content: '\e927';
}

.m-quality-treatment .m-quality-treatment-subheader {
    margin-bottom: 2px;
    font-family: var(--ff--subheader-small);
    color: var(--col--dark);
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.m-quality-treatment .m-quality-treatment-header {
    font-family: var(--ff--subheader);
    color: var(--col--dark);
    font-size: 28px;
    line-height: 28px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .m-quality-treatment {
        display: flex;
    }

    .m-quality-treatment .m-quality-treatment-icon {
        margin: 0 19px 0 0;
    }

    .m-quality-treatment .m-quality-treatment-icon::before {
        width: 44px;
        height: 44px;
        font-size: 44px;
        line-height: 44px;
    }

    .m-quality-treatment .m-quality-treatment-subheader {
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 0;
    }

    .m-quality-treatment .m-quality-treatment-header {
        font-size: 24px;
        line-height: 24px;
    }
}

/* ---------- block treatments ---------- */
.m-block-treatment .m-block-treatment-subtitle {
    color: var(--col--dark);
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.m-block-treatment .m-block-treatment-title {
    margin: 0;
    font-family: var(--ff--header);
    color: var(--col--dark);
    font-weight: bold;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.m-block-treatment-lg .m-block-treatment-subtitle {
    font-family: var(--ff--subheader);
    font-size: 28px;
    line-height: 28px;
}

.m-block-treatment-lg .m-block-treatment-title {
    font-size: 48px;
    line-height: 48px;
}

.m-block-treatment-md .m-block-treatment-subtitle {
    font-family: var(--ff--subheader);
    font-size: 28px;
    line-height: 28px;
}

.m-block-treatment-md .m-block-treatment-title {
    font-size: 40px;
    line-height: 40px;
}

.m-block-treatment-sm .m-block-treatment-subtitle {
    font-family: var(--ff--subheader-small);
    font-size: 20px;
    line-height: 20px;
}

.m-block-treatment-sm .m-block-treatment-title {
    font-size: 26px;
    line-height: 26px;
}

@media (max-width: 768px) {
    .m-block-treatment-lg .m-block-treatment-subtitle {
        font-size: 24px;
        line-height: 24px;
    }

    .m-block-treatment-lg .m-block-treatment-title {
        font-size: 34px;
        line-height: 34px;
    }

    .m-block-treatment-md .m-block-treatment-subtitle {
        font-size: 24px;
        line-height: 24px;
    }

    .m-block-treatment-md .m-block-treatment-title {
        font-size: 30px;
        line-height: 30px;
    }

    .m-block-treatment-sm .m-block-treatment-subtitle {
        font-size: 18px;
        line-height: 18px;
    }

    .m-block-treatment-sm .m-block-treatment-title {
        font-size: 20px;
        line-height: 20px;
    }
}

/* ---------- alt block treatment ---------- */
.m-block-treatment-alt {
    display: flex;
}

.m-block-treatment-alt .m-block-treatment-alt-first-letter {
    margin: 0 8px 0 0;
    font-family: var(--ff--header);
    color: var(--col--primary1variant);
    font-weight: bold;
    font-size: 96px;
    line-height: 96px;
    text-transform: uppercase;
}

.m-block-treatment-alt .m-block-treatment-alt-title {
    margin: 0;
    padding: 15px 0 2px;
    font-family: var(--ff--header);
    color: var(--col--primary1variant);
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.m-block-treatment-alt .m-block-treatment-alt-subtitle {
    margin: 0;
    font-family: var(--ff--subheader);
    color: var(--col--dark);
    font-size: 28px;
    line-height: 28px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .m-block-treatment-alt .m-block-treatment-alt-first-letter {
        font-size: 56px;
        line-height: 76px;
    }

    .m-block-treatment-alt .m-block-treatment-alt-title {
        font-family: var(--ff--subheader);
        padding: 19px 0 2px;
        font-size: 24px;
        line-height: 24px;
    }

    .m-block-treatment-alt .m-block-treatment-alt-subtitle {
        font-family: var(--ff--subheader-small);
        font-size: 18px;
        line-height: 18px;
    }
}
