/* ---------- headers ---------- */

/* desktop headers */
.t-header-hero {
    font-family: var(--ff--header);
    font-size: 74px;
    line-height: 70px;
    font-weight: 900;
    color: var(--col--dark);
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.t-header-h1 {
    font-family: var(--ff--header);
    font-size: 48px;
    line-height: 48px;
    font-weight: 900;
    color: var(--col--dark);
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.t-header-h2 {
    font-family: var(--ff--header);
    font-size: 38px;
    line-height: 38px;
    font-weight: 900;
    color: var(--col--dark);
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.t-header-h3 {
    font-family: var(--ff--header);
    font-size: 26px;
    line-height: 26px;
    font-weight: 900;
    color: var(--col--dark);
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.t-header-card-title {
    font-family: var(--ff--header);
    font-size: 26px;
    line-height: 26px;
    font-weight: 900;
    color: var(--col--dark);
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.t-product-title {
    font-family: var(--ff--title);
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    color: var(--col--dark);
    text-transform: uppercase;
}

/* mobile headers */
@media screen and (max-width: 959px) {
    .t-header-hero {
        font-family: var(--ff--header);
        font-size: 40px;
        line-height: 40px;
        font-weight: 900;
        color: var(--col--dark);
        letter-spacing: 0.01em;
        text-transform: uppercase;
    }

    .t-header-h1 {
        font-family: var(--ff--header);
        font-size: 32px;
        line-height: 32px;
        font-weight: 900;
        color: var(--col--dark);
        letter-spacing: 0.01em;
        text-transform: uppercase;
    }

    .t-header-h2 {
        font-family: var(--ff--header);
        font-size: 28px;
        line-height: 28px;
        font-weight: 900;
        color: var(--col--dark);
        letter-spacing: 0.01em;
        text-transform: uppercase;
    }

    .t-header-h3 {
        font-family: var(--ff--header);
        font-size: 20px;
        line-height: 20px;
        font-weight: 900;
        color: var(--col--dark);
        letter-spacing: 0.01em;
        text-transform: uppercase;
    }

    .t-header-card-title {
        font-family: var(--ff--header);
        font-size: 20px;
        line-height: 20px;
        font-weight: 900;
        color: var(--col--dark);
        letter-spacing: 0.01em;
        text-transform: uppercase;
    }

    .t-product-title {
        font-family: var(--ff--title);
        font-size: 16px;
        line-height: 16px;
        font-weight: 700;
        color: var(--col--dark);
    }
}

/* ---------- subheaders ---------- */

/* desktop subheaders */
.t-subheader-hero {
    font-family: var(--ff--subheader);
    font-size: 56px;
    line-height: 56px;
    color: var(--col--dark);
}

.t-subheader {
    font-family: var(--ff--subheader);
    font-size: 28px;
    line-height: 28px;
    color: var(--col--dark);
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.t-subheader-small {
    font-family: var(--ff--subheader-small);
    font-size: 20px;
    line-height: 20px;
    color: var(--col--dark);
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.t-subheader-smaller {
    font-family: var(--ff--subheader-small);
    font-size: 18px;
    line-height: 20px;
    color: var(--col--dark);
    letter-spacing: 0.01em;
}

/* mobile subheaders */
@media screen and (max-width: 959px) {
    .t-subheader-hero {
        font-family: var(--ff--subheader);
        font-size: 34px;
        line-height: 34px;
        color: var(--col--dark);
        letter-spacing: 0.01em;
    }

    .t-subheader {
        font-family: var(--ff--subheader);
        font-size: 24px;
        line-height: 24px;
        color: var(--col--dark);
        letter-spacing: 0.01em;
        text-transform: uppercase;
    }

    .t-subheader-small {
        font-family: var(--ff--subheader-small);
        font-size: 18px;
        line-height: 18px;
        color: var(--col--dark);
        letter-spacing: 0.01em;
        text-transform: uppercase;
    }

    .t-subheader-smaller {
        font-family: var(--ff--subheader-small);
        font-size: 16px;
        line-height: 16px;
        font-weight: 370;
        color: var(--col--dark);
        letter-spacing: 0.01em;
    }
}

/* universal subheaders */
.t-subheader-universal {
    font-family: var(--ff--subheader-small);
    font-size: 26px;
    line-height: 26px;
    color: var(--col--dark);
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.t-subheader-universal-small {
    font-family: var(--ff--subheader-small);
    font-size: 20px;
    line-height: 20px;
    font-weight: 370;
    color: var(--col--dark);
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.t-subheader-universal-smaller {
    font-family: var(--ff--subheader-small);
    font-size: 16px;
    line-height: 18px;
    font-weight: 370;
    color: var(--col--dark);
    letter-spacing: 0.01em;
}

/* ---------- paragraphs ---------- */

/* desktop paragraphs */
.t-paragraph {
    font-family: var(--ff--pharagraph);
    font-size: 18px;
    line-height: 24px;
    color: var(--col--dark);
}

.t-paragraph-strong {
    font-family: var(--ff--pharagraph-strong);
    font-size: 18px;
    line-height: 24px;
    color: var(--col--dark);
}

.t-paragraph-small {
    font-family: var(--ff--pharagraph);
    font-size: 16px;
    line-height: 20px;
    color: var(--col--dark);
}

.t-paragraph-small-strong {
    font-family: var(--ff--pharagraph-strong);
    font-size: 16px;
    line-height: 20px;
    color: var(--col--dark);
}

.t-paragraph-hint {
    font-family: var(--ff--pharagraph);
    font-size: 14px;
    line-height: 18px;
    color: var(--col--gray6);
}

.t-paragraph-hint-strong {
    font-family: var(--ff--pharagraph-strong);
    font-size: 14px;
    line-height: 18px;
    color: var(--col--gray6);
}

/* mobile paragraphs */
@media screen and (max-width: 959px) {
    .t-paragraph {
        font-family: var(--ff--pharagraph);
        font-size: 16px;
        line-height: 20px;
        color: var(--col--dark);
    }

    .t-paragraph-strong {
        font-family: var(--ff--pharagraph-strong);
        font-size: 16px;
        line-height: 20px;
        color: var(--col--dark);
    }

    .t-paragraph-small {
        font-family: var(--ff--pharagraph);
        font-size: 14px;
        line-height: 18px;
        color: var(--col--dark);
    }

    .t-paragraph-small-strong {
        font-family: var(--ff--pharagraph-strong);
        font-size: 14px;
        line-height: 18px;
        color: var(--col--dark);
    }

    .t-paragraph-hint {
        font-family: var(--ff--pharagraph);
        font-size: 12px;
        line-height: 16px;
        color: var(--col--gray6);
    }

    .t-paragraph-hint-strong {
        font-family: var(--ff--pharagraph-strong);
        font-size: 12px;
        line-height: 16px;
        color: var(--col--gray6);
    }
}

/* ---------- highlight style ---------- */
.t-highlighted {
    background-color: var(--col--dark);
    color: var(--col--light);
}

/* ---------- links ---------- */
.t-link {
    font-family: var(--ff--link);
}

/* ---------- tags ----------- */
.t-tag {
    font-family: var(--ff--tag);
    color: var(--col--light);
    font-size: 14px;
    line-height: 14px;
}
