.secondaryBanner {
    padding: 30px 52px;
}

.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 53px 77px 53px 61px;
}

.columnAligned {
    flex-flow: column;
    text-align: center;
}

.columnAligned .icon {
    margin-bottom: 17px;
}

.columnAligned .mainText {
    margin-left: 0;
    margin-bottom: 10px;
}

.columnAligned .descriptionBlock {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
}

.hasBorder {
    border-top: 1px solid var(--col--gray4);
    border-bottom: 1px solid var(--col--gray4);
}

.secondaryButton {
    white-space: nowrap;
    z-index: 1;
}

.description {
    color: var(--col--dark);
}

.title {
    margin-bottom: 16px;
}

.mainText {
    text-align: center;
    margin-right: 18px;
}

.descriptionBlock {
    font-family: var(--base-font);
    margin-right: 30px;
    flex: 2 1 50%;
}

.icon {
    width: 76px;
    height: 76px;
    border-radius: 2px;
    margin-right: 57px;
}

@media (max-width: 960px) {
    .secondaryBanner {
        padding: 40px 20px 65px;
    }

    .wrapper {
        padding: 30px 30px 50px;
        flex-direction: column;
    }

    .descriptionBlock {
        text-align: center;
        margin: 0;
    }

    .icon {
        width: 44px;
        height: 44px;
        margin-right: 0;
        margin-bottom: 17px;
        align-self: center;
    }

    .mainText {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .title {
        margin-bottom: 6px;
    }

    .secondaryButton {
        position: absolute;
        bottom: 0;
        transform: translateY(50%);
    }
}

@media (min-width: 1441px) {
    .secondaryBanner {
        padding: 30px 0px;
        max-width: 1336px;
        margin: auto;
    }
}

@media (min-width: 960px) {
    /* design go one typography on mobile and another on desktop */
    .title {
        font-size: 40px;
        line-height: 40px;
    }
}

.legalMessage {
    display: inline;
}
