.loader {
    margin-top: 5em;
}

.title {
    margin-bottom: 20px;
}

.container {
    width: 100%;
    flex-direction: column;
    padding: 30px 20px;
}

.orderList {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.orderItem {
    margin: 1em 0;
    padding: 0 1em 1em 1em;
}

.orderItemHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orderItemProductList {
    padding: 0;
    list-style-position: inside;
}