.container {
    margin: 20px 20px 80px;
    max-width: 768px;
}

.buttons {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.buttons > button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: none;
    margin-right: 1px;
    padding: 0;
    height: 60px;
}

.buttons > button:last-child {
    margin-right: 0px;
}
