.verticalProductCard {
    composes: verticalProductCard from './verticalProductCard.vars.css';
    display: flex;
    position: relative;
    flex-direction: column;
    box-sizing: border-box;
    width: var(--card-desktop-width);
    min-width: var(--card-desktop-width);
    height: 301px;
    margin: var(--card-desktop-margin);
    background: var(--card-background);
    box-shadow: var(--card-box-shadow);
    border-radius: var(--card-border-radius);
    border: var(--card-border);
}

.verticalProductCard > a {
    margin-bottom: auto;
    overflow: hidden;
}

.sodiumWarningIcon {
    margin-left: 5px;
    max-height: 18px;
    max-width: fit-content;
}

.itemImage {
    padding: var(--image-desktop-padding);
    width: 100%;
    min-height: var(--image-desktop-min-height);
    box-sizing: border-box;
    align-self: center;
}

.itemDescription {
    padding: 0 10px;
}

.itemName {
    composes: verticalProductCard_ItemName from './verticalProductCard.vars.css';
    text-align: center;
    margin: var(--product-name-margin);
}

.caloriesAndPrice {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.itemActions {
    position: relative;
    display: flex;
    height: 45px;
    max-height: 45px;
    min-height: 45px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    border-top: 1px solid var(--col--gray3);
    padding: 0 10px;
    background: var(--actions-background);
}

.successErrorModal .successErrorModalButtonRow {
    bottom: 0px;
}

.successErrorModalButton {
    width: 100%;
}

@media (max-width: 960px) {
    div.successErrorModal {
        height: 318px;
    }
}

@media (max-width: 767px) {
    .verticalProductCardSideScroll {
        margin-right: 10px;
    }

    .verticalProductCardSideScroll:last-of-type {
        margin-right: 0;
    }

    .verticalProductCard {
        margin: var(--card-mobile-margin);
    }

    .sodiumWarningIcon {
        max-height: 14px;
    }
}

@media (max-width: 767px) and (min-width: 375px) {
    .verticalProductCard {
        width: var(--card-mobile-width);
        min-width: var(--card-mobile-width);
        min-height: 240px;
        height: auto;
    }

    .itemImage {
        padding: var(--image-mobile-padding);
        min-height: var(--image-mobile-min-height);
    }
}

@media (max-width: 374px) {
    .verticalProductCard {
        width: 145px;
        min-width: var(--card-less-mobile-width);
        min-height: 240px;
        height: auto;
    }

    .verticalProductCardSideScroll {
        width: var(--card-mobile-width);
        min-width: var(--card-mobile-width);
        height: 240px;
    }

    .itemImage {
        padding: var(--image-mobile-padding);
        min-height: var(--image-mobile-min-height);
    }
}

.verticalProductCard .productItemButton {
    color: var(--btn-font-color);
}
