.verticalProductCard {
    --card-desktop-width: 205px;
    --card-mobile-width: 158px;
    --card-less-mobile-width: 145px; /* max-width: 374px */
    --card-desktop-margin: 0 20px 20px 0;
    --card-mobile-margin: 0 19px 20px 0;
    --card-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    --card-border: none;
    --card-border-radius: 0px;
    --card-background: var(--col--light);
    --image-mobile-padding: 10px;
    --image-desktop-padding: 10px;
    --image-mobile-min-height: 125px;
    --image-desktop-min-height: 158px;
    --product-name-margin: 0;
    --actions-background: transparent;
    --btn-font-color: var(--col--dark);
}

.verticalProductCard_ItemName {
    composes: t-subheader-small from global;
}
