.container {
    width: 100%;
}

.wrapper {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 15px 50px 15px 85px;
    background-position: 50px center;
    background-size: 30px auto;
    background-repeat: no-repeat;
}

.message {
    line-height: 16px;
}

@media (max-width: 960px) {
    .wrapper {
        padding: 15px 20px 15px 50px;
        background-position: 15px center;
    }

    .message {
        font-size: 14px;
    }
}
