.banner {
    display: flex;
    align-items: center;
    background-color: var(--col--light);
    z-index: 998;
    height: auto;
    padding: 18px 52px;
    box-sizing: border-box;
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.15);
    position: sticky;
    bottom: 0;
}

.text {
    color: var(--col--gray6);
}

.closeButton {
    min-width: 109px;
    height: 50px;
    margin-left: 74px;
}

@media (max-width: 1024px) {
    .banner {
        flex-direction: column;
        height: auto;
        padding: 20px;
        transition: bottom 0.2s ease;
    }

    .closeButton {
        width: 100%;
        margin-left: 0;
        margin-top: 26px;
    }
}
