.section {
    margin-left: 52px;
    margin-right: 52px;
}

.section h1 {
    margin: 0 0 26px;
}

.section h3 {
    margin: 0;
}

.content {
    display: flex;
    align-items: center;
}

.textSection {
    background: var(--col--light);
    border: 1px solid var(--col--gray4);
    margin-right: -94px;
    z-index: 1;
    padding: 40px 40px 20px;
    overflow-wrap: break-word;
    word-break: break-word;
}

.infoBlock {
    padding: 30px 0 0;
}

.infoBlock div:first-child {
    padding-bottom: 12px;
}

.contentDescription {
    padding-top: 10px;
}

.textBlock {
    font-size: 22px;
    line-height: 22px;
    padding-right: 15px;
}

.bottomBlock {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 24px;
}

.buttonCta,
.secondaryButtonCta,
.phoneBlock {
    margin: 0 20px 20px 0;
}

.phoneBlock {
    display: flex;
}

.imageLeftAligned .content {
    flex-direction: row-reverse;
}

.imageLeftAligned .textSection {
    margin-right: 0;
    margin-left: -94px;
}

@media (max-width: 1024px) {
    .section {
        margin-left: 0;
        margin-right: 0;
    }

    .header {
        padding: 0 20px;
    }

    .content,
    .imageLeftAligned .content {
        flex-direction: column-reverse;
    }

    .imageSection {
        width: 100%;
    }

    /* https://stackoverflow.com/questions/44250526/images-height-bug-in-ios/63597497 */
    .imageSection img {
        width: 100%;
        object-fit: contain;
        height: auto;
        align-self: flex-start;
    }

    .textSection,
    .imageLeftAligned .textSection {
        margin: -40px 20px 0;
        padding: 30px;
    }

    .bottomBlock {
        flex-direction: column;
    }

    .buttonCta,
    .secondaryButtonCta {
        width: 100%;
    }

    .buttonCta,
    .secondaryButtonCta,
    .phoneBlock {
        margin: 0 0 15px;
    }
}
