.textArea {
    composes: feedback from './textArea.vars.css';
}

.textAreaInput {
    color: var(--col--dark);
}

.textAreaInput::placeholder {
    color: var(--col--gray6);
    opacity: 1;
}

.textAreaBorder {
    border-radius: var(--border-radius);
}

.textArea .textAreaBorder.textAreaBorder,
.textArea:hover .textAreaBorder,
.textArea:focus .textAreaBorder {
    border-color: var(--col--gray6);
    border-width: 1px;
}
