.counterContainer {
    padding: 6px 0 61px 5px;
    display: flex;
    flex-direction: row;
}

.pointsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.pointsRow {
    display: inline-flex;
    flex-direction: row;
    max-height: 96px;
    align-items: center;
    margin-bottom: 15px;
}

.pointsTextColumn {
    display: flex;
    flex-direction: column;
}

.pointsTitle {
    color: var(--col--secondary5);
    font-weight: 900;
    font-size: 40px;
    line-height: 40px;
    font-family: var(--ff--header);
    text-transform: uppercase;
}

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-right: 60px;
}

.pointsAmount {
    display: inline-flex;
    margin-right: 8px;
    font-weight: 900;
    color: var(--col--secondary5);
    font-family: var(--ff--header);
    font-size: 96px;
    line-height: 96px;
}

.pointsInMyAccount {
    font-family: var(--ff--header);
    font-size: 28px;
    line-height: 28px;
    font-weight: 800;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: var(--col--dark);
}

.pointsDescriptionContainer {
    display: flex;
    flex-direction: column;
    max-width: 394px;
    margin-bottom: 25px;
    align-self: center;
}

.pointsExpirationDate,
.pointsDescription {
    font-weight: 500;
}

.pointsExpirationDate {
    display: inline-flex;
    margin-bottom: 25px;
}

.pointsDescription {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
}

button.findRewardsButton {
    height: 50px;
    padding: 16px 30px;
    border: none;
    font-weight: 800;
    letter-spacing: 0.02em;
    font-family: var(--ff--header);
    margin-right: 15px;
}

button.checkInBtn {
    background-color: var(--col--light);
    width: 133px;
    height: 50px;
    padding: 16px 0;
    border-color: var(--col--dark);
    display: none;
}

.pointsButtonsRow {
    display: flex;
    flex-direction: row;
}

.counterLoader {
    text-align: center;
    padding: 64px 0;
}

.checkinContainer {
    display: none;
}

.checkinTooltip {
    display: none;
}

@media (max-width: 480px) {
    .imageContainer,
    .pointsExpirationDate {
        justify-content: center;
    }

    .pointsRow {
        margin-bottom: 13px;
        max-height: 73px;
        align-self: center;
    }

    .counterContainer {
        flex-direction: column;
        padding: 30px 5px;
    }

    .pointsAmount {
        font-size: 56px;
        line-height: 76px;
    }

    .pointsTitle {
        font-size: 24px;
        line-height: 24px;
    }

    .pointsInMyAccount {
        font-size: 18px;
        line-height: 18px;
        flex-wrap: nowrap;
    }

    .pointsDescription {
        text-align: center;
    }

    .emptyPoints {
        justify-content: center;
    }

    .pointsButtonsRow {
        justify-content: center;
    }

    button.checkInBtn {
        display: flex;
    }

    .checkinContainer {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .checkinLoader svg {
        width: 44px;
    }

    .checkinErrorIcon {
        font-size: 44px;
        color: var(--col--utilityError);
    }

    .checkinCalendarIcon {
        font-size: 24px;
        color: var(--col--dark);
    }

    .checkinIcon {
        margin-bottom: 30px;
        display: flex;
    }

    div.checkinTooltip {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 20px;
    }

    .checkinTooltip div {
        color: var(--col--light);
    }

    .checkinTooltip span {
        font-size: 14px;
        margin-right: 5px;
        color: var(--col--primary1);
    }
}
