.locationsMapWrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    min-height: 100%;
    width: 100%;
}

.locationsSearchWrapper {
    position: absolute;
    background-color: var(--col--light);
    top: 50px;
    right: 50px;
    width: 432px;
    min-width: 432px;
    z-index: 1;
}

@media (max-width: 768px) {
    .locationsMapWrapper {
        position: relative;
        height: 350px;
        min-height: 350px;
    }

    .locationsSearchWrapper {
        position: relative;
        top: 0;
        right: 0;
        width: 100%;
        min-width: 100%;
    }
}

@media (max-width: 482px) {
    .locationsMapWrapper {
        height: 375px;
        min-height: 375px;
    }
}
