.footer {
    --footer-content-border-top: 5px solid transparent;
    --footer-links-block-padding: 0 16px;
    --footer-link-block-margin-bottom: 30px;
    --footer-link-line-height: 16px;
    --footer-link-block-heading-margin: 0 0 12px 0;
    --footer-secondary-block-hint-container-padding: 11px 0 15px 46px;
    --footer-secondary-block-hint-container-padding-mobile: 18px 0 21px 0;
    --footer-secondary-block-links-list-padding: 12px 0 14px 0;
    --footer-secondary-block-links-list-before-content: none;
    --footer-secondary-block-links-list-padding-left: 4px;
    --footer-social-link-block-list-padding: 11px 0 0 0;
    --footer-secondary-bg: var(--col--primary1);
    --footer-secondary-color: var(--col--dark);
    --footer-background-bmage-bottom-mobile: 0;
    --footer-link-block-border: 1px dashed rgba(255, 255, 255, 0.25);
    --footer-secondary-block-links-container-border-mobile: var(--col--dark);
    --footer-margin-top: 60px;
    --footer-margin-top-mobile: 50px;
}
