.list {
    margin-top: 0;
    margin-left: 10px;
}

.list li::before {
    color: var(--col--dark);
}

.contentTopIndent {
    margin-top: 20px;
}

.removeTextTransform {
    text-transform: none;
}
