.signIn {
    --signInText-color: var(--col--light);
    --signInText-font-family: var(--link-label-font-family);
    --signInText-min-width: 65px;
    --signInText-mobile-min-width: 50px;
    --account-menu-link-font-family: var(--ff--pharagraph-strong);
    --logoutButton-font-size: 14px;
    --logoutButton-line-height: 18px;
    --logoutButton-font-weight: bold;
    --logoutButton-text-decoration-line: underline;
    --logoutButton-text-transform: uppercase;
    --chevron-icon-before-color: var(--col--light);
}
