.imageBlock {
    --wrapper-desktop-margin-left: 52px;
    --wrapper-desktop-margin-right: 52px;
    --wrapper-mobile-margin-left: 20px;
    --wrapper-mobile-margin-right: 20px;
    --wrapper-mobile-margin-bottom: 23px;
    --header-display: none;
    --card-padding: 14px;
    --card-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    --card-border-radius: 0px;
    --card-mobile-width: 335px;
    --card-mobile-image-width: 307px;
    --card-mobile-image-height: 249px;
    --card-title-color: var(--col--dark);
    --card-subtitle-color: var(--col--primary1);
    --card-description-color: var(--col--dark);
    --card-description-transform: none;
    --card-description-font-weight: 400;
    --card-button-padding: 12px;
    --card-button-max-width: calc(100% - 56px);

    /* card2 */
    --card2-background: var(--col--light);
    --card2-dektop-margin-right: 25px;
    --card2-desktop-image-width: 235px;
    --card2-desktop-image-height: auto;
    --card2-desktop-textcontent-padding-top: 21px;
    --card2-desktop-textcontent-padding-bottom: 0;
    --card2-padding-bottom: 14px;
    --card2-button-max-width: calc(50% - 91px);

    /* card1 */

    /* image-width - padding-top - padding-bottom */
    --card1-desktop-image-width: calc(362px - 28px);
    --card1-desktop-title-font-size: 40px;
    --card1-desktop-title-line-height: 40px;
    --card1-desktop-subtitle-font-size: 34px;
    --card1-desktop-subtitle-line-height: 34px;

    /* card3 */
    --card3-desktop-max-width: 432px;
    --card3-desktop-image-width: 404px;
    --card3-desktop-image-max-width: auto;
    --card3-desktop-card-width: 100%;
    --card3-textContent-padding: 29px 16px 48px;
}
