.container {
    composes: imageBlock from './imageBlock.vars.css';
}

.wrapper {
    margin-left: var(--wrapper-mobile-margin-left);
    margin-right: var(--wrapper-mobile-margin-right);
}

.header {
    display: var(--header-display);
    padding: 0;
    margin-bottom: 20px;
    margin-left: var(--wrapper-mobile-margin-left);
    margin-right: var(--wrapper-mobile-margin-right);
}

.wrapperLink {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: var(--wrapper-mobile-margin-bottom);
    text-decoration: none;
}

.card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    padding: var(--card-padding);
    background: var(--card2-background);
    max-width: var(--card-mobile-width);
    overflow: hidden;
    border-radius: var(--card-border-radius);
    box-shadow: var(--card-box-shadow);
    margin-top: 30px;
}

.grid1 img,
.grid2 img {
    height: 100%;
}

.image {
    max-width: var(--card-mobile-image-width);
    max-height: var(--card-mobile-image-height);
    display: flex;
    align-self: center;
}

.textContent {
    width: 100%;
    padding: 0 14px;
    box-sizing: border-box;
    padding-top: 24px;
    padding-bottom: 42px;
}

.subtitle {
    color: var(--card-subtitle-color);
}

.title {
    margin: 0;
    color: var(--card-title-color);
    margin-bottom: 10px;
}

.description {
    margin-top: 12px;
    color: var(--card-description-color);
    text-transform: var(--card-description-transform);
    font-weight: var(--card-description-font-weight);
}

.legalMessage {
    margin: 0;
}

.title,
.subtitle,
.description {
    text-align: center;
}

.grid3 .description {
    max-width: 279px;
    margin: 0 auto;
}

.card .cta {
    display: inline-block;
    padding-top: var(--card-button-padding);
    padding-bottom: var(--card-button-padding);
    position: absolute;
    text-align: center;
    bottom: 0;
    transform: translate(-50%, 50%);

    /* 100% - padding-left - padding-right - image offset */
    max-width: var(--card-button-max-width);
    letter-spacing: 0.02em;
    z-index: 1;
}

/* button overflow compensation */
.grid1,
.grid2,
.grid3 {
    padding-bottom: 25px;
}

@media (min-width: 960px) {
    .wrapper {
        margin-left: var(--wrapper-desktop-margin-left);
        margin-right: var(--wrapper-desktop-margin-right);
        display: flex;
        justify-content: space-between;
    }

    .header {
        margin-left: var(--wrapper-desktop-margin-left);
        margin-right: var(--wrapper-desktop-margin-right);
    }

    .card {
        box-sizing: border-box;
        max-width: 100%;
    }

    .textContent {
        padding: 0;
    }

    .textContent,
    .title,
    .subtitle,
    .description {
        text-align: left;
    }

    .image {
        max-height: 100%;
    }

    .wrapperGrid1 {
        width: 100%;
    }

    .grid1 {
        max-height: 300px;
        margin-bottom: 60px;
        padding-bottom: 0px;
    }

    .grid1 .card {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        background: var(--col--light);
        padding-right: 110px;
    }

    .grid1 .image {
        margin-right: 55px;
        margin-bottom: 0;
        max-width: var(--card1-desktop-image-width);
    }

    .grid1 .textContent {
        width: calc(100% - 415px);
    }

    /* TODO: update typography with molecule styles */
    .grid1 .title {
        font-size: var(--card1-desktop-title-font-size);
        line-height: var(--card1-desktop-title-line-height);
    }

    .grid1 .subtitle {
        font-size: var(--card1-desktop-subtitle-font-size);
        line-height: var(--card1-desktop-subtitle-line-height);
    }

    .grid1 .description {
        margin-top: 4px;
        max-width: 100%;
    }

    .grid1 .legalMessage {
        margin: 0;
    }

    .grid2,
    .grid3 {
        padding-bottom: 50px;
    }

    .grid1 .cta {
        position: static;
        margin-top: 20px;
        transform: none;
        max-width: 100%;
    }

    .wrapperLink {
        height: auto;
        margin-bottom: 0;
    }

    .wrapperGrid2 {
        width: 50%;
        height: auto;
        margin-bottom: 0;
    }

    .grid2 .card {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 659px;
        margin-right: 19px;
    }

    .grid2 .image {
        width: var(--card2-desktop-image-width);
        margin-right: var(--card2-dektop-margin-right);
        margin-bottom: 0px;
    }

    .grid2 .textContent {
        padding-top: var(--card2-desktop-textcontent-padding-top);
        padding-bottom: var(--card2-desktop-textcontent-padding-bottom);
        height: 100%;
        width: calc(100% - 305px);
    }

    .grid2 .description {
        margin-top: 14px;
        max-width: 308px;
    }

    .grid2 .legalMessage {
        margin: 0;
    }

    .grid2 .cta {
        display: inline-block;
        transform: translateY(50%);

        /* 50% - padding-left - padding-right - image offset */
        max-width: calc(50% - 91px);
    }

    .grid3 .cta {
        bottom: -26px;
        left: 50%;
        transform: translateX(-50%);
    }

    .wrapperGrid3 {
        width: 33%;
        max-width: var(--card3-desktop-image-max-width);
    }

    .grid3 .card {
        margin: 0;
        width: var(--card3-desktop-image-max-width);
        max-width: var(--card3-desktop-max-width);
        margin-right: 10px;
    }

    .grid3 .image {
        width: var(--card3-desktop-card-width);
        max-width: var(--card3-desktop-image-width);
    }

    .grid3 .textContent,
    .grid3 .title,
    .grid3 .subtitle,
    .grid3 .description {
        text-align: center;
    }

    .grid3 .title {
        margin-bottom: 15px;
    }

    .grid3 .textContent {
        padding: var(--card3-textContent-padding);
        max-width: 372px;
        margin: 0 auto;
    }
}

@media (min-width: 1441px) {
    .grid2 .card {
        padding-right: 57px;
    }
}
