.confirmWrapper {
    padding: 20px;
}

.title {
    margin: 0 0 15px;
}

.label {
    font-family: var(--ff--pharagraph);
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    padding: 0 0 1px 1px;
}

.stateAndZipContainer {
    display: flex;
}

.stateAndZipContainer .stateDropdown {
    display: inline-block;
    width: 67%;
    margin-right: 20px;
}

.stateAndZipContainer .zipCodeInput {
    display: inline-block;
    width: 33%;
}

.submitButton {
    margin: 14px 0 30px;
}

@media screen and (max-width: 959px) {
    .label {
        font-size: 12px;
        line-height: 12px;
    }
}
