.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    outline: none;
    max-height: 320px;
    width: 100%;
    background: var(--col--light);
    bottom: 0;
    z-index: 1000;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 21px 55px;
}

.icon {
    width: 60px;
    height: 60px;
}

.title {
    margin-top: 25px;
    margin-bottom: 10px;
}

.title,
.message {
    text-align: center;
}

.button {
    min-height: 60px;
}

.btnBlock {
    display: flex;
}
