.container {
    width: 150px;
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    border: none;
    box-shadow: 0px 0px 4px 0px #00000026;
    padding: 0px;
    text-align: center;
    cursor: pointer;
}

.iconWrapper {
    position: relative;
    display: block;
    width: 100%;
    height: 58px;
    background: var(--col--gray1);
    margin-bottom: 28px;
}

.icon {
    position: absolute;
    width: 44px;
    height: 44px;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text {
    margin: 0 8px;
}

@media (max-width: 768px) {
    .container {
        width: 125px;
        height: 170px;
    }

    .iconWrapper {
        height: 50px;
    }
}
