.bannerContainer {
    width: 100%;
    margin-top: 20px;
    padding: 0;
    align-self: center;
}

div.sectionLayoutMainContent {
    padding: 0;
}

h2.sectionLayoutMainTitle {
    font-size: 38px;
    line-height: 38px;
    font-family: var(--ff--header);
}

div.sectionBannerWrapper {
    padding: 0;
}

img.sectionBannerIcon {
    width: 44px;
    height: 44px;
    margin-right: 10px;
}

div.sectionBannerMainText {
    margin-left: 0;
}

div.sectionBannerDescriptionBlock {
    margin: 0 45px;
}

div.sectionBannerTitle {
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    font-family: var(--ff--pharagraph);
}

div.sectionBannerDescription {
    font-size: 14px;
    line-height: 18px;
}

@media (max-width: 960px) {
    img.sectionBannerIcon {
        margin-right: 0;
        margin-bottom: 12px;
    }

    div.sectionBannerMainText {
        margin-bottom: 6px;
    }

    div.sectionBannerDescriptionBlock {
        margin: 0 0 20px;
    }

    div.sectionBannerTitle {
        margin-bottom: 6px;
        font-size: 16px;
        line-height: 20px;
    }

    div.sectionBannerDescription {
        font-size: 12px;
        line-height: 16px;
    }

    a.sectionBannerSecondaryButton {
        position: static;
        transform: none;
    }
}
