.startOrderButton {
    --button-display: none;
    --button-color: var(--col--dark);
    --button-font-size: 18px;
    --button-line-heoght: 18px;
    --button-letter-spacing: 0.02em;
    --button-font-family: var(--ff--button);
    --button-background-hover: var(--col--primary1variant);
}
