.button {
    --border-top: none;
    --border-bottom: 1px solid var(--col--gray1);
    --background-color: none;
    --button-padding: 25px;
}

@media (max-width: 768px) {
    .button {
        --button-padding: 20px;
    }
}
