.container {
    composes: container from './SauceIntensity.vars.css';
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.flame {
    font-size: 10px;
}

.intensityText {
    color: var(--col--gray6);
    margin-left: 2px;
}

.mild {
    color: var(--intensity-flame-mild-color);
}

.medium {
    color: var(--intensity-flame-medium-color);
}

.hot {
    color: var(--intensity-flame-hot-color);
}

.wild {
    color: var(--intensity-flame-wild-color);
}

@media (min-width: 768px) {
    .flame {
        font-size: 12px;
    }

    .intensityText {
        margin-left: 7px;
    }
}
