.container {
    /* This colors represent levels of taste intensity.
     * They're not meant to be in contentful theme.
     * But could be added as intensity colors if needed).
     * -------------------------------------------------------
     * Some of the colors matches with BWW theme colors, it doesn't mean you need to replace them with vars.
    */

    --intensity-flame-mild-color: #edb900; /* watches with --col--primary1variant */
    --intensity-flame-medium-color: #ce7433;
    --intensity-flame-hot-color: #bf502f;
    --intensity-flame-wild-color: #a12027; /* watches with --col--secondary4 */
}
