.points {
    color: var(--col--gray6);
    margin-top: 5.63px;
}

.buttonWrap {
    margin-top: auto;
}

.productCard {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
}

@media (max-width: 959px) {
    .modalBtn {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .productCard {
        margin-right: 12px;
    }
}
