.wrapper {
    /* TODO: change grid to flex */
    display: grid;
    padding: 32px 52px 80px;
}

@media (max-width: 1200px) {
    .wrapper {
        padding: 32px 32px 50px;
    }
}

@media (max-width: 960px) {
    .wrapper {
        padding: 16px 20px 50px;
    }
}
