.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    margin: 55px 0 38px;
}

.textContainer {
    margin: 0 1rem;
}

.subHeader {
    font-size: 20px;
    line-height: 20px;
    font-weight: 900;
    margin-bottom: 5px;
}

.description {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
}

.submitButton {
    color: var(--btn-font-color);
    margin: 57px 0 0;
}

@media screen and (max-width: 959px) {
    .submitButton {
        margin: 48px 0 0;
    }

    .container {
        margin: 32px 0 38px;
    }
}
