.container {
    --sectionItem-padding: 0;
    --sectionItem-small-padding: 0;
    --item-border-left: none;
    --line-border-left: none;
    --collapsedTitle-color: var(--col--dark);
    --subItemsContainer-padding: 0 0 0 64px;
    --subItemsContainer-small-padding: 0 12px;
    --subItem-small-margin-bottom: 30px;
    --subItem-padding-right: 76px;
    --subItem-small-padding-right: 0;
    --collapsedItemSection-border-top-color: var(--col--dark);
}
