.bag {
    --header-height: 30px;
    --headerContainer-padding: 25px 0;
    --bagItemContainer-margin: 17px;
    --bagItems-padding: 16px 20px 20px;
    --summaryHeader-margin: 5px 0 15px;
    --unavailableHint-color: var(--col--utilityError);
    --buttons-padding: 0 24px;
    --bagItem-padding: 17px 18px 20px 12px;
    --bagItemLinks-padding: 4px 16px;
    --bag-height: calc(100% - 170px);
}
