.main {
    composes: login from './login.vars.css';
    background-color: var(--main-background-color);
    background-repeat: var(--main-background-repeat);
    background-position: var(--main-background-position);
    padding-bottom: var(--main-padding-bottom);
}

@media (min-width: 960px) {
    .main {
        background-size: 120% 70%;
        background-position-x: 0;
    }
}
