.formikPasswordInput {
    --formik-password-input-invalid-input-color: var(--col--utilityError);
    --formik-password-input-border-radius: 2px;
    --formik-password-input-error-message: var(--ff--pharagraph);
    --formik-password-input-description-color: var(--col--gray6);
}
