.list {
    flex-grow: 1;
    margin: 1em;
    overflow: auto;
}

.listCaption {
    margin: 0 1em;
}

.itemIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0;
}

.itemText {
    padding-right: 4em;
}

.item {
    align-items: center;
    min-height: 5em;
    padding-left: 0;
    padding-right: 0;
}

.qtyButton {
    min-width: 48px;
}

.checkoutButton {
    margin: 1em;
}

.emptyBag {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.emptyBagIcon {
    text-align: center;
}

.emptyBagIcon > svg {
    font-size: 5em;
}
.badge {
    font-size: 2rem;
    color: var(--highlight-color);
    left: -1.5rem;
    position: relative;
}

.emptyBagNotice {
    margin: 1em;
    min-width: 385px;
    font-size: 1.5em;
    text-align: center;
}

.closeButton {
    position: absolute;
    top: .5em;
    right: 1em;
    z-index: 10;
}

.locationBox {
    margin: 1em 1em 1em 1em;
}

.locationDetails {
    display: flex;
    flex-direction: column;
}

.locationLine {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.locationName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 1em;
    max-width: 15em;
}

.locationLabel {
    min-width: 6em;
}

.locationItem {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.85em;
    max-width: 12em;
}

.checkoutLink {
    text-align: center;
}

.modifier {
    display: block;
    line-height: 1;
    margin-left: 2em;
}

@media (max-width: 480px) {
    .modifier {
        display: none;
    }
}

.checkoutLink {
    text-align: center;
}

.bagImage {
    width: 5rem;
    height: 5rem;
}
.discount {
    color: var(--highlight-color);
}