.verticalProductCard {
    --card-desktop-width: 206px;
    --card-mobile-width: 158px;
    --card-less-mobile-width: 145px; /* max-width: 374px */
    --card-desktop-margin: 0 20px 0 0;
    --card-mobile-margin: 0 12px 0 0;
    --card-box-shadow: none;
    --card-border: 1px solid var(--col--gray4);
    --card-border-radius: 0px;
    --card-background: var(--col--light);
    --image-mobile-padding: 0 0 8px 0;
    --image-desktop-padding: 0 0 16px 0;
    --image-mobile-min-height: 125px;
    --image-desktop-min-height: 169px;
    --product-name-margin: 0 0 2px 0;
    --actions-background: var(--col--primary1);
    --btn-font-color: var(--col--light);
}
