.container {
    margin: 31px 52px 0px;
}

.sectionItemsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-right: -20px;
}

.sodiumWrapper {
    margin: 0 52px 40px;
}

.caloriesWrapper {
    margin: 0 52px 40px;
}

.sodiumDivider {
    margin-top: 60px;
    margin-bottom: 44px;
}

.loader {
    padding: 20px 0;
}

@media (max-width: 767px) {
    .container {
        margin: 0;
        padding: 10px 20px;
    }

    .sodiumWrapper {
        margin: 0 0 32px;
        padding: 0 20px;
    }

    .sodiumDivider {
        margin-top: 30px;
        margin-bottom: 24px;
    }

    .caloriesWrapper {
        margin: 0 0 32px;
        padding: 0 20px;
    }
}

@media (max-width: 347px) {
    .sectionItemsContainer {
        justify-content: center;
    }
}
