.inputsRow {
    display: flex;
    flex-direction: row;
}

.inputsRow:first-child {
    margin-top: 20px;
}

.input {
    max-width: 318px;
    margin-right: 20px;
}

.inputLabel {
    font-family: var(--ff--pharagraph);
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 8px;
    font-weight: 500;
}

.shortInput {
    width: 183px;
}

.enterReceiptForm {
    margin-bottom: 20px;
}

.questionIcon {
    font-size: 18px;
    margin-left: 5px;
}

@media (max-width: 960px) {
    .inputsRow {
        flex-direction: column;
        margin-top: 15px;
    }

    .input {
        width: 100%;
        max-width: unset;
    }

    .shortInput {
        width: 100%;
    }

    .submitReceipt {
        width: 100%;
        margin-top: 10px;
    }
}
