.container {
    margin-bottom: 33px;
}

.addCheckBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
}

.anotherAddCheckBox {
    margin: 25px 0 20px;
}

.addCheckBox span {
    margin-left: 10px;
}

.addCheckBox span.addMax {
    color: var(--col--gray6);
    margin: 0 0 0 5px;
    font-size: 14px;
    line-height: 16px;
}

.addGiftCardButton {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
}

.addGiftCardLabels {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.addGiftCardLabelSecondary {
    color: var(--col--gray6);
    font-size: 12px;
}

.appliedCard {
    margin-top: 20px;
}

.message {
    margin-top: 10px;
}

@media screen and (max-width: 960px) {
    .container {
        margin-bottom: 29px;
    }
}

.formWrapper {
    position: relative;
}

.paymentContainer {
    width: 100%;
    height: 275px;
    margin-left: -10px;
}

.paymentContainer iframe {
    width: calc(100% + 20px);
    height: 100%;
}

.paymentOverlay {
    position: absolute;
    background-color: var(--col--light);
    opacity: 0.35;
    height: 75px;
    left: -2px;
    right: -4px;
    bottom: 0;
}

.paymentOverlayHidden {
    display: none;
}

.paymentLoader {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 44px;
}
