.orderButton,
.modifyButton {
    composes: productItemControls from './productItemControls.vars.css';
    line-height: var(--button-line-height);
    color: var(--col--dark);
    letter-spacing: 0em;
    white-space: nowrap;
    box-sizing: border-box;
}

.orderButton {
    padding: 0px;
}

.orderButton:focus {
    outline: revert;
}

.orderButton:hover,
.modifyButton:hover {
    background: none;
}
