<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="<%=htmlWebpackPlugin.options.appUrl%>/brands/<%=htmlWebpackPlugin.options.brandName%>/theme.css" type="text/css" />
    <link rel="stylesheet" href="<%=htmlWebpackPlugin.options.appUrl%>/brands/<%=htmlWebpackPlugin.options.brandName%>/fonts.css" type="text/css" />
    <link rel="stylesheet" href="<%=htmlWebpackPlugin.options.appUrl%>/brands/<%=htmlWebpackPlugin.options.brandName%>/typography.css" type="text/css" />
    <link rel="stylesheet" href="<%=htmlWebpackPlugin.options.appUrl%>/brands/<%=htmlWebpackPlugin.options.brandName%>/brand-icons.css" type="text/css" />
    <link rel="stylesheet" href="<%=htmlWebpackPlugin.options.appUrl%>/brands/<%=htmlWebpackPlugin.options.brandName%>/brand-images.css" type="text/css" />
    <!-- Google Tag Manager -->
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','<%= htmlWebpackPlugin.options.gaTrackingId %>');
    </script>
    <!-- End Google Tag Manager -->
    <script><%= htmlWebpackPlugin.options.newRelicScript %></script>
    <script src="https://cdn.auth0.com/js/auth0/9.16/auth0.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-auth.js"></script>
    <% if (htmlWebpackPlugin.options.production) { %>
        <script>
            window.addEventListener('load', function() {

            function getQueryVariable(href, variable) {
                const [_, query] = href.split('?');
                if (!query) {
                    return false;
                }

                const vars = query.split('&');
                for (var i = 0; i < vars.length; i++) {
                    var [key, value] = vars[i].split('=');
                    if (decodeURIComponent(key) == variable) {
                        return decodeURIComponent(value);
                    }
                }
                return false;
            }

            var isSignup = getQueryVariable(window.location.href, 'screen_hint');

            var config = JSON.parse(
                decodeURIComponent(escape(window.atob('@@config@@')))
            );

            config.internalOptions.page = isSignup ? 'signup' : 'signin';

            var leeway = config.internalOptions.leeway;
            if (leeway) {
                var convertedLeeway = parseInt(leeway);

                if (!isNaN(convertedLeeway)) {
                config.internalOptions.leeway = convertedLeeway;
                }
            }

            var params = Object.assign({
                overrides: {
                __tenant: config.auth0Tenant,
                __token_issuer: config.authorizationServer.issuer
                },
                domain: config.auth0Domain,
                clientID: config.clientID,
                redirectUri: config.callbackURL,
                responseType: 'code'
            }, config.internalOptions);

            var webAuth = new auth0.WebAuth(params);

            window.dispatchEvent(new CustomEvent("authInit", { detail: { webAuth } }));
            })
        </script>
    <% } %>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe
            src="https://www.googletagmanager.com/ns.html?id=<%= htmlWebpackPlugin.options.gaTrackingId %>"
            height="0"
            width="0"
            style="display:none;visibility:hidden">
        </iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="container"></div>
</body>
</html>
