.certificatesSectionLayout {
    display: flex;
    height: 360px;
    padding: 30px 52px 0;
    background-position: left bottom;
    background-repeat: no-repeat;
}

.titleBlock {
    display: flex;
    flex-wrap: wrap;
    min-width: 230px;
    font-family: var(--ff--header);
}

.sectionHeading {
    line-height: 0;
    display: flex;
    flex-direction: column;
    margin-top: 43px;
}

@media (max-width: 900px) {
    .certificatesSectionLayout {
        padding: 28px 52px 20px;
        flex-direction: column;
    }

    .sectionHeading {
        margin: 0;
        margin-bottom: 25px;
    }

    .sectionHeading br {
        /* second and third line in one line for mobiles */
        display: none;
    }
}

@media (max-width: 768px) {
    .certificatesSectionLayout {
        padding: 28px 0 20px;
        flex-direction: column;
    }

    .sectionHeading {
        margin-top: 0;
    }

    .titleBlock {
        padding: 0 20px;
    }
}
