.chip {
    composes: chip from './chip.vars.css';
    font-family: var(--ff--link);
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: var(--col--light);
    background-color: var(--col--dark);
    padding: var(--padding);
}

.clickable.outlined {
    background-color: transparent;
    border: 1px solid var(--col--dark);
    color: var(--col--dark);
}

.clickable.outlined:hover,
.clickable.outlined.selected {
    background-color: var(--col--dark);
    color: var(--col--light);
}

.label,
.labelSmall {
    padding: 0;
}

.sizeSmall {
    height: auto;
}
