.wrapper {
    padding: 32px 52px 80px;
}

.title {
    padding: 12px 0 35px;
    margin: 0;
}

.tilesWrapper {
    /* TODO: change grid to flex */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

@media (max-width: 1200px) {
    .wrapper {
        padding: 32px 32px 80px;
    }

    .tilesWrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 960px) {
    .wrapper {
        padding: 16px 20px 50px;
    }

    .title {
        padding-bottom: 26px;
    }
}

@media (max-width: 768px) {
    .tilesWrapper {
        grid-template-columns: repeat(1, 1fr);
        gap: 0px;
    }

    .headerGroup {
        padding: 0 20px;
    }

    .wrapper {
        padding: 16px 0 50px;
    }
}
