.cardContainer {
    box-shadow: 0px 0px 30px #00000026;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    /* max-width: 405px; */
    min-width: 405px;
    width: 100%;
    flex-grow: 1;
}

.cardContainer.disabled {
    opacity: 0.5;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.cardTop {
    display: flex;
    height: 110px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-right: 5px solid var(--col--light);
    box-sizing: border-box;
    width: 100%;
}

.cardTop:focus:not(:focus-visible) {
    outline: none;
}

.textContainer {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
}

.priceAndCalories {
    color: var(--col--gray6);
    display: flex;
}

.imageWrapper {
    margin: 10px;
}

.imageWrapper img {
    max-width: 100%;
    max-height: 100%;
}

.cardSelected .cardTop {
    border-right: 5px solid var(--col--primary1);
}

.checkbox {
    margin-right: 15px;
}

.itemSizeSelection {
    border-bottom: none;
}

.itemSizeSelection:first-of-type {
    border-left: none;
}

.itemSizeSelection:last-of-type {
    border-right: none;
}

.modifyContainer {
    display: flex;
    align-items: baseline;
    padding: 15px 22px 16px;
    border-top: 1px solid var(--col--gray4);
}

.modifications {
    margin-left: 8px;
    font-family: var(--base-font);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: var(--col--gray6);
}

.requireSelection {
    color: var(--col--utilityError);
}

@media (max-width: 959px) {
    .cardTop {
        height: 90px;
    }

    .imageWrapper {
        max-width: 93px;
    }
}

@media (max-width: 768px) {
    .cardContainer {
        width: 330px;
        min-width: 330px;
        max-width: 100%;
    }

    .heading {
        font-size: 22px;
        line-height: 22px;
    }
}
