.dealsContainer {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 200px;
}

.carouselContainer {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15), inset 0 0 20px rgba(0, 0, 0, 0.15);
}

.dealsHeading {
    margin-bottom: 15px;
}

.rightArrow,
.leftArrow {
    width: 32px;
    height: 32px;
    top: 28px;
    font-size: 1.5rem !important;
}

.rightArrow {
    right: 0 !important;
}

.leftArrow {
    left: -16px !important;
}

.dealsHeader {
    margin-top: 5px;
    margin-bottom: 10px;
}

.unavailableDeals {
    opacity: 0.5;
}

@media screen and (min-width: 960px) {
    .dealsHeader {
        font-size: 20px;
    }
}
