.locationMethodTab {
    --details-container-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    --details-container-background-color: var(--col--light);
    --details-container-border: none;
    --details-container-border-radius: 0;
    --background-line-background-color: transparent;
}
