.methodTabWrapper {
    composes: locationMethodTab from './locationMethodTab.vars.css';
}

.detailsContainer {
    margin: 20px 20px 0;
    background-color: var(--details-container-background-color);
    text-align: center;
    padding: 0 30px;
    box-shadow: var(--details-container-box-shadow);
    border: var(--details-container-border);
    border-radius: var(--details-container-border-radius);
    box-sizing: border-box;
    z-index: 900;
}

.startOrderCtaWrapper {
    padding: 20px;
}

.backgroundLine {
    background-color: var(--background-line-background-color);
    width: 100%;
    height: 110px;
    margin-bottom: -110px;
}

.title {
    font-family: var(--ff--subheader-small);
    padding-top: 17px;
    color: var(--col--primary1);
}

.displayName {
    line-height: 22px;
}

.withLink {
    text-decoration-line: underline;
}

.address {
    margin: 5px 0;
    color: var(--col--dark);
}

.phoneLink {
    margin-bottom: 8px;
}

.changeLocationButton {
    margin: 8px 0 17px;
    color: var(--col--dark);
}

.statusText {
    color: var(--col--gray6);
}
