.locationHours {
    flex-basis: 60%;
    padding-right: 75px;
    border-right: 1px solid var(--col--gray4);
}

.locationHeader {
    margin: 0;
}

.storeStatus {
    margin-bottom: 15px;
    font-weight: 500;
    color: var(--col--gray6);
}

.storeStatusClosingSoon {
    color: var(--col--utilityError);
}

.hoursDetailsList {
    margin: 0 28px 0 0;
    padding: 0;
    list-style-type: none;
}

.hoursDetailsItem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
    padding: 0;
}

.hoursDetailsItemSelected {
    color: var(--col--secondary4);
}

.hoursDetailsItem::before {
    content: '';
}

.hoursDetailsItem:last-child {
    margin-bottom: 0;
}

.day {
    margin-right: 10px;
    font-weight: 700;
    color: inherit;
}

.time {
    font-family: var(--ff--pharagraph);
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

@media (max-width: 1219px) {
    .locationHours {
        padding-right: 40px;
    }

    .hoursDetailsList {
        margin: 0;
    }
}

@media (max-width: 767px) {
    .storeStatus {
        margin-bottom: 10px;
    }

    .locationHours {
        flex-basis: auto;
        padding-right: 0;
        border-right: none;
        border-bottom: 1px solid var(--col--gray4);
    }

    .locationHeader {
        margin-top: 20px;
    }

    .hoursStatus {
        margin-bottom: 10px;
    }

    .hoursDetailsItem:last-child {
        margin-bottom: 18px;
    }
}
