.idleScreen {
    composes: idleScreen from './idleScreen.vars.css';
    display: flex;
    flex-direction: column;
    height: var(--height);
    box-sizing: border-box;
}

.notFound {
    flex-grow: 1;
    padding: 10px 50px;
}

.allLocationsLink {
    padding: 20px;
    text-align: right;
}

.icon {
    width: 76px;
    height: auto;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .idleScreen {
        padding: 0;
        height: auto;
    }

    .allLocationsLink {
        padding: 20px 20px 50px;
    }

    .notFound {
        display: none;
    }
}
