.wrapper {
    width: 100%;
}

.countryDetailsWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 20px 0;
}

.title {
    font-family: var(--ff--subheader);
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: var(--col--dark);
}

.details {
    font-family: var(--ff--subheader);
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: var(--col--dark);
    padding-left: 15px;
}

@media (max-width: 768px) {
    .title {
        font-size: 24px;
        line-height: 24px;
    }

    .details {
        font-size: 20px;
        line-height: 20px;
    }

    .countryDetailsWrapper {
        margin: 10px 0;
    }
}
