.main {
    margin-top: 20px;
}

.checkBoxContainer {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
}

.checkBox {
    display: none;
}

.checkBoxLabel {
    display: inline-block;
    width: 100%;
    margin-left: 10px;
    cursor: pointer;
}
