@font-face {
    font-family: 'brand-icons';
    src: url('/brands/jje/fonts/brand-icons.eot?o9yg5i');
    src: url('/brands/jje/fonts/brand-icons.eot?o9yg5i#iefix') format('embedded-opentype'),
        url('/brands/jje/fonts/brand-icons.ttf?o9yg5i') format('truetype'),
        url('/brands/jje/fonts/brand-icons.woff?o9yg5i') format('woff'),
        url('/brands/jje/fonts/brand-icons.svg?o9yg5i#brand-icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.brand-icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'brand-icons' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.brand-icon::before {
    color: var(--col--dark);
}

.brand-icon.colorful::before {
    color: var(--col--primary1);
}

.brand-icon.gray6::before {
    color: var(--col--gray6);
}

/* ---------- primitive glyphs ---------- */
.brand-icon.navigation-bag::before {
    content: '\e900';
}

.brand-icon.brand-fave::before {
    content: '\e901';
}

.brand-icon.brand-flying-sandwich::before {
    content: '\e902';
}

.brand-icon.brand-star::before {
    content: '\e903';
}

.brand-icon.brand-point::before {
    content: '\e904';
}

.brand-icon.brand-rocker::before {
    content: '\e905';
}

.brand-icon.brand-thumbs-up::before {
    content: '\e906';
}

.brand-icon.nav-location::before {
    content: '\e907';
}

.brand-icon.nav-account::before {
    content: '\e908';
}

.brand-icon.nav-reorder-logo::before {
    content: '\e909';
}

.brand-icon.nav-reorder-back::before {
    content: '\e90a';
}

.brand-icon.order-delivery-success::before {
    content: '\e90b';
}

.brand-icon.order-pickup::before {
    content: '\e90c';
}

.brand-icon.order-delivery::before {
    content: '\e90d';
}

.brand-icon.pin::before {
    content: '\e90e';
}

.brand-icon.action-chat::before {
    content: '\e90f';
}

.brand-icon.other-delivery::before {
    content: '\e910';
}

.brand-icon.action-map::before {
    content: '\e911';
}

.brand-icon.info-error::before {
    content: '\e912';
}

.brand-icon.info-gift-card::before {
    content: '\e913';
}

.brand-icon.other-delivery-account-circle::before {
    content: '\e915';
}

.brand-icon.TypeGroup-Order::before {
    content: '\e917';
}

.brand-icon.other-delivery-pickup::before {
    content: '\e91d';
}

.brand-icon.action-print::before {
    content: '\e91e';
}

.brand-icon.action-delete::before {
    content: '\e91f';
}

.brand-icon.brand-star-outline::before {
    content: '\e923';
}

.brand-icon.deals-hours::before {
    content: '\e914';
}

.brand-icon.info-card::before {
    content: '\e916';
}

.brand-icon.info-star-filled::before {
    content: '\e918';
}

.brand-icon.info-star::before {
    content: '\e919';
}

.brand-icon.info-mail::before {
    content: '\e91a';
}

.brand-icon.unlisted-r-mark::before {
    content: '\e91b';
}

.brand-icon.info-question::before {
    content: '\e91c';
}

.brand-icon.action-phone::before {
    content: '\e920';
}

.brand-icon.action-favorite::before {
    content: '\e921';
}

.brand-icon.action-favorite-filled::before {
    content: '\e922';
}

.brand-icon.action-add::before {
    content: '\e924';
}

.brand-icon.action-check::before {
    content: '\e926';
}

.brand-icon.action-close::before {
    content: '\e927';
}

.brand-icon.navigation-hamburger::before {
    content: '\e928';
}

.brand-icon.action-edit::before {
    content: '\e929';
}

.brand-icon.action-open-in-new::before {
    content: '\e92b';
}

.brand-icon.navigation-history::before {
    content: '\e92c';
}

.brand-icon.action-location-filled::before {
    content: '\e92e';
}

.brand-icon.direction-down::before {
    content: '\e92f';
}

.brand-icon.action-search::before {
    content: '\e931';
}

.brand-icon.action-subtract::before {
    content: '\e932';
}

.brand-icon.direction-left::before {
    content: '\e933';
}

.brand-icon.direction-right::before {
    content: '\e934';
}

.brand-icon.direction-up::before {
    content: '\e935';
}

.brand-icon.action-calendar::before {
    content: '\e936';
}

.brand-icon.action-filter::before {
    content: '\e939';
}

.brand-icon.info-ban::before {
    content: '\e93a';
}

.brand-icon.info-invisible::before {
    content: '\e93c';
}

.brand-icon.info-visible::before {
    content: '\e93d';
}

.brand-icon.other-delivery-available-check-outer::before {
    content: '\e94d';
}

.brand-icon.other-delivery-available-check-inner::before {
    content: '\e94e';
}

/* ---------- create complex icons via combining existing ones ---------- */

/* complex icons for Arby's brand are no-meat, delivery-unavailable, delivery-available  */
