@font-face {
    font-family: 'Blankenhorn LL';
    src: url('/brands/jje/fonts/blankenhorn-ll.woff2') format('woff2');
    src: url('/brands/jje/fonts/blankenhorn-ll.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Knockout-31 Junior Middlewt';
    src: url('/brands/jje/fonts/knockout-31-junior-middlewt.eot?#iefix') format('embedded-opentype'),
        url('/brands/jje/fonts/knockout-31-junior-middlewt.woff2') format('woff2'),
        url('/brands/jje/fonts/knockout-31-junior-middlewt.woff') format('woff'),
        url('/brands/jje/fonts/knockout-31-junior-middlewt.ttf') format('truetype'),
        url('/brands/jje/fonts/knockout-31-junior-middlewt.svg#Knockout-31JuniorMiddlewt') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Knockout-51 Middlewt';
    src: url('/brands/jje/fonts/knockout-51-middlewt.eot?#iefix') format('embedded-opentype'),
        url('/brands/jje/fonts/knockout-51-middlewt.woff2') format('woff2'),
        url('/brands/jje/fonts/knockout-51-middlewt.woff') format('woff'),
        url('/brands/jje/fonts/knockout-51-middlewt.ttf') format('truetype'),
        url('/brands/jje/fonts/knockout-51-middlewt.svg#Knockout-51Middleweight') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Knockout-69 Full Litewt';
    src: url('/brands/jje/fonts/knockout-69-full-litewt.eot?#iefix') format('embedded-opentype'),
        url('/brands/jje/fonts/knockout-69-full-litewt.woff2') format('woff2'),
        url('/brands/jje/fonts/knockout-69-full-litewt.woff') format('woff'),
        url('/brands/jje/fonts/knockout-69-full-litewt.ttf') format('truetype'),
        url('/brands/jje/fonts/knockout-69-full-litewt.svg#Knockout-69FullLiteweight') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Knockout-71 Full Middlewt';
    src: url('/brands/jje/fonts/knockout-71-full-middlewt.eot?#iefix') format('embedded-opentype'),
        url('/brands/jje/fonts/knockout-71-full-middlewt.woff2') format('woff2'),
        url('/brands/jje/fonts/knockout-71-full-middlewt.woff') format('woff'),
        url('/brands/jje/fonts/knockout-71-full-middlewt.ttf') format('truetype'),
        url('/brands/jje/fonts/knockout-71-full-middlewt.svg#Knockout-71FullMiddlewt') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Knockout-74 Full Sumo';
    src: url('/brands/jje/fonts/knockout-74-full-sumo.eot?#iefix') format('embedded-opentype'),
        url('/brands/jje/fonts/knockout-74-full-sumo.woff2') format('woff2'),
        url('/brands/jje/fonts/knockout-74-full-sumo.woff') format('woff'),
        url('/brands/jje/fonts/knockout-74-full-sumo.ttf') format('truetype'),
        url('/brands/jje/fonts/knockout-74-full-sumo.svg#Knockout-74FullSumo') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --ff--replacement-font: Arial, sans-serif;
    --ff--header: Knockout-74 Full Sumo, var(--ff--replacement-font);
    --ff--header-small: Knockout-71 Full Middlewt, var(--ff--header);
    --ff--subheader: Knockout-69 Full Litewt, var(--ff--replacement-font);
    --ff--subheader-small: Knockout-51 Middlewt, var(--ff--replacement-font);
    --ff--pharagraph: Knockout-31 Junior Middlewt, var(--ff--replacement-font);
    --ff--pharagraph-strong: Knockout-51 Middlewt, var(--ff--replacement-font);
    --ff--button: Knockout-71 Full Middlewt, var(--ff--replacement-font);
    --ff--link: Knockout-51 Middlewt, var(--ff--replacement-font);
    --ff--stylized: Blankenhorn LL, var(--ff--replacement-font);
}
