/* ---------- unordered lists ---------- */

/* desktop unordered list */
.list-unordered {
    list-style: none;
    padding-left: 0;
}

.list-unordered li {
    padding-left: 17px;
    font-family: var(--ff--pharagraph);
    color: var(--col--dark);
    font-size: 20px;
    line-height: 26px;
}

.list-unordered li::before {
    display: inline-block;
    width: 7px;
    content: '\2022';
    color: var(--col--primary1);
    font-size: 20px;
    line-height: 26px;
    vertical-align: middle;
}

/* mobile unordered lists */
@media screen and (max-width: 959px) {
    .list-unordered li {
        font-size: 18px;
        line-height: 22px;
    }

    .list-unordered li::before {
        font-size: 18px;
        line-height: 22px;
    }
}

/* unordered checklist */
.list-unordered-checklist {
    list-style: none;
    padding-left: 0;
}

.list-unordered-checklist li {
    padding-left: 24px;
    font-family: var(--ff--pharagraph-strong);
    color: var(--col--dark);
    font-size: 18px;
    line-height: 24px;
    font-feature-settings: 'ss02' on;
}

.list-unordered-checklist li:not(:last-child) {
    margin-bottom: 4px;
}

.list-unordered-checklist li::before {
    font-family: 'brand-icons' !important;
    content: '\e926';
}

/* unordered links list */
.list-unordered-links {
    list-style: none;
    padding-left: 0;
    background-color: var(--col--dark);
}

.list-unordered-links li {
    padding-left: 11px;
    font-family: var(--ff--link);
    color: var(--col--light);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 29px;
    text-decoration-line: underline;
    text-transform: uppercase;
    font-feature-settings: 'ss02' on;
}

.list-unordered-links li::before {
    display: inline-block;
    width: 6px;
    padding-right: 5px;
    content: '\2022';
    color: var(--col--primary1);
    font-size: 18px;
    line-height: 29px;
    vertical-align: middle;
}

/* ---------- ordered lists ---------- */

/* desktop ordered list */
.list-ordered {
    list-style: none;
    padding-left: 0;
}

.list-ordered li {
    counter-increment: list-ordered-counter;
    padding-left: 27px;
    font-family: var(--ff--pharagraph);
    color: var(--col--dark);
    font-size: 20px;
    line-height: 26px;
    font-feature-settings: 'ss02' on;
}

.list-ordered li::before {
    content: counter(list-ordered-counter);
    font-family: var(--ff--stylized);
    color: var(--col--primary1);
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.04em;
    font-feature-settings: 'ss02' on;
}

/* mobile unordered lists */
@media screen and (max-width: 959px) {
    .list-ordered li {
        padding-left: 24px;
        font-size: 16px;
        line-height: 24px;
    }

    .list-ordered li::before {
        font-size: 20px;
        line-height: 22px;
    }
}

/* desktop ordered large list */
.list-ordered-large {
    position: relative;
    list-style: none;
    padding-left: 0;
}

.list-ordered-large li {
    counter-increment: list-ordered-large-counter;
    font-family: var(--ff--pharagraph-strong);
    color: var(--col--dark);
    margin-left: 29px;
    padding: 23px 0;
    font-size: 26px;
    line-height: 38px;
    text-transform: uppercase;
    font-feature-settings: 'ss02' on;
    box-shadow: 0 1px 0 #ccc;
}

.list-ordered-large li::before {
    position: absolute;
    left: -29px;
    content: counter(list-ordered-large-counter);
    font-family: var(--ff--stylized);
    color: var(--col--primary1);
    font-size: 34px;
    line-height: 38px;
    letter-spacing: 0.04em;
    font-feature-settings: 'ss02' on;
}

/* mobile ordered large lists */
@media screen and (max-width: 959px) {
    .list-ordered-large li {
        margin-left: 20px;
        padding: 19px 0;
        font-size: 22px;
        line-height: 26px;
    }

    .list-ordered-large li::before {
        left: -20px;
        font-size: 24px;
        line-height: 26px;
    }
}

/* desktop ordered alternative(large) list */
.list-ordered-alt {
    position: relative;
    list-style: none;
    padding-left: 0;
}

.list-ordered-alt li {
    counter-increment: list-ordered-alt-counter;
    font-family: var(--ff--subheader-small);
    color: var(--col--dark);
    margin-left: 20px;
    padding: 15px 0;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    font-feature-settings: 'ss02' on;
    box-shadow: 0 1px 0 #ccc;
}

.list-ordered-alt li::before {
    position: absolute;
    left: -20px;
    content: counter(list-ordered-alt-counter);
    color: var(--col--primary1);
    font-family: var(--ff--stylized);
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.04em;
    font-feature-settings: 'ss02' on;
}

/* mobile ordered alternative(large) lists */
@media screen and (max-width: 959px) {
    .list-ordered-alt li {
        padding: 14px 0;
        font-size: 18px;
        line-height: 26px;
    }

    .list-ordered-alt li::before {
        font-size: 22px;
        line-height: 26px;
    }
}
