/* ---------- section title ---------- */
.m-category-header {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    margin-top: 20px;
}

.m-category-header .m-category-header-bullet {
    height: 34px;
}

.m-category-header .m-category-header-bullet::before {
    font-family: 'brand-icons' !important;
    content: '\e903';
    color: var(--col--primary1);
    font-size: 24px;
    line-height: 34px;
    vertical-align: text-bottom;
    margin-right: 10px;
}

.m-category-header .m-category-header-text {
    text-transform: uppercase;
    font-family: var(--ff--header-small);
    color: var(--col--dark);
    line-height: 34px;
    font-size: 34px;
    font-weight: 415;
    margin: 0;
}

/* TODO no notation text design for jje, arby's styles used instead */
.m-category-header .m-category-header-notation-text {
    align-self: flex-end;
    font-family: var(--ff--pharagraph);
    margin-left: 26px;
    font-size: 16px;
    line-height: 24px;
    color: var(--col--gray6);
}

@media (max-width: 768px) {
    .m-category-header {
        margin-bottom: 10px;
    }

    .m-category-header .m-category-header-bullet {
        height: 24px;
    }

    .m-category-header .m-category-header-bullet::before {
        font-size: 18px;
        line-height: 18px;
    }

    .m-category-header .m-category-header-text {
        font-size: 24px;
        line-height: 24px;
    }

    .m-category-header .m-category-header-notation-text {
        margin-left: 7px;
        font-size: 14px;
        line-height: 22px;
    }
}

/* ---------- quality treatment ---------- */
.m-quality-treatment .m-quality-treatment-icon {
    margin: 0 0 23px;
}

.m-quality-treatment .m-quality-treatment-icon::before {
    display: inline-block;
    font-family: 'brand-icons' !important;
    font-size: 60px;
    line-height: 33px;
    vertical-align: middle;
    text-align: center;
    content: '\e902';
}

.m-quality-treatment .m-quality-treatment-subheader {
    margin-bottom: 2px;
    font-family: var(--ff--stylized);
    color: var(--col--primary1);
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.04em;
}

.m-quality-treatment .m-quality-treatment-header {
    font-family: var(--ff--subheader-small);
    color: var(--col--dark);
    font-size: 26px;
    line-height: 26px;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .m-quality-treatment {
        display: flex;
    }

    .m-quality-treatment .m-quality-treatment-icon {
        margin: 0 19px 0 0;
    }

    .m-quality-treatment .m-quality-treatment-icon::before {
        font-size: 44px;
        line-height: 48px;
    }

    .m-quality-treatment .m-quality-treatment-subheader {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 0;
    }

    .m-quality-treatment .m-quality-treatment-header {
        font-size: 22px;
        line-height: 22px;
    }
}

/* ---------- block treatments ---------- */
.m-block-treatment .m-block-treatment-subtitle {
    font-family: var(--ff--stylized);
    color: var(--col--dark);
    letter-spacing: 0.04em;
}

.m-block-treatment .m-block-treatment-title {
    margin: 0;
    color: var(--col--dark);
    text-transform: uppercase;
}

.m-block-treatment-lg .m-block-treatment-subtitle {
    font-size: 34px;
    line-height: 38px;
}

.m-block-treatment-lg .m-block-treatment-title {
    font-family: var(--ff--header);
    letter-spacing: -0.02em;
    font-size: 40px;
    line-height: 40px;
}

.m-block-treatment-md .m-block-treatment-subtitle {
    font-size: 34px;
    line-height: 38px;
}

.m-block-treatment-md .m-block-treatment-title {
    font-family: var(--ff--header);
    letter-spacing: -0.02em;
    font-size: 32px;
    line-height: 32px;
}

.m-block-treatment-sm .m-block-treatment-subtitle {
    font-size: 22px;
    line-height: 26px;
}

.m-block-treatment-sm .m-block-treatment-title {
    font-family: var(--ff--header-small);
    font-size: 24px;
    line-height: 24px;
}

@media (max-width: 768px) {
    .m-block-treatment-lg .m-block-treatment-subtitle {
        font-size: 24px;
        line-height: 26px;
    }

    .m-block-treatment-lg .m-block-treatment-title {
        font-size: 28px;
        line-height: 24px;
    }

    .m-block-treatment-md .m-block-treatment-subtitle {
        font-size: 24px;
        line-height: 26px;
    }

    .m-block-treatment-md .m-block-treatment-title {
        font-size: 24px;
        line-height: 24px;
    }

    .m-block-treatment-sm .m-block-treatment-subtitle {
        font-size: 20px;
        line-height: 22px;
    }

    .m-block-treatment-sm .m-block-treatment-title {
        font-size: 20px;
        line-height: 20px;
    }
}

/* ---------- alt block treatment ---------- */
.m-block-treatment-alt {
    display: flex;
}

.m-block-treatment-alt .m-block-treatment-alt-first-letter {
    margin: 0 8px 0 0;
    font-family: var(--ff--header);
    color: var(--col--primary1);
    font-size: 78px;
    line-height: 74px;
    text-transform: uppercase;
}

.m-block-treatment-alt .m-block-treatment-alt-title {
    margin: 0;
    padding: 2px 0;
    font-family: var(--ff--header);
    color: var(--col--primary1);
    font-size: 32px;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: -0.02em;
}

.m-block-treatment-alt .m-block-treatment-alt-subtitle {
    margin: 0;
    font-family: var(--ff--stylized);
    color: var(--col--dark);
    font-size: 34px;
    line-height: 34px;
    letter-spacing: 0.04em;
}

@media (max-width: 768px) {
    .m-block-treatment-alt .m-block-treatment-alt-first-letter {
        font-size: 60px;
        line-height: 54px;
        letter-spacing: -0.02em;
    }

    .m-block-treatment-alt .m-block-treatment-alt-title {
        font-size: 24px;
        line-height: 24px;
    }

    .m-block-treatment-alt .m-block-treatment-alt-subtitle {
        font-size: 24px;
        line-height: 26px;
    }
}
