/* ---------- headers ---------- */

/* desktop headers */
.t-header-hero {
    font-family: var(--ff--header);
    font-size: 64px;
    line-height: 64px;
    font-weight: 430;
    color: var(--col--dark);
    text-transform: uppercase;
}

.t-header-h1 {
    font-family: var(--ff--header);
    font-size: 40px;
    line-height: 40px;
    font-weight: 430;
    color: var(--col--dark);
    text-transform: uppercase;
}

.t-header-h2 {
    font-family: var(--ff--header-small);
    font-size: 34px;
    line-height: 34px;
    font-weight: 415;
    color: var(--col--dark);
    text-transform: uppercase;
}

.t-header-h3 {
    font-family: var(--ff--header-small);
    font-size: 24px;
    line-height: 24px;
    font-weight: 415;
    color: var(--col--dark);
    text-transform: uppercase;
}

.t-header-card-title {
    font-family: var(--ff--header-small);
    font-size: 24px;
    line-height: 24px;
    font-weight: 415;
    color: var(--col--dark);
    text-transform: uppercase;
}

/* mobile headers */
@media screen and (max-width: 959px) {
    .t-header-hero {
        font-family: var(--ff--header);
        font-size: 40px;
        line-height: 40px;
        font-weight: 430;
        color: var(--col--dark);
        text-transform: uppercase;
    }

    .t-header-h1 {
        font-family: var(--ff--header);
        font-size: 28px;
        line-height: 28px;
        font-weight: 430;
        color: var(--col--dark);
        text-transform: uppercase;
    }

    .t-header-h2 {
        font-family: var(--ff--header-small);
        font-size: 24px;
        line-height: 24px;
        font-weight: 415;
        color: var(--col--dark);
        text-transform: uppercase;
    }

    .t-header-h3 {
        font-family: var(--ff--header-small);
        font-size: 20px;
        line-height: 20px;
        font-weight: 415;
        color: var(--col--dark);
        text-transform: uppercase;
    }

    .t-header-card-title {
        font-family: var(--ff--header-small);
        font-size: 20px;
        line-height: 20px;
        font-weight: 415;
        color: var(--col--dark);
        text-transform: uppercase;
    }
}

/* ---------- subheaders ---------- */

/* desktop subheaders */
.t-subheader-hero {
    font-family: var(--ff--subheader);
    font-size: 56px;
    line-height: 56px;
    font-weight: 405;
    color: var(--col--dark);
}

.t-subheader-hero.t-stylized {
    font-family: var(--ff--stylized);
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: var(--col--dark);
}

.t-subheader {
    font-family: var(--ff--subheader-small);
    font-size: 26px;
    line-height: 26px;
    font-weight: 370;
    color: var(--col--dark);
    text-transform: uppercase;
}

.t-subheader.t-stylized {
    font-family: var(--ff--stylized);
    font-size: 34px;
    line-height: 38px;
    font-weight: 400;
    letter-spacing: 0.04em;
    color: var(--col--dark);
}

.t-subheader-small {
    font-family: var(--ff--subheader-small);
    font-size: 20px;
    line-height: 20px;
    font-weight: 370;
    color: var(--col--dark);
    text-transform: uppercase;
}

.t-subheader-small.t-stylized {
    font-family: var(--ff--stylized);
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0.04em;
    color: var(--col--dark);
}

.t-subheader-smaller {
    font-family: var(--ff--subheader-small);
    font-size: 18px;
    line-height: 20px;
    font-weight: 370;
    color: var(--col--dark);
}

/* mobile subheaders */
@media screen and (max-width: 959px) {
    .t-subheader-hero {
        font-family: var(--ff--subheader);
        font-size: 34px;
        line-height: 34px;
        font-weight: 405;
        color: var(--col--dark);
    }

    .t-subheader-hero.t-stylized {
        font-family: var(--ff--stylized);
        font-size: 40px;
        line-height: 40px;
        font-weight: 400;
        letter-spacing: 0.05em;
        color: var(--col--dark);
    }

    .t-subheader {
        font-family: var(--ff--subheader-small);
        font-size: 22px;
        line-height: 22px;
        font-weight: 370;
        color: var(--col--dark);
        text-transform: uppercase;
    }

    .t-subheader.t-stylized {
        font-family: var(--ff--stylized);
        font-size: 24px;
        line-height: 26px;
        font-weight: 400;
        letter-spacing: 0.04em;
        color: var(--col--dark);
    }

    .t-subheader-small {
        font-family: var(--ff--subheader-small);
        font-size: 18px;
        line-height: 18px;
        font-weight: 370;
        color: var(--col--dark);
        text-transform: uppercase;
    }

    .t-subheader-small.t-stylized {
        font-family: var(--ff--stylized);
        font-size: 20px;
        line-height: 22px;
        font-weight: 400;
        letter-spacing: 0.04em;
        color: var(--col--dark);
    }

    .t-subheader-smaller {
        font-family: var(--ff--subheader-small);
        font-size: 16px;
        line-height: 16px;
        font-weight: 370;
        color: var(--col--dark);
    }
}

/* universal subheaders */
.t-subheader-universal {
    font-family: var(--ff--subheader-small);
    font-size: 24px;
    line-height: 24px;
    font-weight: 370;
    color: var(--col--dark);
    text-transform: uppercase;
}

.t-subheader-universal-small {
    font-family: var(--ff--subheader-small);
    font-size: 20px;
    line-height: 20px;
    font-weight: 370;
    color: var(--col--dark);
    text-transform: uppercase;
}

.t-subheader-universal-smaller {
    font-family: var(--ff--subheader-small);
    font-size: 18px;
    line-height: 18px;
    font-weight: 370;
    color: var(--col--dark);
}

/* ---------- paragraphs ---------- */

/* desktop paragraphs */
.t-paragraph {
    font-family: var(--ff--pharagraph);
    font-size: 20px;
    line-height: 26px;
    font-weight: 325;
    color: var(--col--dark);
}

.t-paragraph-strong {
    font-family: var(--ff--pharagraph-strong);
    font-size: 20px;
    line-height: 26px;
    font-weight: 370;
    color: var(--col--dark);
}

.t-paragraph-small {
    font-family: var(--ff--pharagraph);
    font-size: 18px;
    line-height: 22px;
    font-weight: 325;
    color: var(--col--gray6);
}

.t-paragraph-small-strong {
    font-family: var(--ff--pharagraph-strong);
    font-size: 18px;
    line-height: 22px;
    font-weight: 370;
    color: var(--col--gray6);
}

.t-paragraph-hint {
    font-family: var(--ff--pharagraph);
    font-size: 16px;
    line-height: 20px;
    font-weight: 325;
    color: var(--col--gray6);
}

.t-paragraph-hint-strong {
    font-family: var(--ff--pharagraph-strong);
    font-size: 16px;
    line-height: 20px;
    font-weight: 370;
    color: var(--col--gray6);
}

/* mobile paragraphs */
@media screen and (max-width: 959px) {
    .t-paragraph {
        font-family: var(--ff--pharagraph);
        font-size: 18px;
        line-height: 22px;
        font-weight: 325;
        color: var(--col--dark);
    }

    .t-paragraph-strong {
        font-family: var(--ff--pharagraph-strong);
        font-size: 18px;
        line-height: 22px;
        font-weight: 370;
        color: var(--col--dark);
    }

    .t-paragraph-small {
        font-family: var(--ff--pharagraph);
        font-size: 16px;
        line-height: 20px;
        font-weight: 325;
        color: var(--col--gray6);
    }

    .t-paragraph-small-strong {
        font-family: var(--ff--pharagraph-strong);
        font-size: 16px;
        line-height: 20px;
        font-weight: 370;
        color: var(--col--gray6);
    }

    .t-paragraph-hint {
        font-family: var(--ff--pharagraph);
        font-size: 14px;
        line-height: 16px;
        font-weight: 325;
        color: var(--col--gray6);
    }

    .t-paragraph-hint-strong {
        font-family: var(--ff--pharagraph-strong);
        font-size: 14px;
        line-height: 16px;
        font-weight: 370;
        color: var(--col--gray6);
    }
}

/* ---------- highlight style ---------- */
.t-highlighted {
    background-color: var(--col--dark);
    color: var(--col--light);
}
