.tipsContainer {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.tipsButtonsBlock {
    display: flex;
    width: fit-content;
    margin-top: 12px;
    height: 58px;
    border: 1px solid var(--col--gray4);
    border-radius: 2px;
}

.tipsButton {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95px;
    border: none;
    border-right: 1px solid var(--col--gray4);
    border-left: none;
    background-color: var(--col--light);
    border-radius: 0px;
    cursor: pointer;
}

.tipsButton:hover:not(:disabled) {
    background-color: var(--col--light);
    border-color: var(--col--gray4);
}

.tipsActiveButton:hover:not(:disabled) {
    background-color: var(--col--dark);
}

.tipsActiveButton {
    background-color: var(--col--dark);
}

.tipsActiveButton .tipsAmountText,
.tipsActiveButton .tipsPercentageText {
    color: var(--col--light);
}

.tipsPercentageText {
    color: var(--col--gray6);
}

.errorBorder {
    border-color: var(--col--utilityError);
}

.errorText {
    margin-top: 8px;
    text-align: right;
    color: var(--col--utilityError);
}

@media (max-width: 600px) {
    .tipsButtonsBlock {
        margin-top: 6px;
        width: 100%;
    }

    .tipsContainer {
        width: 100%;
    }

    .tipsButton {
        min-width: 80px;
    }
}

@media (max-width: 320px) {
    .tipsButton {
        min-width: 65px;
    }
}
