.markup {
    margin: 40px 57px 0;
}

.markup a {
    font-family: inherit;
    text-decoration: underline;
}

.markup a:hover {
    text-decoration: none;
}

.markup b {
    font-family: var(--heavy-font);
}

/** For now Arbys uses --base-font (Helvetica Neue) instead of
--ff--pharagraph (Helvetica) for paragraphs in RichText */
.markup p {
    font-family: var(--base-font);
}

@media (max-width: 768px) {
    .markup {
        margin: 0 20px;
    }
}
