.reviewOrder {
    composes: reviewOrder from './index.vars.css';
    display: table;
    width: 100%;
    border-top: 1px solid var(--col--gray4);
    padding-top: var(--reviewOrder-padding);
}

.reviewOrderItem {
    display: table-row;
    width: 100%;
}

.greenColor {
    color: var(--col--secondary5);
}

.discount {
    color: var(--discount-color);
}

.price {
    text-align: right;
}

.totalItem {
    display: table-cell;
    padding-bottom: var(--totalItem-padding);
    vertical-align: middle;
}

.subtotalContainer {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.reviewOrderItem:last-child .totalLine {
    padding-bottom: 0;
}

.cardNumber {
    padding-bottom: 0;
}

.tooltip {
    width: 314px;
    left: -15px;
    bottom: 3px;
}

@media (max-width: 600px) {
    .tooltip {
        max-width: 282px;
    }
}

.legal {
    color: var(--legal-color);
}

.discountFont {
    font-family: var(--totalItem-discount-font);
}
