.reviewOrder {
    --reviewOrder-padding: 30px;
    --totalItem-padding: 8px;
    --discount-color: var(--col--primary1);
    --legal-color: var(--col--gray6);
    --totalItem-discount-font: var(--ff--pharagraph);
}
