.infoBlockSection {
    --card-border-radius: 0px;
    --card-header-margin: 20px 0 5px;
    --card-sub-header-margin-bottom: 0px;
    --card-single-content-padding: 0 51px 0 57px;
}

.sectionLayout {
    --sectionLayout-margin-top: 80px;
    --sectionLayout-small-margin-top: 40px;
    --sectionLayout-background-size: unset;
    --sectionLayout-small-background-size: unset;
}
