.modifierGroupContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.modifierHeader {
    margin: 0;
}

.modifierCard {
    margin: 10px 10px 0 0;
    flex: 0 0 auto;
    width: 100%;
    max-width: 500px;
}

.modifierGroupHeader {
    margin: 40px 0 10px;
    display: flex;
    flex-direction: row;
}
