.modifierCardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 51px;
}

.modifierCardWrapper {
    margin: 10px 20px 10px 0;
    max-width: 405px;
}

.modifierCardWrapper:empty {
    display: none;
}

.accordionHeader {
    display: none;
}

.sectionSubHeader {
    display: flex;
    width: 100%;
    font-size: 26px;
    line-height: 26px;
    font-weight: 700;
    font-family: var(--head-font);
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 0;
}

@media (max-width: 767px) {
    .modifierCardContainer {
        margin: 0 20px 20px;
    }

    .accordionHeader {
        display: flex;
        text-decoration: underline;
        text-transform: uppercase;
        font-size: 14px;
        font-family: var(--heavy-font);
        align-items: center;
    }

    .accordionHeader svg {
        font-size: 14px;
        margin-right: 5px;
    }

    .modifierCardWrapperNotSelected {
        display: none;
    }

    .sectionSubHeader {
        font-size: 20px;
        line-height: 20px;
    }

    .sectionSubHeaderSelected {
        display: none;
    }
}
