.list {
    --list-font-family: var(--ff--pharagraph);
    --list-font-size: 14px;
    --list-font-weight: 500;
    --list-margin-top: 10px;
    --button-font-family: var(--ff--header);
    --button-font-weight: 500;
    --button-font-size: 14px;
    --button-line-height: 18px;
}
