.offer {
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 88px;
    height: 88px;
    padding: 0 30px 0 0;
    margin-bottom: 20px;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
}

.image {
    min-height: 88px;
    max-width: 117px;
}

.information {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 18px 0px 18px 25px;
}

.nameAndDate {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
    padding-right: 15px;
}

.nameWrapper {
    position: relative;
}

.name {
    padding-right: 30px;
}

.inBagIcon {
    padding-left: 5px;
    position: absolute;
    top: 0;
    right: 15px;
}

.bagIcon {
    font-size: 22px;
    position: absolute;
    top: 0;
}

.checkIcon {
    font-size: 18px;
    position: absolute;
    top: 2px;
    left: 14px;
    color: var(--col--utilitySuccess);
}

.checkIcon::before {
    color: var(--col--utilitySuccess);
}

.offer:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 960px) {
    .offer {
        padding-right: 15px;
        min-height: 92px;
        height: 92px;
    }

    .image {
        min-height: 92px;
    }

    .information {
        flex-direction: column;
        align-items: flex-start;
        padding: 12px 0 12px 15px;
    }

    .nameAndDate {
        margin-bottom: 5px;
        padding-right: 0;
    }

    .bagIcon {
        font-size: 18px;
    }

    .checkIcon {
        font-size: 14px;
    }
}
