.backToTopWrapper {
    composes: backToTopWrapper from './BackToTop.vars.css';
    display: none;
}

@media (max-width: 767px) {
    .backToTopWrapper {
        display: flex;
        flex-direction: row;
        justify-items: center;
        justify-content: center;
        margin-top: 30px;
        text-decoration: underline;
    }

    .backToTopWrapper a {
        font-size: 14px;
        line-height: var(--back-to-top-mobile-line-height);
        display: flex;
        font-weight: bold;
        font-family: var(--back-to-top-mobile-font-family);
        text-transform: uppercase;
        justify-content: center;
        align-items: center;
    }
}
