.container {
    composes: container from './locationsListItem.vars.css';
    position: relative;
    padding: var(--padding);
    box-sizing: border-box;
    cursor: pointer;
    border-bottom: 1px solid var(--bottom-border-color);
    background-color: var(--background-color);
}

.container:last-of-type {
    border: none;
}

.selected::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0px;
    height: 100%;
    border-left: 5px solid var(--left-border-color);
}

.container.selected {
    background-color: var(--col--light);
}

.title {
    text-decoration: underline;
    text-transform: uppercase;
    margin: 0;
}

.title.withLink {
    text-decoration: none;
}

.detailsPageLink {
    composes: t-subheader-smaller from global;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: var(--ff--subheader-small);
}

.address {
    color: var(--col--dark);
}

.viewMenuButton {
    white-space: nowrap;
    width: auto;
}

.openingHours,
.distance,
.storeId {
    composes: t-paragraph-hint from global;
    color: var(--col--gray6);
}

.servicesList {
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0;
    composes: t-paragraph-hint from global;
    color: var(--services-list-color);

    /* font in comp is 12px in both viewports */
    font-size: 12px;
    line-height: 18px;
}

.serviceInfo {
    width: 50%;
    margin: 5px 0;
}

@media (max-width: 959px) {
    .title {
        /* design typography have equal font-size and line-height which looks ugly when text is wrapping  */
        line-height: 1.25em;
    }
}
