.container {
    --left-border-color: var(--col--primary1);
    --bottom-border-color: var(--col--gray4);
    --background-color: var(--col--gray1);
    --padding: 28px;
    --services-list-color: var(--col--dark);
}

@media (max-width: 768px) {
    .container {
        --padding: 25px 20px;
    }
}
