.locationInfo {
    --container-background-color: var(--col--gray1);
    --container-desktop-padding: 40px 40px 34px;
    --container-desktop-margin: 0 -40px;
    --location-info-header-desktop-font-size: 22px;
    --location-info-header-desktop-line-height: 24px;
    --location-info-address-desktop-font-size: 16px;
    --location-info-address-desktop-line-height: 20px;
    --container-border: 1px solid var(--col--gray4);
    --container-mobile-border-radius: 2px;
    --location-display-name-font-size: 22px;
    --location-display-name-line-height: 24px;
    --location-display-name-font-size-mobile: 20px;
    --location-display-name-line-height-mobile: 22px;
    --location-info-header-mobile-line-height: 22px;
    --location-info-address-mobile-font-size: 14px;
    --location-info-address-mobile-line-height: 18px;
}
