.pickupTime {
    padding-top: 37px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: var(--col--light);
    padding: 0;
    margin: 0;
}

h3.title {
    font-family: var(--subhead-font);
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

h2.title {
    margin-top: 10px;
    font-family: var(--head-font);
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}

.confirmationId {
    font-family: var(--base-font);
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    margin-top: 6px;
}

@media screen and (min-width: 960px) {
    .pickupTime {
        padding-top: 77px;
    }

    h3.title {
        font-size: 34px;
        line-height: 34px;
    }

    h2.title {
        font-size: 52px;
        line-height: 52px;
    }

    .confirmationId {
        font-size: 14px;
        line-height: 20px;
        margin-top: 18px;
    }
}
