.container {
    position: relative;
}

.topPicks {
    display: flex;
    position: relative;
    margin-top: 40px;
    width: stretch;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 143px;
    padding: 50px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgBlock {
    position: absolute;
    width: 100%;
    height: 243px;
}

.wrapperHeadings {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subtitle {
    font-family: var(--ff--subheader);
    text-transform: uppercase;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: 0.01em;
    padding-left: 50px;
    width: 220px;
    font-weight: bold;
}

.title {
    width: 175px;
    margin: 0;
    font-family: var(--ff--header);
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    word-wrap: break-word;
    padding-left: 50px;
}

.topPicksContainer {
    width: 100%;
}

.itemsWrapper {
    margin-left: 263px;
    margin-right: -20px;
}

.itemsWrapperGrid {
    width: stretch;
}

.prevButton {
    left: -5px;
}

.nextButton {
    right: -5px;
}

.prevButton:hover,
.nextButton:hover {
    background-color: var(--col--primary1);
}

.items,
.itemsGrid {
    display: flex;
    padding: 30px 0 10px 20px;
    overflow: hidden;
}

.leftSideImage {
    height: 195px;
    width: 257px;
    position: absolute;
    bottom: -108px;
    left: 0px;
}

@media (min-width: 768px) {
    .topPicks {
        padding-right: 52px;
    }

    .items::after {
        content: '';
        flex: 0 0 30px;
    }
}

@media (max-width: 1024px) {
    .content {
        width: 100%;
    }
}

@media (min-width: 1441px) {
    .topPicks {
        width: 1388px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 767px) {
    .wrapperHeadings {
        min-height: 54px;
    }

    .items,
    .itemsGrid {
        padding: 40px 20px 10px;
    }

    .topPicks {
        margin-top: 0;
        height: 445px;
    }

    .content {
        width: 100%;
        height: 220px;
        padding: 28px 0 50px;
        box-sizing: border-box;
        display: block;
    }

    .bgBlock {
        height: 220px;
    }

    .subtitle {
        font-size: 24px;
        line-height: 24px;
        padding-left: 20px;
        width: auto;
    }

    .title {
        width: auto;
        font-size: 30px;
        line-height: 30px;
        padding-left: 20px;
    }

    .leftSideImage {
        bottom: -210px;
    }

    .itemsWrapper {
        padding: 0;
        margin: 0;
        margin-top: 55px;
    }

    .itemsWrapperGrid {
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .itemsGrid {
        display: flex;
        justify-content: space-around;
        margin: 0;
        min-width: 355px;
        overflow-x: initial;
        padding: 110px 10px 0 20px;
        box-sizing: border-box;
    }

    .itemGrid {
        margin-right: 10px;
    }

    .topPicks .items {
        overflow-x: auto;
    }
}
