.topPicks {
    --subtitle-mobile-height: 20px;
    --subtitle-desktop-height: 24px;
}

.content {
    position: absolute;
    box-sizing: border-box;
    max-width: var(--desktop-width);
    width: 100%;
    padding: 53px 20px 297px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.subtitle,
.title {
    margin: 0;
    color: inherit;
}

.subtitle {
    /* TODO use global typography */
    font-size: var(--subtitle-mobile-height);
    line-height: var(--subtitle-mobile-height);
}

.title {
    display: flex;
    align-items: center;

    /* TODO use global typography */
    font-size: 24px;
    line-height: 24px;
}

.title::before {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    margin-right: 10px;

    /* TODO use font icon */
    background-image: url('../../../../public/brands/jje/star.svg');
    background-position: center;
    background-size: contain;
}

.topPicksContainer {
    padding: 113px 20px 42px;
}

.topPicks.withSubtitle .topPicksContainer {
    padding-top: calc(113px + var(--subtitle-mobile-height));
}

.prevButton {
    left: -5px;
}

.nextButton {
    right: 5px;
}

@media (max-width: 767px) {
    .content {
        padding: 37px 20px 204px;
    }

    .topPicksContainer {
        padding: 80px 0px 42px 20px;
    }

    .topPicks.withSubtitle .topPicksContainer {
        padding-top: calc(80px + var(--subtitle-mobile-height));
    }

    .itemsGrid {
        padding-right: 20px;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .itemGrid {
        margin: 0;
        margin-bottom: 20px;
    }
}

@media (min-width: 992px) {
    .subtitle {
        /* TODO use global typography */
        font-size: var(--subtitle-desktop-height);
        line-height: var(--subtitle-desktop-height);
    }

    .title {
        /* TODO use global typography */
        font-size: 34px;
        line-height: 34px;
    }

    .title::before {
        width: 24px;
        height: 24px;
    }
}

@media (min-width: 1441px) {
    .content {
        padding: 53px 240px 297px;
    }

    .topPicksContainer {
        padding: 113px 240px 42px;
    }

    .topPicks.withSubtitle .topPicksContainer {
        padding-top: calc(113px + var(--subtitle-mobile-height));
    }

    .prevButton {
        left: 0px;
    }

    .nextButton {
        right: 0px;
    }
}
