.checkbox {
    --checkbox-border-color: var(--col--gray5);
    --checkbox-border-radius: 0px;
    --checkbox-checked-background-color: var(--col--primary1);
    --checkbox-icon-color: var(--col--light);
}
