.submitButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.label {
    font-size: 12px;
}

.termsContainer {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: flex-start;
}

.termsLabel {
    display: inline-block;
    width: 100%;
    margin-left: 10px;
    cursor: pointer;
}

.termsLink {
    font-family: var(--heavy-font);
    text-decoration: underline;
    text-transform: uppercase;
}

.termsLink:hover {
    text-decoration: none;
}

.checkbox {
    display: none;
}

.styledCheckbox {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--col--light);
    flex-shrink: 0;
    border: 1px solid var(--col--gray6);
    box-sizing: border-box;
    cursor: pointer;
}

.checkbox:checked + .styledCheckbox {
    background: var(--col--primary1);
    border: none;
}

.checkIcon {
    width: 24px;
    height: 24px;
    fill: var(--col--light);
}

.tooltip {
    padding: 12px 16px;
    bottom: 14px;
    width: fit-content;
    max-width: 230px;
    border-radius: 2px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}

.loader span {
    font-size: 40px !important;
}
