.startOrderButton {
    composes: startOrderButton from './startOrderButton.vars.css';
    display: none;
}

@media (max-width: 960px) {
    .startOrderButton {
        background: var(--col--primary1);
        border-radius: 0;
        color: var(--button-color);
        display: var(--button-display);
        font-family: var(--button-font-family);
        font-size: var(--button-font-size);
        line-height: var(--button-line-height);
        letter-spacing: var(--button-letter-spacing);
        text-transform: uppercase;
        height: 60px;
        position: sticky;
        bottom: 0;
        z-index: 998;
    }

    .startOrderButton:hover {
        background: var(--button-background-hover);
    }
}
