.startOrderButton {
    --button-display: block;
    --button-color: var(--col--light);
    --button-font-size: 26px;
    --button-line-height: 26px;
    --button-letter-spacing: 0.01em;
    --button-font-family: var(--ff--button);
    --button-background-hover: var(--col--primary1variant);
}
