.banner {
    display: flex;
    justify-content: space-between;
}

.leftSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.rightSection {
    margin-left: 79px;
    flex: 1 0 47%;
}

.containerQr .rightSection {
    display: flex;
    justify-content: center;
}

.imageContainer {
    max-width: 442px;
    min-width: 266px;
    width: 100%;
    display: flex;
    align-self: center;
}

.containerQr .imageContainer {
    flex-direction: column;
    max-width: 213px;
    min-width: 175px;
    width: 100%;
}

.image {
    max-width: 100%;
    display: flex;
    align-self: center;
}

.title {
    font-size: 34px;
    line-height: 34px;
    margin-top: 0;
}

.qrDescription {
    font-family: var(--heavy-font);
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: var(--col--dark);
    margin-top: 10px;
}

@media screen and (min-width: 960px) {
    .title {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 15px;
    }
}

.expires {
    margin-top: 15px;
    font-family: var(--base-font);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: var(--col--gray6);
}

.description {
    margin: 25px 0 41px;
    font-family: var(--base-font);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: var(--col--dark);
}

.buttonsBlock {
    display: flex;
}

.buttonsBlock button:nth-child(1) {
    padding: 0 24px;
}

.buttonsBlock button:nth-child(2) {
    margin-left: 30px;
    padding: 0 24.5px;
}

.containerQr .buttonsBlock {
    display: none;
}

.termsAndConditions {
    margin-top: 57px;
    font-family: var(--base-font);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: var(--col--gray5);
}

.termsAndConditions p:first-child {
    text-decoration-line: underline;
}

@media (max-width: 767px) {
    .leftSection {
        align-items: center;
    }

    .title,
    .expires,
    .description {
        align-self: flex-start;
    }

    .expires,
    .description,
    .termsAndConditions {
        font-size: 16px;
        line-height: 24px;
    }

    .title {
        order: -1;
        margin-bottom: 8px;
    }

    .expires {
        order: -1;
        margin: 0 0 8px;
    }

    .imageContainer {
        margin-top: 14px;
        align-self: center;
        max-width: 266px;
    }

    .image {
        max-height: 184px;
    }

    .description {
        margin: 8px 0 36px;
    }

    .qrDescription {
        font-size: 14px;
        line-height: 22px;
    }

    .buttonsBlock button:nth-child(2) {
        margin-left: 0;
        margin-top: 25px;
    }

    .buttonsBlock {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .termsAndConditions {
        margin-top: 16px;
    }

    .containerQr .description {
        display: none;
    }

    .containerQr .buttonsBlock {
        margin-top: 32px;
    }

    .containerQr .imageContainer .image {
        max-width: 175px;
        max-height: 175px;
    }
}

@media (max-width: 375px) {
    .imageContainer {
        max-width: 266px;
    }

    .qrDescription {
        margin-top: 7px;
    }

    .containerQr .imageContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .containerQr .imageContainer .image {
        max-width: 175px;
    }
}
