.title {
    --title-margin-bottom: 26px;
    --title-margin-right: 20px;
    --title-padding: 0 0 12px 0;
    --title-small-padding: 0 0 12px 0;
}

.container {
    --container-margin-top: 60px;
    --container-mobile-margin-top: 22px;
}
