.container {
    composes: container from './index.vars.css';
    margin-top: var(--container-margin-top);
}

.title {
    composes: title from './index.vars.css';
    margin-bottom: var(--title-margin-bottom);
    margin-right: var(--title-margin-right);
    padding: var(--title-padding);
}

@media (max-width: 960px) {
    .title {
        padding: var(--title-small-padding);
    }

    .container {
        margin-top: var(--container-mobile-margin-top);
    }
}
