.itemContainer {
    display: flex;
    flex-direction: row;
    min-width: 328px;
    height: 92px;
    background: var(--col--light);
    margin-right: 12px;
}

.itemContainer:last-child {
    margin-right: 24px;
}

.imgColumn {
    width: 88px;
    height: 100%;
    display: flex;
    overflow: hidden;
    background: var(--col--primary1);
}

.dealImage {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill !important;
}

.detailsColumn {
    display: flex;
    flex-direction: column;
    padding: 12px 19px 10px 15px;
}

.dealHeader {
    margin-bottom: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.descriptionHeader {
    color: var(--col--gray6);
    font-family: var(--base-font);
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.dealsHeading {
    margin-bottom: 15px;
}

.unavailable {
    opacity: 0.5;
}

.unavailable .dealHeader,
.unavailable .descriptionHeader,
.unavailable .buttonRemove {
    color: var(--col--gray5);
    user-select: none;
    pointer-events: none;
}
