.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 205px;
}

.subHeader {
    margin-bottom: 20px;
    padding: 0 15px;
}

.description {
    padding: 0 65px;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.loader svg {
    width: 86px;
}

@media (max-width: 320px) {
    .description {
        padding: 0 35px;
    }
}

@media screen and (max-width: 960px) {
    .container {
        margin: 190px 20px 0;
    }

    .subHeader {
        margin-bottom: 16px;
    }

    .loader {
        margin-bottom: 16px;
    }

    .loader svg {
        width: 75px;
    }
}
