.menuContainer {
    composes: accountNavigation from './index.vars.css';
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
    padding: 0 20px;
    overflow-x: auto;
}

.linkContainer {
    background-color: var(--col--light);
    margin-left: 30px;
    display: flex;
    align-items: center;
    height: 56px;
}

.linkContainer:first-child {
    margin: 0;
}

.linkContainer:last-child {
    display: none;
}

.linkText {
    height: inherit;
    display: flex;
    align-items: center;
    width: max-content;
}

.linkTextSelected {
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: inherit;
    width: max-content;
}

.linkContainer > .linkTextSelected::after {
    display: block;
    position: absolute;
    content: '';
    bottom: 0;
    width: 100%;
    height: 4px;
    background: var(--linkTextSelected-background);
}

.logoutButton {
    background-color: var(--col--light);
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
}

.logoutButtonContainer {
    padding: 0px;
}

.counter {
    margin-left: 10px;
}

@media screen and (min-width: 1401px) {
    .menuContainer {
        position: absolute;
        top: -40px;
        left: 52px;
        width: 265px;
        border: 0px var(--border-color) solid;
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .linkContainer {
        box-sizing: border-box;
        padding: 0px 0px 0px 40px;
        border-bottom: 1px var(--border-color) solid;
        margin: 0px;
        height: 64px;
    }

    .linkContainer:last-child {
        display: block;
        border-bottom: none;
    }
}
