.navigation {
    --logo-height: 41px;
    --logo-desktop-height: 55px;
    --navigation-background-color: var(--col--dark);
    --navigation-color: var(--col--light);
    --navigation-box-shadow: none;
}
