.navigation {
    composes: navigation from './index.vars.css';
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    background-color: var(--navigation-background-color);
    color: var(--navigation-color);
    padding: 0 20px;
    box-shadow: var(--navigation-box-shadow);
}

.backContainer {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.backContainer:focus:not(:focus-visible) {
    outline: 0;
}

.icon {
    margin-right: 11px;
}

.logoContainer {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 7px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoImage {
    height: var(--logo-height);
}

@media (min-width: 960px) {
    .navigation {
        height: 85px;
        flex-wrap: nowrap;
        padding: 0 52px;
    }

    .logoContainer {
        flex-grow: 0;
        margin-right: 54px;
    }

    .logoImage {
        height: var(--logo-desktop-height);
    }
}

@media (max-width: 960px) {
    .backContainer {
        position: absolute;
    }

    .icon {
        margin-right: 8px;
    }
}
