.nutritionLink {
    margin-bottom: 18px;
    display: flex;
    align-items: center;
}

.nutritionLinkIcon {
    margin-left: 6px;
    text-align: center;
    text-decoration: none;
}

.nutritionLinkText {
    text-transform: none;
}

.nutritionMissingText {
    margin-bottom: 4px;
}
