.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 120px 0;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 504px;
}

.errorIcon {
    width: 76px;
}

.header {
    margin: 26px 0 17px;
}

.title p {
    max-width: 370px;
}

.browsers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--col--gray1);
    border: 1px solid var(--col--gray2);
    margin-top: 32px;
    width: auto;
}

.browser {
    width: 206px;
    height: 136px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-right: 1px solid var(--col--gray2);
}

.browser img {
    margin-bottom: 20px;
    width: 44px;
}

.browser span {
    font-size: 18px;
    line-height: 22px;
}

.browser:last-child {
    border-right: none;
}

.continueAnyway {
    font-size: 16px;
    line-height: 26px;
    margin-top: 40px;
    text-align: center;
}

@media (max-width: 960px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 35px 20px 75px;
    }

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        max-width: 100%;
    }

    .errorIcon {
        width: 60px;
    }

    .header {
        margin: 25px 0 10px;
    }

    .browsers {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--col--gray1);
        border: 1px solid var(--col--gray2);
        margin-top: 32px;
        width: 100%;
    }

    .browser {
        width: 100%;
        height: 84px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        border-bottom: 1px solid var(--col--gray2);
    }

    .browser img {
        margin: 0 20px;
        width: 44px;
    }

    .browser:last-child {
        border-bottom: none;
    }

    .continueAnyway {
        margin-top: 30px;
    }
}
