.errorBanner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.leftSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0 3.5em 2em;
}

.rightSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 0.5em 50px 0 0.5em;
}

.errorText {
    color: var(--col--primary1);
    text-transform: uppercase;
    font-size: 34px;
    line-height: 34px;
}

.headerText {
    margin: 5px 0 17px;
}

.mainText {
    font-family: var(--base-font);
    line-height: 28px;
}

.buttonsBlock {
    margin-top: 25px;
}

@media screen and (min-width: 1025px) {
    .leftSection {
        width: 50%;
        align-items: flex-start;
    }
}

@media (max-width: 1024px) {
    .errorText {
        font-size: 24px;
        line-height: 24px;
    }

    .errorBanner {
        padding: 15px 20px 44px;
        flex-direction: column-reverse;
    }

    .leftSection {
        padding: 0;
        text-align: center;
    }

    .rightSection {
        padding-right: 0;
    }

    .rightSection img {
        height: 252px;
    }

    .homePageButton {
        line-height: 26px;
        width: 134px;
    }
}

@media screen and (min-width: 1441px) {
    .leftSection {
        padding: 49px 0 59px 160px;
        align-items: flex-start;
    }

    .rightSection {
        width: 50%;
    }

    .rightSection img {
        height: 470px;
    }
}
