.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 30px;
}

.headerWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 24px;
    justify-content: space-between;
}

.header {
    margin-bottom: 0;
    margin-right: 15px;
}

.collapse {
    display: flex;
    align-items: center;
}

.icon {
    font-size: 14px;
    margin-right: 5px;
}

.itemContainer {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    min-width: 300px;
    box-sizing: border-box;
    border: 1px solid var(--col--dark);
    border-radius: 6px;
    margin-bottom: 15px;
    margin-right: 15px;
    padding: 13px 14px 13px 15px;
    gap: 13px;
}

@media (min-width: 768px) {
    .headerWrapper {
        justify-content: flex-start;
    }

    .wrapper {
        margin-bottom: 4px;
    }

    .itemContainer {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 20px;
    }
}
