.list {
    --list-font-family: var(--base-font);
    --list-font-size: 14px;
    --list-font-weight: 400;
    --list-margin-top: 0px;
    --button-font-family: var(--heavy-font);
    --button-font-weight: bold;
    --button-font-size: 16px;
    --button-line-height: 20px;
}
