/* link default styles */
.link {
    font-family: var(--ff--link);
    text-decoration: none;
    color: inherit;
}

.linkSecondaryActive,
.linkPrimaryActive {
    composes: link from './link.vars.css';
    font-style: normal;
    font-weight: 700;
    text-decoration-line: underline;
    text-transform: uppercase;
    cursor: pointer;
}

.linkSecondaryActive {
    font-size: 14px;
    line-height: var(--link-secondary-active-line-height);
}

.linkPrimaryActive {
    font-size: 18px;
    line-height: var(--link-primary-active-line-height);
}

@media screen and (max-width: 960px) {
    .linkPrimaryActive {
        font-size: 14px;
        line-height: 18px;
    }
}
