.container {
    margin: 20px 20px 0;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    margin-top: 20px;
}

.buttonsWrap {
    display: flex;
    justify-content: space-between;
    margin: 30px -20px 3px;
    outline: none;
    position: sticky;
    bottom: 0;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: none;
}

.buttonSpacer {
    margin-right: 1px;
}
