.container {
    height: 140px;
    width: 319px;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 20px 15px;
    background-color: var(--col--light);
}

.container:last-child {
    margin-right: 21px;
}

.container:first-child {
    margin-left: 21px;
}

.container:not(:last-child) {
    margin-right: 12px;
}

.infoBlock {
    margin-bottom: 12px;
}

.infoBlock .date {
    background-color: var(--col--dark);
    margin-right: 11px;
    padding: 3px 10px 5px;
    border-radius: 2px;
}

.orderBlock {
    margin-bottom: 12px;
}

.ctaBlock {
    display: flex;
    align-items: center;
}

@media (min-width: 768px) {
    .container {
        height: 154px;
    }

    .container:not(:last-child) {
        margin-right: 20px;
    }

    .container:last-child {
        margin-right: 0;
    }

    .container:first-child {
        margin-left: 0;
    }
}
