.container {
    display: flex;
}

@media (min-width: 768px) {
    .container {
        overflow-x: hidden;
    }

    .prevButton {
        left: 0;
    }

    .nextButton {
        right: 0;
    }
}
