.container {
    display: flex;
    flex-direction: column;
    padding: 32px 0;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        align-items: center;
        padding: 40px 52px;
    }

    .container > *:first-child {
        margin-right: 73px;
    }
}
