.container {
    display: flex;
    margin-bottom: 29px;
    padding: 0 21px;
}

.image {
    display: none;
}

.textWithCTABlock {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-grow: 1;
}

.textBlock {
    display: flex;
    flex-direction: column;
}

.subheader {
    color: var(--col--secondary1);
}

@media (min-width: 768px) {
    .container {
        align-self: center;
        width: auto;
        flex-shrink: 0;
        margin-bottom: 0;
    }

    .image {
        display: block;
        height: 60px;
        width: 60px;
        background-color: var(--col--primary1);
        margin-right: 16px;
    }

    .textWithCTABlock {
        display: block;
    }
}
