.locations {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    height: 100%;
}
@media (max-width: 960px) {
    .locations {
        flex-direction: column;
    }
}

.left {
    width: 30%;
    min-width: 200px;
    padding: 10px;
    overflow: auto;
}
@media (max-width: 960px) {
    .left {
        min-width: auto;
        width: auto;
        order: 2;
    }
}

.right {
    width: 70%;
}
@media (max-width: 960px) {
    .right {
        width: auto;
        min-height: 50vh;
        order: 1;
    }
}

.searchTitle {
    margin: 0.5em 0;
}

.searchBox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
}

.searchInput {
    flex-grow: 1;
    margin: 0 1rem;
    /* margin-top: 10px;
    margin-left: 5px;
    vertical-align: middle;
    font-size: 1rem;
    height: 2rem;
    outline: none;
    border: none;
    overflow: visible;
    touch-action: manipulation;
    border-bottom: .5px solid rgba(217,217,217,1);
    width: 90%;
    background-color: none; */
}

/* button.searchButton {
    margin-top: 10px;
    margin-left: 5px;
    font-size: 1rem;
    overflow: visible;
    outline: none;
    touch-action: manipulation;
    border-radius: 5px;
} */