.modal {
    --modal-header-background: auto;
    --modal-header-text-color: var(--col--dark);
    --modal-header-padding-bottom: 0px;
    --modal-footer-background: auto;
    --modal-footer-bottom-border-color: var(--col--primary1);
}
