.modal {
    composes: modal from './modifiersModal.vars.css';
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    background: var(--col--light);
    max-height: 100%;
    position: relative;
    outline: none;
    margin: 8vh 52px;
    overflow: hidden;
}

.container::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    height: 5px;
    width: 100%;
    background: var(--modal-footer-bottom-border-color);
}

.containerContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-self: stretch;
}

.header {
    background: var(--modal-header-background);
    color: var(--modal-header-text-color);
    padding: 24px 24px var(--modal-header-padding-bottom) 40px;
}

.headerTop {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.modalCloseBtn {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.modalCloseBtnText {
    margin-right: 15px;
    text-decoration: underline;
}

.modalCloseBtn:hover .modalCloseBtnText {
    text-decoration: none;
}

.containerContent .subtitle {
    color: var(--col--primary1);
    margin: 0;
}

.containerContent .title,
.containerContent .hintText {
    color: inherit;
}

.titleWrapper {
    display: flex;
    align-items: flex-end;
}

.hintText {
    margin-left: 15px;
}

.content {
    overflow-y: auto;
    padding: 0 40px;
}

.footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 30px 40px 40px;
    background: var(--modal-footer-background);
}

.footerButtons {
    display: flex;
    margin-left: auto;
}

.footerButton {
    margin-right: 20px;
}

.footerButton:last-child {
    margin-right: 0;
}

.footerIcon {
    position: absolute;
    bottom: 0px;
    font-size: 75px;
}

.footerIcon::before {
    color: var(--col--primary1);
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        height: 100%;
        margin: auto;
        overflow: auto;
    }

    .container::after {
        display: none;
    }

    .header {
        padding: 20px 20px var(--modal-header-padding-bottom) 20px;
    }

    .headerTop {
        margin-bottom: 10px;
    }

    .modalCloseBtnText {
        margin-right: 13px;
    }

    .closeIcon {
        font-size: 18px;
    }

    .hintText {
        margin-left: 10px;
    }

    .content {
        flex-grow: 1;
        padding: 0 20px;
    }

    .footerIcon {
        display: none;
    }

    .footer {
        padding: 0;
    }

    .footer.sticky {
        position: sticky;
        bottom: 0;
    }

    .footerButtons {
        flex-grow: 1;
        justify-content: flex-end;
    }

    .footerButton {
        flex: 1;
        height: 60px;
        margin: 0;
    }
}
