.signUpContainer {
    composes: signUpContainer from './customerInfo.vars.css';
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
}

.signUp,
.signUpLink {
    color: var(--col--dark);
}

.signUp {
    display: inline-block;
    width: 100%;
    margin-left: 10px;
    cursor: pointer;
}

.signUpLink {
    text-decoration: underline;
    text-transform: var(--sign-up-link-text-transform);
}

.signUpLink:hover {
    text-decoration: none;
}

.checkbox {
    display: none;
}

label.label {
    font-size: 12px;
    line-height: 12px;
}
