.dropdown {
    max-height: 260px;
    z-index: 1;
}

.input {
    border: solid 1px var(--col--gray6);
    border-radius: 2px;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    font-family: var(--ff--replacement-font);
    font-size: 16px;
    padding-left: 20px;
}

.label {
    font-family: var(--ff--pharagraph);
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    padding: 0 0 0 1px;
}

.label.required::after {
    content: '*';
    color: var(--col--primary1variant);
    margin-left: 3px;
}

@media screen and (max-width: 959px) {
    .label {
        font-size: 12px;
        line-height: 12px;
    }
}
