.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px;
    border: 1px solid var(--col--gray4);
    min-height: 143px;
}

.leftColumn {
    align-self: start;
}

.rightColumn {
    align-self: end;
    white-space: nowrap;
}

.storeStatus {
    color: var(--col--gray6);
    font-weight: 500;
}

.storeStatusClosingSoon {
    color: var(--col--utilityError);
}

.storeId {
    color: var(--col--gray6);
    padding-top: 12px;
}

.title {
    padding: 0;
}

.titleLink {
    font-size: 22px;
    text-transform: capitalize;
    text-decoration: underline;
}

.titleLink:hover {
    color: var(--col--primary1);
    text-decoration: underline;
}

.adsressLink {
    font-family: var(--ff--pharagraph);
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
}

.adsressLink:hover {
    text-decoration: underline;
}

.address {
    max-width: 200px;
}

.phoneLink {
    display: flex;
    align-items: center;
    padding-top: 12px;
}

.phoneLinkTitle:hover {
    text-decoration: underline;
}

.icon {
    margin-right: 8px;
}

@media (max-width: 768px) {
    .wrapper {
        padding: 20px;
        border-top: 1px solid var(--col--gray4);
        border-right: none;
        border-bottom: none;
        border-left: none;
    }

    .wrapper:last-child {
        border-bottom: 1px solid var(--col--gray4);
    }
}
