.checkout {
    --checkout-field-counter-color: var(--col--secondary1);
    --checkout-form-border-top: none;
    --checkout-form-fields-margin-mobile: -80px 0;
    --checkout-form-width-desktop: 583px;
    --checkout-form-padding-desktop: 0 40px;
}
