.container {
    display: flex;
    position: relative;
    margin: 80px 52px 90px;
}

.locationInfoCard {
    display: flex;
    align-items: flex-start;
    position: relative;
    z-index: 2;
    width: 50%;
    padding: 40px;
    border: 1px solid var(--col--gray4);
    border-radius: 2px;
    background-color: var(--col--light);
}

.locationImage {
    position: absolute;
    top: -50px;
    right: 0;
    height: calc(100% + 100px);
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 1100px) {
    .container {
        flex-direction: column-reverse;
        flex-wrap: wrap;
        margin: 30px 0 0;
    }

    .locationImage {
        position: relative;
        top: 0;
        height: 350px;
        width: 100%;
    }

    .locationInfoCard {
        top: -30px;
        width: auto;
        margin: 0 20px;
        padding-bottom: 22px;
    }
}

@media (max-width: 767px) {
    .locationInfoCard {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: stretch;
        padding: 10px 30px 22px;
    }
}
