.imageBlock {
    --wrapper-desktop-margin-left: 51px;
    --wrapper-desktop-margin-right: 51px;
    --wrapper-mobile-margin-left: 21px;
    --wrapper-mobile-margin-right: 21px;
    --wrapper-mobile-margin-bottom: 15px;
    --header-display: block;
    --card-padding: 0px;
    --card-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    --card-border-radius: 6px;
    --card-mobile-width: 333px;
    --card-mobile-image-width: auto;
    --card-mobile-image-height: 249px;
    --card-title-color: var(--col--dark);
    --card-button-padding: 12px;
    --card-button-max-width: calc(100% - 54px);
    --card-subtitle-color: var(--col--secondary1);
    --card-description-color: var(--col--dark);
    --card-description-transform: none;
    --card-description-font-weight: 500;
    --card2-background: var(--col--gray1);
    --card2-dektop-margin-right: 35px;
    --card2-desktop-image-width: 270px;
    --card2-desktop-image-height: 202px;
    --card2-desktop-textcontent-padding-top: 35px;
    --card2-desktop-textcontent-padding-bottom: 57px;
    --card2-padding-bottom: 0px;
    --card2-button-max-width: calc(50% - 87px);

    /* card1 */
    --card1-desktop-image-width: 397px;
    --card1-desktop-title-font-size: 40px;
    --card1-desktop-title-line-height: 40px;
    --card1-desktop-subtitle-font-size: 28px;
    --card1-desktop-subtitle-line-height: 28px;

    /* card3 */
    --card3-desktop-max-width: 430px;
    --card3-desktop-image-width: 430px;
    --card3-desktop-image-max-width: auto;
    --card3-desktop-card-width: auto;
    --card3-textContent-padding: 25px 29px 50px;
}
