.settingsContainer {
    display: flex;
    flex-direction: column;
}

.notificationHeader {
    line-height: 34px;
    font-weight: 700;
    color: var(--col--dark);
    text-transform: uppercase;
    font-size: 38px;
    margin: 0;
}

.notificationsHeader {
    padding: 50px 0 34px;
    border-top: 1px solid var(--col--gray4);
    border-bottom: 1px solid var(--col--gray4);
}

.notificationItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 27px 0;
    border-bottom: 1px solid var(--col--gray4);
}

.label {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--col--dark);
}

.notificationItemNameColumn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.itemNameSubHeading {
    font-family: var(--base-font);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}

.notificationCheckboxColumn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.notificationCheckbox {
    margin-right: 15px;
}

.itemNameHeading {
    font-family: var(--subhead-font);
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 26px;
    text-transform: uppercase;
}

.radioButtonLabel {
    margin: 0;
    margin-top: 15px;
}

.radioButton {
    margin-right: 10px;
}

@media (max-width: 480px) {
    .notificationItem {
        flex-direction: column;
        align-items: flex-start;
    }

    .itemNameHeading {
        line-height: 22px;
        font-size: 22px;
    }

    .itemNameSubHeading {
        line-height: 22px;
        font-size: 14px;
    }

    .notificationHeader {
        font-size: 28px;
        line-height: 28px;
    }

    .notificationCheckboxColumn {
        margin-top: 15px;
    }
}
