.itemContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 24px 33px 24px 30px;
    align-items: center;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    margin-bottom: 20px;
}

.date {
    text-transform: capitalize;
}

.points {
    text-align: right;
}

.infoBlock {
    display: flex;
    flex-direction: column;
}

.type,
.expandedType,
.headingLabel,
.productLabelContainer,
.totalLabelContainer,
.transactionInfo {
    color: var(--col--gray6);
}

.expandedType {
    cursor: pointer;
    text-decoration: underline;
}

.expandedBlock {
    padding: 0 30px 38px;
    text-transform: uppercase;
}

.expandedContainer {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}

.expandedItemContainer {
    box-shadow: none;
    margin-bottom: 0;
}

.heading {
    padding-bottom: 14px;
}

.headingPoints {
    margin: 0;
}

.transactionBlock {
    padding: 10px 0 20px;
    border-bottom: 1px solid var(--col--gray4);
    border-top: 1px solid var(--col--gray4);
}

.transactionInfo {
    margin-bottom: 19px;
}

.typeAndPoints {
    margin-bottom: 7px;
}

.transactionProducts {
    padding-bottom: 20px;
    border-bottom: 1px solid var(--col--gray4);
}

.productLabelContainer,
.productContainer,
.totalLabelContainer {
    display: flex;
}

.productLabelContainer {
    margin-bottom: 13px;
}

.itemLabel {
    width: 206px;
    margin-right: 76px;
}

.priceLabel {
    width: 154px;
}

.productContainer {
    color: var(--col--utilitySuccess);
}

.transactionTotals {
    padding-top: 19px;
}

.rewardsBlock {
    padding-top: 18px;
}

.rewardsLabel {
    margin-bottom: 19px;
    color: var(--col--gray6);
}

.rewardsTitle {
    color: var(--col--gray6);
}

@media (max-width: 600px) {
    .date {
        max-width: 200px;
    }
}

@media (max-width: 480px) {
    .itemContainer {
        margin-bottom: 15px;
        padding: 13px 14px 13px 15px;
    }

    .expandedContainer {
        margin-bottom: 15px;
    }

    .transactionInfo {
        margin-bottom: 24px;
    }

    .expandedBlock {
        padding: 0 14px 32px 15px;
        text-transform: uppercase;
    }

    .transactionProducts {
        padding-bottom: 16px;
    }

    .transactionTotals {
        padding-top: 12px;
    }

    .itemLabel {
        margin-right: 32px;
    }

    .rewardsBlock {
        padding-top: 12px;
    }
}
