.container {
    width: 150px;
    position: relative;
    box-shadow: 0px 0px 4px 0px #00000026;
    text-align: center;
    cursor: pointer;
}

.container.disabled {
    opacity: 0.5;
    cursor: auto;
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 58px;
    background: var(--col--gray1);
}

.contentWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 200px;
}

.image {
    position: relative;
    width: 130px;
    margin-bottom: 5px;
    height: auto;
}

.textContentWrapper {
    padding: 0 8px 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.textContentWrapperNoImage {
    margin-top: 98px;
}

.productName {
    margin-bottom: 2px;
}

.priceAndCalories {
    color: var(--col--gray6);
}

.checkbox {
    z-index: 1;
    position: absolute;
    right: 10px;
    top: 10px;
}

.radioButton {
    z-index: 1;
    position: absolute;
    right: 5px;
    top: 5px;
}

.modifyButtonWrapper {
    width: 100%;
    height: 45px;
    margin-top: auto;
    border-top: 1px solid var(--col--gray4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.requireSelection {
    color: var(--col--utilityError);
}

@media (max-width: 768px) {
    .container {
        width: 125px;
    }

    .container::before {
        height: 50px;
    }

    .contentWrapper {
        min-height: 170px;
    }

    .image {
        width: 115px;
    }

    .checkbox {
        position: absolute;
        right: 5px;
        top: 5px;
    }

    .modifyButtonWrapper {
        height: 36px;
    }

    .textContentWrapperNoImage {
        margin-top: 86px;
    }
}
