.accountHeaderBlock {
    --account-title-font-familty: var(--ff--header);
    --account-title-font-size: 48px;
    --account-title-font-size-mobile: 32px;
    --account-title-line-height: 48px;
    --account-title-font-weight: 900;
    --account-header-padding: 25px 30px 25px 20px;
    --account-header-height: 180px;
    --account-header-height-mobile: 80px;
}
