.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.container button {
    margin-right: 20px;
    width: 76px;
}

.container button:last-child {
    margin: 0;
}

.sauseIntensity {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intensityText {
    color: inherit;
    margin: 0;
}

.selectedIntensityFlames {
    color: inherit;
}

.chip:hover {
    color: var(--col--light);
}

.chip:hover .intensityFlames {
    color: inherit;
}
