.title {
    --title-margin-bottom: 30px;
    --title-margin-right: 0px;
    --title-padding: 0 52px 0;
    --title-small-padding: 0 20px 0;
}

.container {
    --container-margin-top: 60px;
    --container-mobile-margin-top: 22px;
}
