.iconWrapper {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.icon {
    text-align: center;
}

.icon::before {
    color: var(--col--primary1);
}

.heading {
    text-align: center;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 1rem;
}

.infoText {
    text-align: center;
    margin-bottom: 0.7rem;
}

.infoSubtitle {
    text-align: center;
    margin-bottom: 2rem;
}

.marketingContainer {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: flex-start;
}

.marketingLabel {
    display: inline-block;
    width: 100%;
    margin-left: 10px;
    cursor: pointer;
}

.marketingLink {
    font-family: var(--heavy-font);
    text-decoration: underline;
    text-transform: uppercase;
}

.marketingLink:hover {
    text-decoration: none;
}

.checkbox {
    display: none;
}

.checkbox:checked + .styledCheckbox {
    background: var(--col--primary1);
    border: none;
}

.checkIcon {
    width: 24px;
    height: 24px;
    fill: var(--col--light);
}

.submitButton {
    width: 100%;
}

.styledCheckbox {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--col--light);
    flex-shrink: 0;
    border: 1px solid var(--col--gray6);
    box-sizing: border-box;
    cursor: pointer;
}

@media (min-width: 960px) {
    .formWrapper {
        padding: 0 40px;
    }
}
