.mapWrapper {
    width: 100%;
    height: 100%;
}

.mapPlaceHolder {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
