.marker {
    composes: marker from './marker.vars.css';
    width: var(--width);
    height: var(--height);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -100%);
    cursor: pointer;
}

.marker.selected {
    width: var(--selected-width);
    height: var(--selected-height);
}

.markerImage {
    width: auto;
    height: 100%;
}

.marker .listNumber {
    position: absolute;
    top: 9px;
    display: block;
    color: var(--col--light);
}

.marker.selected .deliveryMarkerIcon {
    position: absolute;
    top: 11px;
    font-size: 36px;
}

.marker.selected .listNumber {
    top: 11px;
    color: var(--col--dark);
}

@media screen and (max-width: 959px) {
    .marker .listNumber {
        top: 7px;
    }

    .marker.selected .listNumber {
        top: 9px;
    }

    .marker.selected .deliveryMarkerIcon {
        font-size: 24px;
    }
}
