.container {
    margin-top: 15px;
}

.nutrition {
    padding-bottom: 20px;
}

.nutritionLink {
    display: flex;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: underline;
    align-items: center;
    margin-left: -4px;
}

.nutritionLink:focus:not(:focus-visible) {
    outline: none;
}

.nutritionRow {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--col--gray4);
    padding: 16px 21px 16px 20px;
}

.nutritionTable:first-child {
    border-top: 1px solid var(--col--gray4);
}

.contains {
    font-family: var(--ff--link);
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    color: var(--col--secondary1);
    margin-top: 20px;
}

.nutritionDropdownHeader {
    height: 64px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    justify-content: space-between;
    cursor: pointer;
    color: var(--col--dark);
}

.nutritionDropdownHeaderText {
    font-size: 26px;
    line-height: 26px;
}

.nutritionDropdownHeaderWrapper:focus,
.nutritionDropdownHeader:focus {
    outline: none;
}

.nutritionDropdownHeaderWrapper:focus > .nutritionDropdownHeader {
    outline: auto;
}

.nutritionDropdownHeader:focus:not(:focus-visible) {
    outline: none;
}

.nutritionDropdownSection:focus {
    outline: none;
}

.nutritionDropdownChevron svg {
    font-size: 34px;
}

.expandedHeader {
    color: var(--col--secondary1);
}

.activeDropdown {
    border-left: 5px solid var(--col--primary1);
}

.nutritionDropdown {
    border-bottom: 1px solid var(--col--gray4);
    padding: 0 20px;
}

.nutritionDropdown:first-child {
    border-top: 1px solid var(--col--gray4);
}

.nutritionDropdownSection {
    margin-bottom: 25px;
}

@media (max-width: 959px) {
    .container {
        margin-top: 10px;
    }

    .nutritionRow {
        padding: 11px 18px 10px 20px;
    }

    .nutritionTable {
        margin-bottom: 15px;
    }

    .ingredients {
        margin-bottom: 10px;
    }

    .contains {
        font-size: 14px;
        line-height: 22px;
    }

    .nutritionDropdownHeaderText {
        font-size: 20px;
        line-height: 20px;
    }
}
