.card {
    --wrapper-background: linear-gradient(to bottom, var(--col--primary1) 50%, transparent 50%);
    --form-container-box-shadow: 0 0 30px rgb(0 0 0 / 15%);
    --form-container-font-family: Helvetica;
}
