.wrapper {
    composes: card from './card.vars.css';
    width: 100%;
    background: var(--wrapper-background);
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.formContainer {
    width: 80%;
    background: var(--col--light);
    box-shadow: var(--form-container-box-shadow);
    font-family: var(--form-container-font-family);
    padding: 20px;
    align-self: center;
    border-radius: var(--form-container-border-radius);
    overflow: var(--form-container-overflow);
}

@media (min-width: 960px) {
    .formContainer {
        width: 50%;
        padding: 34px 40px 32px;
    }
}
