.heading {
    composes: signup from './signup.vars.css';
    margin-top: 5px;
    margin-bottom: var(--signup-heading-mobile-margin-bottom);
}

.signInLabel {
    composes: signup from './signup.vars.css';
    margin: var(--sign-in-label-margin);
    padding: var(--sign-in-label-padding);
    background: var(--sign-in-label-background);
    text-align: center;
}

.signInLink {
    margin-left: 7px;
}

@media (min-width: 960px) {
    .heading {
        margin-top: 0px;
        margin-bottom: var(--signup-heading-desktop-margin-bottom);
    }
}
