.navigation {
    composes: navigation from './navigation.vars.css';
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--navigation-background-color);
    color: var(--navigation-color);
    padding: 0 30px;
    height: 57px;
}

.navigation::before {
    content: '';
    height: 18px;
    width: 18px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 41px;
}

.closeIcon {
    cursor: pointer;
}

.navigation .closeIcon {
    font-size: 18px;
}

.navigation .closeIcon::before {
    color: var(--navigation-color);
}

.closeIconPlaceholder {
    height: 18px;
    width: 18px;
}

@media (min-width: 960px) {
    .navigation {
        height: 85px;
    }

    .navigation::before {
        width: 24px;
        height: 24px;
    }

    .logo {
        height: 56px;
    }

    .navigation .closeIcon {
        font-size: 24px;
    }

    .link {
        display: flex;
    }

    .closeIconPlaceholder {
        height: 24px;
        width: 24px;
    }
}
