.signup {
    --sign-in-label-margin: 20px -20px -20px -20px;
    --sign-in-label-padding: 20px;
    --sign-in-label-background: var(--col--gray3);
    --signup-heading-desktop-margin-bottom: 16px;
}
