.submitButton {
    width: 100%;
}

.heading {
    margin-top: 1.2rem;
}

.label {
    font-size: 12px;
}

.signInLabel {
    margin-top: 25px;
    text-align: center;
}

.signInLink {
    margin-left: 7px;
}

.actionBar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1.5rem;
}

.actionBar .backIcon {
    font-size: 14px;
    margin-right: 0.1rem;
    position: relative;
    top: -1px;
}

.infoText {
    margin-bottom: 1.5rem;
}

@media (min-width: 960px) {
    .actionBar .backIcon {
        font-size: 18px;
    }
}
