.formWrapper {
    position: relative;
}

.paymentContainer {
    width: 100%;
    height: 488px;
    margin-left: -10px;
}

.paymentContainer iframe {
    width: calc(100% + 20px);
    height: 100%;
}

.paymentOverlay {
    position: absolute;
    background-color: var(--col--light);
    opacity: 0.35;
    height: 95px;
    left: -2px;
    right: -4px;
    bottom: 0;
}

.paymentOverlayHidden {
    display: none;
}

.paymentLoader {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 44px;
}

.buttonPay {
    margin-bottom: 20px;
}

.formContainer {
    line-height: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
}

.formContainerActive {
    visibility: visible;
}

.inputGroup {
    width: 100%;
    font-size: 16px;
    margin-bottom: 1em;
    position: relative;
}

.inputGroup:last-child {
    margin-bottom: 6px;
}

/* font family and font size hardcoded to Arial and 16px because
   iFrame use the same font family and font size */
.inputLabel {
    composes: paymentInfo from './index.vars.css';
    color: var(--col--dark);
    display: inline-block;
    font-family: Arial, sens-serif;
    font-size: var(--item-label-font-size);
    line-height: 24px;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.inputControl {
    composes: paymentInfo from './index.vars.css';
    border: 1px solid var(--item-control-border-color);
    border-radius: 0;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding-left: 20px;
}

.inputControl:focus {
    box-shadow: none;
    border: solid 1px var(--col--gray6);
    border-radius: 0;
    outline: none;
}

.invalid .inputControl {
    border: solid 1px var(--col--primary1);
    border-radius: 0;
}

.invalid .inputControl:not(:disabled) {
    border: solid 1px var(--col--primary1);
}

.invalid .inputControl:not(:disabled):focus {
    border: solid 1px var(--col--primary1);
    box-shadow: none;
    outline: none;
}

.valid .inputControl:not(:disabled) {
    border: solid 1px var(--col--gray6);
}

.valid .inputControl:not(:disabled):focus {
    border: solid 1px var(--col--gray6);
    box-shadow: none;
    outline: none;
}

.input {
    color: var(--col--primary2);
}

.termsContainer {
    margin-top: 0px;
    display: flex;
    align-items: flex-start;
}

.terms {
    display: inline-block;
    width: 100%;
    margin-left: 15px;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
}

.checkbox {
    display: none;
}

.confirmText {
    color: var(--col--gray6);
    font-size: 16px;
    line-height: 24px;
    margin: 24px 0;
}

@media screen and (min-width: 960px) {
    .terms {
        border-top: none;
    }
}

.buttonsDivider {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.dividerLine {
    width: 100%;
    height: 1px;
    background: var(--col--gray4);
}

.orWord {
    margin: 0 7px;
    width: 40px;
    text-align: center;
    text-transform: uppercase;
}

.googleAndApplePaymentContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
}

.googleAndApplePaymentContainer > div {
    flex: 1 1;
    position: relative;
}

.googleAndApplePaymentContainer > div:first-child {
    margin-right: 6px;
}

.googleAndApplePaymentContainer > div:last-child {
    margin-left: 6px;
}

.googleAndApplePaymentContainer > div:only-child {
    margin: 0;
}

.googleAndApplePaymentActiveContainer {
    height: 50px;
    margin-bottom: 22px;
}

.paymentOverlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: block;
    width: 100%;
    background-color: var(--col--gray2);
    opacity: 85%;
}

.googlePayOverlay::before {
    border-radius: 4px;
    height: 40px;
    opacity: 25%;
}

.applePayOverlay::before {
    border-radius: 2px;
    height: 40px;
}
