.confirmation {
    --order-form-border-top: 1px solid var(--col--gray4);
    --form-fields-border-top: 1px solid var(--col--gray4);
    --order-form-fields-margin-top: -40px;
    --order-form--desktop-top: -278px;
    --form-section-header-margin: 0;
    --order-header-background: var(--col--primary1);
    --order-header-mobile-background: var(--col--primary1);
    --order-header-desktop-height: 530px;
}
