.container {
    composes: confirmation from './confirmation.vars.css';
    display: flex;
    flex-direction: column;
}

.orderHeader {
    width: 100%;
    background: var(--order-header-background);
    color: var(--col--light);
}

.deliveryInfoSection p {
    margin-bottom: 5px;
}

@media (max-width: 480px) {
    .orderHeader {
        background: var(--order-header-mobile-background);
    }
}

@media screen and (max-width: 959px) {
    .orderHeader {
        padding-bottom: 81px; /** negative margin compensation */
    }
}

.formFields > * {
    padding-top: 40px;
}

.formFields > *:last-child {
    padding-bottom: 40px;
}

.formSectionHeader {
    display: inline-block;
    margin: var(--form-section-header-margin);
}

.formFields {
    padding: 0;
    margin: 0;
    margin-top: var(--order-form-fields-margin-top);
}

.orderForm {
    background-color: var(--col--light);
    padding: 0 20px;
}

.orderForm > *:not(:first-child) {
    border-top: var(--order-form-border-top);
}

.formFields > *:not(:first-child) {
    border-top: var(--form-fields-border-top);
}

.formControl {
    margin-top: 20px;
}

.actionSection {
    text-align: center;
}

.actionSection .link {
    font-family: var(--heavy-font);
    color: var(--col--dark);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-decoration-line: underline;
    text-transform: uppercase;
}

@media screen and (min-width: 960px) {
    .orderHeader {
        height: var(--order-header-desktop-height);
    }

    .orderForm {
        width: 885px;
        padding: 0 50px;
        align-self: center;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
        position: relative;
        top: var(--order-form--desktop-top);
        margin-bottom: -278px;
        margin-top: 0;
    }

    .formFields {
        margin-top: -10px;
    }

    .formFields > *::before {
        font-size: var(--h4-lg-size, 26px);
    }

    .actionSection {
        font-size: 18px;
        line-height: 22px;
    }

    .actionSection .link {
        font-size: 18px;
    }

    .bannerContainer {
        width: 885px;
        margin-top: 80px;
        padding: 0 50px;
        align-self: center;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    }
}
