.locationsWrapper {
    height: 100%;
    min-height: 100%;
    padding: 30px 52px 80px;
}

.title {
    font-family: var(--ff--subheader);
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: var(--col--dark);
    padding-top: 12px;
    margin: 0;
}

div.titleContainer {
    padding: 50px 0 0;
}

@media (max-width: 1200px) {
    .locationsWrapper {
        padding: 30px 32px 80px;
    }
}

@media (max-width: 960px) {
    .locationsWrapper {
        padding: 16px 20px 50px;
    }
}

@media (max-width: 768px) {
    .locationsWrapper {
        padding: 16px 20px 50px;
    }
}
