.button {
    --button-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
    --button-font-size: 26px;
    --button-line-height: 26px;
    --button-font-weight: normal;
    --button-color: var(--col--light);
}
