.button {
    composes: button from './button.vars.css';
    font-family: var(--subhead-font);
    font-weight: var(--button-font-weight);
    box-shadow: var(--button-shadow);
    border-radius: 0;
    font-size: var(--button-font-size);
    line-height: var(--button-line-height);
    padding: 0px 28px;
    cursor: pointer;
    color: var(--button-color);
    border: 4px solid var(--col--primary1);
    background-color: var(--col--primary1);
    min-height: 50px;
    text-transform: uppercase;
}

.button:focus:not(:focus-visible) {
    outline: none;
}

.fullWidth {
    width: 100%;
}

.button:not(.large) {
    letter-spacing: 0.01em;
}

.button:disabled {
    background-color: var(--col--gray4);
    border-color: var(--col--gray4);
    color: var(--col--light);
    cursor: not-allowed;
}

.button:disabled a {
    cursor: not-allowed;
    pointer-events: none;
}

.button:hover:not(:disabled) {
    background-color: var(--col--primary1variant);
    border-color: var(--col--primary1variant);
}

.button a {
    font-family: var(--subhead-font);
    text-decoration: none;
    text-transform: uppercase;
}

.large {
    font-size: 40px;
    line-height: 40px;
    min-height: 68px;
}

.small {
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 0.01em;
    padding: 4px 16px;
    min-height: 44px;
}

.button.secondary {
    color: var(--col--primary1);
    background-color: var(--col--light);
}

.button.secondary:disabled {
    color: var(--col--gray4);
}

.button.secondary:hover:not(:disabled) {
    color: var(--col--primary1variant);
    background-color: var(--col--light);
}
