.container {
    position: relative;
    text-align: center;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 15%);
    border-radius: 6px;
    max-width: 658px;
    width: 100%;
    padding: 30px 20px;
    align-self: flex-end;
    margin-right: 58px;
    box-sizing: border-box;
}

.buttonWrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
}

.iconContainer {
    width: 44px;
    height: 44px;
    position: relative;
    display: inline-block;
}

.restrictIcon {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 44px;
}

.orderIcon {
    position: absolute;
    top: 11px;
    left: 11px;
    font-size: 22px;
}

.content {
    margin: 17px 0 57px;
}

.title {
    margin: 0 0 5px;
}

@media (min-width: 768px) {
    .iconContainer {
        width: 60px;
        height: 60px;
    }

    .orderIcon {
        top: 13px;
        left: 13px;
        font-size: 34px;
    }

    .restrictIcon {
        font-size: 60px;
    }
}

@media (max-width: 991px) {
    .container {
        align-self: unset;
        margin-right: unset;
        width: auto;
    }
}
