.container {
    position: relative;
}

.icon {
    position: absolute;
    top: 22px;
    left: 26px;
}

.textBlock {
    padding: 12px 16px 12px 70px;
}

.title,
.description {
    color: var(--col--light);
}

.title {
    font-weight: 700;
}

.description {
    margin-top: 5px;
    width: 168px;
    font-weight: 500;
}
