.panelWrapper {
    padding: 26px 52px 26px 186px;
    position: sticky;
    bottom: 0;
    background-color: var(--col--dark);
    display: flex;
    justify-content: space-between;
}

.descriptionContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.bannerHeader {
    font-family: var(--ff--subheader);
    color: var(--col--light);
    margin: 0;
}

.subText {
    color: var(--col--gray2);
}

.buttonWrapper {
    display: flex;
}

.buttonLoading {
    margin-right: -20px;
}

.signInLoading {
    padding: 0;
    position: relative;
    right: calc(50% - 10px);
    bottom: -15px;
}

@media (max-width: 768px) {
    .panelWrapper {
        background-color: var(--col--light);
        flex-direction: column;
        padding: 0;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    }

    .descriptionContainer {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding: 16px 20px;
    }

    .bannerHeader {
        margin-right: 5px;
        color: var(--col--gray6);
        font-size: 14px;
    }

    .subText {
        color: var(--col--gray6);
    }

    .buttonSave {
        padding: 21px 0;
        width: 100%;
    }

    .signInLoading {
        bottom: -24px;
    }
}
