.section {
    width: 100%;
}

.backIcon {
    padding-right: 7px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.teamContainer {
    margin-bottom: 20px;
    padding: 17px 21px;
    height: 68px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-basis: 48%;
    align-items: center;
    border-radius: 2px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.teamContainer.selected {
    border: 1px solid var(--col--dark);
}

.teamName {
    text-transform: capitalize;
}

@media (max-width: 768px) {
    .selectedTeams {
        margin-bottom: 124px;
    }

    .teamContainer {
        margin-bottom: 15px;
        padding: 17px 20px;
        height: 60px;
        width: 100%;
        flex-basis: auto;
        align-items: center;
    }
}
