.modifierCardWrapper {
    max-width: 405px;
}

.modifierCardSection {
    margin: 0 51px;
    padding-bottom: 20px;
}

@media (max-width: 767px) {
    .modifierCardWrapper {
        margin: 10px 20px 10px 0;
    }

    .modifierCardSection {
        margin: 0 20px 20px;
        padding-bottom: 0;
    }
}
