.rewardsCatalogWrapper {
    margin-top: 80px;
}

.catalogLoader {
    text-align: center;
    padding: 64px 0;
}

.title {
    padding: 0 52px;
    margin-bottom: 36px;
}

/* Mobile devices */
@media (max-width: 768px) {
    .rewardsCatalogWrapper {
        margin-top: 0px;
    }
}

@media (max-width: 960px) {
    .title {
        padding: 0 20px;
    }
}

@media (min-width: 1441px) {
    .rewardsCatalogWrapper {
        padding: 0 240px;
    }
}
