.wrapper {
    align-items: flex-start;
}

.link {
    font-family: var(--ff--header);
}

.wrapper h2,
.wrapper h3 {
    max-width: 320px;
}

@media (min-width: 960px) {
    .wrapper h2,
    .wrapper h3 {
        max-width: 598px;
    }
}
