.container {
    box-sizing: border-box;
    padding: 20px 15px 25px 25px;
    width: 100%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    max-width: 488px;
    max-height: 166px;
}

.wrapperBlock {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.divider {
    margin: 0 15px;
}

.title {
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0.01em;
    margin-bottom: 20px;
}

.cardImage {
    width: 47px;
    height: 30px;
    margin-right: 8px;
    object-fit: contain;
}

.cardNumber {
    font-weight: 500;
}

.balanceBlock {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.balanceDescription {
    text-decoration: underline;
    white-space: nowrap;
}

.balanceText {
    color: var(--gray6);
}

.balanceDescription.zeroBalance {
    color: var(--col--utilityError);
    text-decoration: none;
}

.expiredBlock {
    font-weight: 500;
    color: var(--col--gray6);
}

.expiresDate {
    color: var(--col--dark);
}

.isExpired {
    color: var(--col--utilityError);
}

.btnWrapper {
    cursor: pointer;
    margin: 0 5px;
}

.btnWrapper span {
    color: var(--col--dark);
}

.defaultButtonCard {
    cursor: pointer;
    padding: 0 10px;
    text-transform: uppercase;
    border-radius: 27px;
    line-height: 1.4;
}

.defaultButtonCardBlack {
    background-color: var(--col--dark);
}

.defaultButtonCardBlack .defaultButton {
    color: var(--col--light);
}

.rightActionWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.removeIcon {
    width: 14px;
    height: 14px;
    margin-right: 7px;
    font-size: 14px;
}

.buttonText {
    text-decoration: underline;
}

.actionWrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

@media (max-width: 960px) {
    .title {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 15px;
    }
}
