
.info {
    display: flex;
    flex-direction: column;
}



.locationName {

    font-family: var(--brand-font-family);
    color: #231f20!important;
    font-size: 18px!important;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
    display: inline-block;
    padding-right: 40px;
}

.distance {
    font-size: 12px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    line-height: 20px;
}

.hoursStatus.isOpen {
    color: #349827;
}
.hoursStatus {
    color: #231f20;
    font-size: 15px;
    outline: 0;
    font-family: var(--brand-font-family);
}
.mb10 {
    margin-bottom: 10px!important;
}
.mt10 {
    margin-top: 10px!important;
}

.locationClosureMessage {
    padding: 10px;
    color: #f31431;
}

.locationAlertMessage {
    background-color: #f6f6f6;
    font-size: 13px;
    font-family: Helvetica;
    line-height: 16px;
    color: #333;
    background-image: url(https://locations.arbys.com/images/alert.svg);
    background-size: 30px auto;
    background-position: left center;
    background-repeat: no-repeat;
    padding: 15px 10px 15px 35px;
}

.address {
    margin-top: 5px;
    font-size: 15px;
    line-height: 18px;
    outline: 0;
}
.dataHideEmpty[data-hide-empty=""] {
    display: none;
}
.dataHideNotEmpty[data-hide-not-empty=""] {
    display: none;
}

.mapListLinks {
    margin-top: 5px;
    color: gray;
    font-size: .7rem;
}

.orderButton {
    /*
    position: absolute;
    right: 10px;
    top: 10px;
    */
    align-self: flex-end;
}

.directions {
    margin-left: 1rem;
}

.directions:hover,
.phone:hover {
    color: var(--highlight-color);
}