ul.mapList {
    list-style: none;
    padding-inline-start: 10px;
}

li.mapListItemWrap {
    padding: 20px;
    background: #fff;
    position: relative;
    list-style: none;
    box-shadow: 0 5px 11px -8px rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    margin-bottom: 20px;
}