div.infoContainer {
    position: absolute;
    width: 100%;
    bottom: 20px;
    min-width: 300px;
    left: 12px;
}
div.info {
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    top: 0;
    left: 0;
    transform: translate(-50%,-100%);
    background-color: white;
    border-radius: 8px;
    padding: 12px;
    box-shadow: 0 2px 7px 1px rgba(0,0,0,0.3);
    z-index: 10;
    max-width: 633px;
    max-height: 597px;
    min-width: 350px;
}
div.info > a.locationName {
    font-size: 1rem;
}

div.info > div.address {
    flex: 2 1 0%;
    padding-right: 10px;
}

div.infoContainer:after {
    background: linear-gradient(45deg,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%);
    box-shadow: -2px 2px 2px 0 rgba(178,178,178,.4);
    content: "";
    height: 15px;
    left: 0;
    position: absolute;
    top: 0;
    transform: translate(-50%,-50%) rotate(-45deg);
    width: 15px;
    z-index: 10;
}