.container {
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loadersvg {
    width: 100px;
    height: auto;
}

.st0 {
    fill: var(--col--primary1);
}

.st1 {
    fill: var(--col--dark);
}

.st2 {
    fill: var(--col--light);
}

.st3 {
    fill: var(--col--dark);
}

@keyframes wingFlap {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(40deg) scaleY(-0.25);
    }
}

@keyframes translateBuff {
    0% {
        transform: translateY(10px) rotate(0deg);
    }

    100% {
        transform: translateY(-18px) rotate(0deg);
    }
}

.wing {
    transform-origin: 120px 85px;
    animation: wingFlap 800ms alternate infinite ease-in;
}

.buffalowing {
    animation: translateBuff 800ms alternate infinite ease-in;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(720deg);
    }
}

.section {
    transform-origin: 113.05px 113.05px;
    stroke-width: 1px;
    stroke: var(--col--dark);
    fill: var(--col--dark);
    animation: rotate 1500ms infinite cubic-bezier(0.19, 0.42, 0.3, 1.19);
}

.stroke {
    fill: var(--col--gray2);
}
