.cardContainer {
    height: fit-content;
    padding: 10px;
    z-index: 10000;
}

.container {
    font-family: Helvetica;
}

.formWrapper {
    position: relative;
}

.iconClose {
    cursor: pointer;
    font-size: 18px;
    display: flex;
    color: var(--col--dark);
}

.optionalField {
    font-family: Helvetica;
    font-size: 15px;
    font-weight: 700;
}

.optionalField.span {
    font-weight: 400;
}

.overlayTitle {
    font-family: var(--ff--header);
    font-size: 28px;
    line-height: 28px;
    font-weight: 900;
    font-style: normal;
    padding-top: 1.5rem;
    text-transform: uppercase;
}

.fieldLabel {
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    text-transform: none;
}

.fieldInput {
    /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
    border-color: #cacaca;
}

.paymentContainer {
    width: 100%;
    height: 488px;
}

.paymentContainer iframe {
    width: 100%;
    height: 100%;
    /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
    background-color: #eaeaea;
}

.paymentOverlay {
    position: absolute;
    background-color: var(--col--light);
    opacity: 0.35;
    height: 75px;
    left: -2px;
    right: -4px;
    bottom: 42px;
}

.brandLoader {
    position: absolute;
    height: 75px;
    left: -2px;
    right: -4px;
    bottom: 42px;
}

.paymentOverlayHidden {
    display: none;
}

.formBackground {
    /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
    background-color: #eaeaea;
}

.formSpacing {
    margin: 0 1.5rem;
}
