.numberedList {
    --list-wrapper-padding: 55px 45px 59px 45px;
    --description-margin-bottom: 41px;
    --description-mobile-margin-bottom: 35px;
    --item-margin-bottom: 68px;
    --item-mobile-margin-bottom: 36px;
    --item-title-margin-bottom: 0px;
    --item-title-mobile-margin-bottom: 11px;
    --item-description-padding-left: 92px;
    --item-number-margin-right: 25px;
    --item-number-font-size: 48px;
    --item-number-line-height: 48px;
}
