.container {
    composes: container from './index.vars.css';
    width: 997px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: var(--padding-desktop);
    border-top: 1px solid var(--col--gray4);
}

.title {
    font-family: var(--ff--header);
    font-weight: 900;
    width: 100%;
    background: transparent;
    margin-top: 0;
    margin-bottom: 0;
}

.paymentType {
    display: flex;
    align-items: center;
    margin: var(--payment-type-title-margin-desktop);
}

.paymentTypeText {
    margin-left: 6px;
}

.gridWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(335px, auto));
    grid-column-gap: 20px;
    grid-row-gap: 15px;
}

.loader {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modalButtons {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 18px;
}

.button {
    margin: 0 5px;
    text-transform: uppercase;
}

@media (max-width: 1400px) {
    .container {
        width: 100%;
        padding: var(--padding-mobile);
    }

    .button {
        padding: 0 10px;
    }

    .paymentType {
        margin: var(--payment-type-title-margin-mobile);
    }
}

@media (max-width: 730px) {
    .gridWrapper {
        align-self: center;
    }
}
