.container {
    counter-reset: section;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.container > *::before {
    content: counter(section);
    counter-increment: section;
    font-family: var(--head-font);
    font-size: var(--h4-md-size, 28px);
    color: var(--col--primary1);
    padding-right: 9px;
}

.itemWrapper {
    display: flex;
    align-items: center;
}

.itemWrapper:not(:first-child) .text {
    border-top: 1px solid var(--col--gray4);
}

.text {
    font-family: var(--subhead-font);
    color: var(--col--dark);
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    padding: 21px 0;
    margin: 0;
    width: 100%;
}

@media screen and (min-width: 960px) {
    .container > *::before {
        font-size: var(--h4-md-size, 40px);
    }

    .text {
        font-size: 26px;
        line-height: 26px;
        padding: 34px 0;
    }
}
