@font-face {
    font-family: 'inspire-icons';
    src: url('/legacy/fonts/inspire-icons.ttf?btvdl6') format('truetype'),
        url('/legacy/fonts/inspire-icons.woff?btvdl6') format('woff'),
        url('/legacy/fonts/inspire-icons.svg?btvdl6#inspire-icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.inspire-icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'inspire-icons' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.Invisible::before {
    content: '\e933';
}

.Visible::before {
    content: '\e934';
}

.Logo::before {
    content: '\e932';
}

.For-Desktop-Subhead2::before {
    content: '\e91b';
}

.Fish::before {
    content: '\e91c';
}

.Bell::before {
    content: '\e91d';
}

.BetterForYou::before {
    content: '\e91e';
}

.Deals::before {
    content: '\e91f';
}

.DeliveryAvailable .path1::before {
    content: '\e920';
    color: rgb(255, 255, 255);
}

.DeliveryAvailable .path2::before {
    content: '\e921';
    margin-left: -1.095703125em;
    color: rgb(42, 34, 28);
}

.DeliveryAvailable .path3::before {
    content: '\e922';
    margin-left: -1.095703125em;
    color: rgb(215, 25, 32);
}

.DeliveryUnavailable .path1::before {
    content: '\e923';
    color: rgb(255, 255, 255);
}

.DeliveryUnavailable .path2::before {
    content: '\e924';
    margin-left: -1em;
    color: rgb(215, 25, 32);
}

.EmailSignUp::before {
    content: '\e925';
}

.LimitedTime::before {
    content: '\e926';
}

.Meat::before {
    content: '\e927';
}

.Milkshake::before {
    content: '\e928';
}

.NoMeats .path1::before {
    content: '\e929';
    color: rgb(215, 25, 32);
}

.NoMeats .path2::before {
    content: '\e92a';
    margin-left: -1em;
    color: rgb(42, 34, 28);
}

.Party::before {
    content: '\e92b';
}

.Recipe::before {
    content: '\e92c';
}

.Sandwich::before {
    content: '\e92d';
}

.Spice::before {
    content: '\e92e';
}

.StarPercent::before {
    content: '\e92f';
}

.Truck::before {
    content: '\e930';
}

.Error::before {
    content: '\e931';
}

.Chicken::before {
    content: '\e918';
}

.Cow::before {
    content: '\e919';
}

.Pig::before {
    content: '\e91a';
}

.Ban::before {
    content: '\e900';
}

.Delivery::before {
    content: '\e901';
}

.Stopwatch::before {
    content: '\e902';
}

.Bag::before {
    content: '\e903';
}

.Hamburger::before {
    content: '\e904';
}

.MapPin::before {
    content: '\e905';
}

.OrderHistory::before {
    content: '\e906';
}

.Down::before {
    content: '\e907';
}

.Left::before {
    content: '\e908';
}

.Right::before {
    content: '\e909';
}

.Up::before {
    content: '\e90a';
}

.Add::before {
    content: '\e90b';
}

.Calendar::before {
    content: '\e90c';
}

.Check::before {
    content: '\e90d';
}

.Close::before {
    content: '\e90e';
}

.Directions::before {
    content: '\e90f';
}

.Edit::before {
    content: '\e910';
}

.Filter::before {
    content: '\e911';
}

.NewWindow::before {
    content: '\e912';
}

.Paper::before {
    content: '\e913';
}

.PaperFilled::before {
    content: '\e914';
}

.Phone::before {
    content: '\e915';
}

.Search::before {
    content: '\e916';
}

.Subtract::before {
    content: '\e917';
}
