.navigationDropdownContent {
    width: 432px;
    max-width: 100%;
}

.navigationDropdown {
    padding: 0;
}

@media (max-width: 959px) {
    .navigationDropdownContent {
        width: 100%;
    }
}
