.simpleCard {
    margin-bottom: 14px;
    height: 85px;
    display: flex;
    border-radius: 2px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}

.simpleCardImage {
    height: 85px;
}

.simpleCardInfo {
    text-align: left;
    padding: 13px 14px 0 13px;
    width: calc(100% - 113px);
}
