.container {
    text-align: center;
    overflow: auto;
    scroll-behavior: smooth;
    border-bottom: 1px solid var(--col--gray1);
    box-sizing: border-box;
    background-color: var(--col--light);
    padding: 30px 20px;
}

.iconContainer {
    width: 60px;
    height: 60px;
    position: relative;
    display: inline-block;
}

.restrictIcon {
    position: absolute;
    top: 0;
    left: 0;
}

.carIcon {
    position: absolute;
    top: 13px;
    left: 13px;
    font-size: 34px;
}

.content {
    text-align: center;
    margin: 20px 0 17px;
}

.title {
    margin: 0 0 5px;
}

.pickupInsteadButton {
    margin: 20px 0;
}
