.navigation {
    --logo-height: 40px;
    --logo-desktop-height: 60px;
    --navigation-background-color: var(--col--light);
    --navigation-color: var(--col--dark);
    --navigation-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
