div.banner {
    background-color: var(--col--secondary2);
    padding: 18px 52.5px;
    display: flex;
    margin-top: 37px;
}

.logo {
    width: 44px;
}

.messageContainer {
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    min-width: 44px;
    align-items: center;
}

.message {
    font-weight: 700;
}

.link {
    margin-left: 10px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: underline;
}

.loyaltyBannerLabelHint {
    color: var(--col--utilitySuccess);
    margin-top: 4px;
}

@media (max-width: 960px) {
    div.banner {
        flex-direction: column;
        padding: 15px 15px 24px;
        align-items: center;
        margin-top: 41px;
    }

    .messageContainer {
        flex-direction: column;
        margin-left: 0;
    }

    .message {
        text-align: center;
        margin-bottom: 5px;
    }

    .link {
        margin-left: 0;
        font-size: 14px;
    }

    .logo {
        margin-bottom: 8px;
    }
}
