.marginTop {
    margin-top: 20px;
}

.userPic {
    display: block;
    margin-bottom: 10px;
}

.title {
    margin-bottom: 20px;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

.form {
    width: 100%;
    flex-direction: column;
    border: 1px solid lightgrey;
    padding: 30px 20px;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}

.linkButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.orderList {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.orderItem {
    margin: 1em 0;
    padding: 0 1em 1em 1em;
}

.orderItemHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orderItemProductList {
    padding: 0;
    list-style-position: inside;
}

.button {
    width: 186px;
}

.success {
    color: green;
}

.error {
    color: red;
}
