.tabs {
    background-color: var(--col--dark);
    padding: 0 20px;
}

.wrapper .tab {
    color: var(--col--light);
    height: 50px;
    min-height: 50px;
    padding: 0;
}

.separator {
    color: var(--col--gray5);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
    font-family: var(--ff--pharagraph);
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    display: flex;
    align-items: center;
}

.separator span {
    margin: 0 8px;
}

.separator::before,
.separator::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--col--gray6);
}

.pickupSearch {
    background-color: var(--col--dark);
    padding: 20px;
}

.useMyLocationBtn {
    width: 100%;
}

.useMyLocationWrapper {
    padding-bottom: 15px;
}

.useMyLocationWrapper.hide {
    display: none;
}

@media (max-width: 768px) {
    .useMyLocationWrapper {
        padding-bottom: 8px;
    }

    .or {
        margin-top: 14px;
        margin-bottom: 14px;
    }

    .deliverySearch {
        margin-bottom: 20px;
    }
}
