.submitButton {
    width: 100%;
}

.heading {
    font-family: var(--subhead-font);
    font-size: 24px;
    line-height: 24px;
    margin: 0;
    color: var(--col--primary1);
}

.subheading {
    margin-top: 10px;
    margin-bottom: 25px;
}

.label {
    font-size: 12px;
}

.signInLabel {
    margin-top: 25px;
    text-align: center;
}

.signInLink {
    margin-left: 7px;
}

.hidden {
    display: none;
}

.infoText {
    margin-bottom: 1.5rem;
}
