.bag {
    --header-height: 32px;
    --headerContainer-padding: 26px 0;
    --bagItemContainer-margin: 10px;
    --bagItems-padding: 20px;
    --summaryHeader-margin: 5px 0 10px;
    --unavailableHint-color: var(--col--primary1);
    --buttons-padding: 0 50px;
    --bagItem-padding: 17px 18px 25px 12px;
    --bagItemLinks-padding: 4px 21px;
    --bag-height: calc(100% - 126px);
}
