.container {
    height: 100vh;
    display: flex;
    position: absolute;
}

.modal {
    width: 100%;
    height: 100%;
    display: flex;
}

.loader {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--col--light);
}

.content:focus {
    outline: none;
}

.closeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    text-transform: uppercase;
    color: var(--col--light);
    background: var(--col--dark);
    border-radius: 0;
    height: 66px;
    border-left: 0;
    cursor: pointer;
}

.closeButtonIcon::before {
    color: var(--col--light);
}

.closeButton > * {
    margin-right: 13px;
}

.bag {
    composes: bag from './index.vars.css';
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    flex-direction: column;
}

.bag > * {
    margin: 0 20px;
}

.bagEmpty > * {
    margin: 0 20px;
}

.bagItems {
    margin: 0;
    padding: var(--bagItems-padding);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
}

.bagItemsEmpty {
    height: calc(100vh - 215px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    max-width: 312px;
}

.marginBottomBagItems {
    height: calc(100vh - 336px - 110px);
    margin-bottom: 110px;
}

.headerContainer {
    padding: var(--headerContainer-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--col--gray5);
    min-height: min-content;
}

.header {
    height: var(--header-height);
    margin: 0;
    float: left;
    align-self: flex-end;
}

.itemCount {
    float: right;
    font-size: 22px;
    font-family: var(--subhead-font);
    margin-left: 10px;
    align-self: flex-end;
    margin-bottom: 4px;
}

.yourBagHeaderContainer {
    display: flex;
}

.total {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.totalHint {
    color: var(--col--dark);
}

.summaryHeader {
    margin: var(--summaryHeader-margin);
}

.buttons {
    width: 100%;
    display: flex;
    height: 60px;
}

.buttons a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons a > * {
    flex-grow: 1;
}

.buttons > * {
    flex-grow: 1;
}

.buttons > *:nth-child(1) {
    margin-right: 2px;
}

.buttons.callToActionButtons > *:first-child {
    margin-right: 0;
}

.buttons .bagButton {
    padding: 0;
}

.tooltip {
    bottom: 20px;
    height: auto;
    min-height: auto;
}

.reviewTotal {
    padding: 0 0 20px;
    margin-top: 20px;
    display: -webkit-box;
    align-items: flex-end;
    -webkit-box-pack: end;
    -webkit-box-align: end;
}

.unavailableHeader {
    float: left;
}

.unavailableRemove {
    float: right;
    margin-top: 5px;
    background: transparent;
    border: none;
}

.unavailableHint {
    margin-bottom: 10px;
    color: var(--unavailableHint-color);
    display: flex;
    width: 100%;
}

.unavailableNotification {
    width: 100%;
    padding: 17px 0;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--col--light);
    background-color: var(--col--utilityError);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}

.phoneLink {
    pointer-events: auto;
}

.locationSelectWrapper {
    position: relative;
    width: 100%;
    height: 44px;
    flex-shrink: 0;
}

.locationSelect {
    color: var(--col--light);
    background: var(--col--dark);
    width: 100%;
}

.locationSelectContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
}

.locationSelectInfo {
    font-family: var(--ff--pharagraph);
    font-style: normal;
    font-weight: var(--info-font-weight);
    font-size: 10px;
    line-height: 14px;
    text-transform: uppercase;
    color: var(--col--gray4);
}

.locationSelectIcon {
    font-size: 10px;
    margin-left: 6.1px;
    margin-right: 4.4px;
    color: var(--col--light);
}

.locationSelectChevronIcon::before {
    margin-left: 5px;
    color: var(--col--light);
}

.locationSelectLocationBlock {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

.unavailableBlockControls {
    overflow: auto;
}

@media (max-width: 959px) {
    div.bagNavigationDropdownContent {
        position: absolute;
        left: 0;
        top: 44px;
        z-index: 1;
        margin: 0;
        max-width: 432px;
        width: 100%;
        background-color: var(--col--light);
    }

    .bagNavigationDropdownModal :global(.marker) {
        position: absolute;
        top: -10px;
        display: block;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid var(--col--dark);
    }
}

@media screen and (min-width: 960px) {
    .modal {
        justify-content: flex-end;
    }

    .content {
        width: 473px;
        align-self: flex-end;
        align-items: center;
    }

    .locationSelectContainer {
        padding: unset;
    }

    .closeButton {
        width: 100%;
    }

    .bagItems {
        width: 370px;
        height: calc(100vh - 380px);
    }

    .bagItemsList {
        flex-grow: 1;
    }

    .bagItemsEmpty {
        height: calc(100vh - 248px);
        max-width: none;
    }

    .marginBottomBagItems {
        height: calc(100vh - 380px - 110px);
        margin-bottom: 110px;
    }

    .header {
        font-size: 32px;
        line-height: 32px;
    }

    .buttons {
        composes: bag from './index.vars.css';
        height: 50px;
        margin: 20px 0;
        padding: var(--buttons-padding);
        box-sizing: border-box;
    }

    .callToActionButtons {
        padding: 0;
        margin: 0;
        height: auto;
    }

    .callToActionButtons.buttons > *:first-child {
        margin-right: 0;
        margin-left: 0;
    }

    .callToActionButtonsContainer {
        width: inherit;
    }

    .buttons > *:first-child {
        margin-right: 10px;
    }

    .buttons > *:last-child {
        margin-left: 10px;
    }

    .buttons > .callToActionButton {
        height: 60px;
        margin: 0;
    }

    .reviewTotal {
        padding: 0;
    }

    .itemCount {
        align-self: center;
        margin-top: 5px;
    }

    .bagEmpty > * {
        margin: 0 52px;
    }

    .unavailableNotification {
        padding: 16px 0;
        margin: 0px -32px;
    }

    .locationSelectInfo {
        font-size: 12px;
        line-height: 12px;
    }
}
