.bagItemContainer,
.productDealContainer {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    margin-bottom: var(--bagItemContainer-margin);
    position: relative;
}

.productDealContainer {
    height: 97px;
    display: flex;
    flex-direction: row;
}

.offerButtonSection {
    display: flex;
    flex-direction: row;
}

.verticalDivider {
    width: 0px;
    height: 23px;
    border-left: 1px solid var(--col--gray4);
    margin: 0 21px;
}

.bagItemWithSelectDealContainer {
    margin-bottom: 0;
}

.selectDealAction {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 13px;
    color: var(--col--gray6);
    cursor: pointer;
    border: 2px dashed var(--col--gray4);
}

.bagItem {
    padding: var(--bagItem-padding);
    display: flex;
}

.bagItemImage {
    height: 60px;
}

.unavailable .bagItemImage,
.unavailable .productDealContainer {
    opacity: 0.5;
}

.dealInfoContainer {
    display: flex;
    flex-direction: column;
    padding: 12px 15px;
}

.offerHeader {
    font-family: var(--subhead-font);
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 2px;
    max-width: 250px;
}

.offerDateHeader {
    color: var(--col--gray6);
    font-family: var(--base-font);
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 12px;
}

.bagItemInfo {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: calc(100% - 92px);
}

.bagItemModifiers {
    margin-bottom: 10px;
}

.bagItemHeader,
.bagItemModifier {
    display: flex;
    justify-content: space-between;
}

.bagItemLinks > button {
    padding: var(--bagItemLinks-padding);
}

.bagItemLinks > *:first-child {
    padding-left: 0;
}

.bagItemLinks > :nth-child(2n + 1) {
    border-right: 1px solid var(--col--gray4);
}

.bagItemLinks > :nth-child(2n) {
    border-left: 1px solid var(--col--gray4);
}

.bagItemLinks.noBorder button {
    border-right: none;
    border-left: none;
}

.quantityControls {
    display: flex;
    height: 45px;
}

.quantityControl {
    flex-grow: 1;
    border-top: 1px solid var(--col--gray4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantityControl:nth-child(1),
.quantityControl:nth-child(3) {
    color: var(--col--gray4);
}

.quantityControl:nth-child(2) {
    flex-grow: 2;
}

.quantityControl:not(:last-child) {
    border-right: 1px solid var(--col--gray4);
}

.quantityControl.activeControl {
    color: var(--col--primary1);
}

.quantityControl.activeControl:hover {
    cursor: pointer;
}

.removedItemContainer {
    border: 1px solid var(--col--gray4);
    background-color: var(--col--gray1);
}

.removedItemProduct,
.removedItemAction {
    display: flex;
    justify-content: center;
    align-items: center;
}

.removedItemProductWrapper {
    text-align: center;
}

.removedItemProduct {
    padding: 0 12px;
    height: 80px;
    border-bottom: 1px solid var(--col--gray4);
}

.removedItemAction {
    height: 45px;
    cursor: pointer;
}

.removedItemActionLine > *:first-child {
    margin-right: 5px;
}

.product {
    font-family: var(--heavy-font);
}

.unavailable .offerHeader,
.unavailable .offerButtonRemove,
.unavailable .offerDateHeader {
    color: var(--col--gray5);
    user-select: none;
    pointer-events: none;
}

.unavailableItem .bagItemImage {
    opacity: 0.5;
}

.unavailableItem .bagItemLabel,
.unavailableItem .bagItemPrice {
    color: var(--col--gray6);
}

.unavailableItem .bagItemLinks .bagItemLabel {
    color: var(--col--dark);
}

.imgColumn {
    width: 88px;
    height: 100%;
    display: flex;
    overflow: hidden;
    background: var(--col--primary1);
}

.dealImage {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill !important;
}

.unavailable .bagItemPrice {
    display: none;
}

.quantityControl:focus:not(:focus-visible),
.bagItemLabel:focus:not(:focus-visible),
.removedItemActionLine:focus:not(:focus-visible) {
    outline: none;
}
