.footer {
    --footer-content-border-top: 5px solid var(--col--primary1);
    --footer-links-block-padding: 0 21px;
    --footer-link-block-margin-bottom: 21px;
    --footer-link-line-height: 18px;
    --footer-link-block-heading-margin: 0 0 15px 0;
    --footer-secondary-block-hint-container-padding: 14px 0 14px 51px;
    --footer-secondary-block-hint-container-padding-mobile: 12px 0;
    --footer-secondary-block-links-list-padding: 16px 0 13px 0;
    --footer-secondary-block-links-list-before-content: '\2022';
    --footer-secondary-block-links-list-padding-left: 19px;
    --footer-social-link-block-list-padding: 6px 0 0 0;
    --footer-secondary-bg: var(--col--dark);
    --footer-secondary-color: var(--col--gray5);
    --footer-background-bmage-bottom-mobile: 17px;
    --footer-link-block-border: 1px solid rgba(255, 255, 255, 0.15);
    --footer-secondary-block-links-container-border-mobile: rgba(255, 255, 255, 0.15);
    --footer-margin-top: 80px;
    --footer-margin-top-mobile: 50px;
}
