.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 335px;
}

.topImage {
    width: 70px;
}

.title {
    color: var(--col--primary1);
    margin-top: 20px;
    margin-bottom: 5px;
}

.mainText {
    font-family: var(--base-font);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--col--dark);
}

.cta {
    font-size: 26px;
    line-height: 26px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    margin-top: 20px;
    padding: 0 24px;
}

@media (max-width: 768px) {
    .topImage {
        width: 60px;
    }

    .cta {
        font-size: 22px;
        line-height: 22px;
        min-height: 44px;
        padding: 0 16px;
    }
}
