.accountInfo {
    --account-info-title-font-family: var(--head-font);
    --account-info-title-font-weight: 400;
    --account-info-inout-label-font-family: var(--base-font);
    --account-info-input-error-color: var(--col--primary1);
    --account-info-input-error-font-family: var(--base-font);
    --account-info-input-label-color: var(--col--gray6);
    --account-info-input-text-font-family: var(--base-font);
    --account-info-change-password-font-family: var(--ff--link);
}
