.wrapper {
    composes: accountInfo from './index.vars.css';
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    word-break: break-word;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.formContainer {
    position: relative;
    width: 997px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.inputContainer {
    width: 487px;
    margin-bottom: 23px;
}

.input {
    font-family: var(--account-info-input-text-font-family);
    font-size: 16px;
    line-height: 24px;
    color: var(--col--dark);
}

.inputError {
    font-family: var(--account-info-input-error-font-family);
    font-size: 12px;
    line-height: 12px;
    position: absolute;
    margin-top: 4px;
    color: var(--account-info-input-error-color);
}

.inputLabel {
    font-family: var(--account-info-inout-label-font-family);
    color: var(--account-info-input-label-color);
    background: transparent;
}

label.inputLabel {
    font-size: 12px;
    line-height: 12px;
}

.title {
    font-family: var(--account-info-title-font-family);
    font-weight: var(--account-info-title-font-weight);
    width: 100%;
    margin: 0 0 20px;
    background: transparent;
}

.formSection {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.button {
    height: 50px;
}

.inputDisabled {
    background: var(--col--gray1);
    border: 1px solid var(--col--gray4);
    color: var(--col--gray5);
    -webkit-text-fill-color: var(--col--gray5); /* Override iOS / Android font color change */
    opacity: 1;
}

.inputContainer:last-child {
    margin-bottom: 23px;
}

.buttonContainer {
    margin-top: 20px;
}

.tooltip {
    width: 361px;
    display: flex;
    justify-content: center;
    height: 60px;
    position: relative;
    bottom: 20px;
    padding: 16px 20px;
    box-sizing: border-box;
}

.checkIcon {
    margin-right: 5px;
}

.checkIcon::before {
    color: var(--col--primary1);
}

.changePasswordLink {
    font-family: var(--account-info-change-password-font-family);
}

@media (max-width: 1400px) {
    .formContainer {
        width: 100%;
        padding-bottom: 40px;
    }

    .submitButton {
        width: 100%;
    }

    .buttonContainer {
        width: 100%;
    }

    .inputContainer {
        width: 100%;
    }

    .inputContainer:last-child {
        margin-bottom: 20px;
    }

    .title {
        margin-bottom: 22px;
    }

    .formSection {
        display: block;
    }
}
