.container {
    background: linear-gradient(to bottom, var(--col--gray1) 318px, var(--col--light) 318px);
}

.breadcrumbs {
    padding: 30px 20px;
}

.detailsWrapper {
    display: flex;
    flex-direction: column;
}

.buttonsBlock {
    display: none;
}

@media (max-width: 768px) {
    .container {
        background: none;
    }

    .breadcrumbs {
        padding: 16px 20px 0;
    }

    .buttonsBlock button {
        flex-grow: 1;
    }

    .buttonsBlock a {
        flex-grow: 1;
    }

    .buttonsBlock {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        flex-grow: 1;
        position: sticky;
        bottom: 0;
        z-index: 100;
        height: 60px;
    }
}
