.container {
    display: flex;
    flex-direction: column;
    padding: 60px 0;
    border-bottom: 1px solid var(--col--gray4);
    border-top: 1px solid var(--col--gray4);
}

.claimNumbersInfo {
    max-width: 650px;
    margin: 20px 0;
}

.collapseRow {
    font-family: var(--ff--header);
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: var(--col--dark);
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.collapseRow:hover {
    cursor: pointer;
}

.underline {
    text-decoration: underline;
}

.icon {
    font-size: 14px;
    line-height: 14px;
    margin: 2px 5px 0 0;
}

@media (max-width: 480px) {
    .container {
        padding: 30px 0;
    }
}
