.headerWrapper {
    display: flex;
    flex-direction: column;
}

.titleWrapper {
    display: flex;
    align-items: flex-end;
}

.title {
    margin: 0;
}

.count {
    margin-left: 5px;
    color: var(--col--gray6);
}

.viewAllButton {
    margin-left: 15px;
}

.requiredLabel {
    composes: t-paragraph-hint-strong from global;
    color: var(--col--secondary4);
}

@media (max-width: 768px) {
    .viewAllButton {
        margin-left: auto;
    }
}
