.banner {
    background-color: var(--col--light);
    z-index: 998;
    height: 79px;
    padding: 13px 52px;
    box-sizing: border-box;
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-around;
    position: sticky;
    bottom: 0;
}

.closeButton {
    width: 111px;
    height: 50px;
    margin-left: 78px;
}

.link {
    text-transform: uppercase;
}

@media (max-width: 1024px) {
    .banner {
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        padding: 20px;
        font-size: 14px;
        line-height: 22px;
        transition: bottom 0.2s ease;
    }

    .closeButton {
        width: 100%;
        margin-left: 0;
        margin-top: 26px;
    }
}
