.bagIcon {
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bagIcon:focus:not(:focus-visible) {
    outline: none;
}

.checkIconBagTooltip {
    margin-right: 5px;
    font-size: 18px;
}

.bagCounter {
    padding: 0 !important;
    position: absolute;
    top: -5px;
    right: -10px;
}

.tooltip {
    top: 20px;
}

@media (max-width: 961px) {
    .checkIconBagTooltip {
        font-size: 14px;
    }
}
