.recommendedCertificatesSectionContainer {
    position: relative;
}

.scroller {
    /* 230px - width of title from certificatesSectionLayout, added to prevent scroller overflow */
    width: calc(100% - 230px);
}

.loader {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.purchaseLoader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

@media (max-width: 900px) {
    .scroller {
        width: unset;
    }
}

@media (max-width: 768px) {
    .loader {
        margin-top: 40px;
    }

    .scrollerList {
        padding: 0 20px;
    }
}
