.locationServices {
    flex-basis: 40%;
    margin-left: 52px;
}

.locationHeader {
    margin: 0;
}

.servicesList {
    margin: 20px 0 0;
    padding: 0;
}

.servicesItem {
    margin-bottom: 25px;
}

.servicesItem:last-child {
    margin-bottom: 0;
}

.servicesItem::before {
    line-height: 18px;
    color: var(--col--dark);
}

.servicesTitle {
    font-weight: 700;
    text-transform: capitalize;
}

@media (max-width: 1219px) {
    .locationServices {
        margin-left: 40px;
    }
}

@media (max-width: 767px) {
    .locationServices {
        flex-basis: auto;
        margin-left: 0;
    }

    .locationHeader {
        margin-top: 20px;
    }

    .servicesList {
        margin-top: 15px;
        padding: 0;
    }

    .servicesItem {
        margin-bottom: 15px;
    }
}
