.counter {
    composes: counter from './index.vars.css';
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 14px;
    line-height: 18px;
    background-color: var(--col--primary1);
    color: var(--counter-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
