.navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    background-color: var(--col--light);
    color: var(--col--dark);
    padding: 0 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    height: 93px;
}

.headerLocation {
    flex-basis: 100%;
    border-top: 1px solid var(--col--gray4);
}

.logoContainer {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 7px;
    width: 40px;
    height: 40px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoImage {
    height: 40px;
}
