.errorBanner {
    --error-text-color: var(--col--primary1);
    --error-text-font-size: 34px;
    --error-text-line-height: 34px;
    --header-text-margin: 5px 0 17px;
    --buttons-block-margin-top: 25px;
    --mobile--header-text-font-size: 32px;
    --mobile--header-text-line-height: 32px;
    --mobile--home-page-button-width: 134px;
}
