.errorBanner {
    composes: errorBanner from './errorBannerContent.vars.css';
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.leftSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2em;
}

.rightSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 0.5em 50px 0 0.5em;
}

.errorText {
    color: var(--error-text-color);
    text-transform: uppercase;
    font-size: var(--error-text-font-size);
    line-height: var(--error-text-line-height);
}

.headerText {
    margin: var(--header-text-margin);
}

.buttonsBlock {
    display: flex;
    margin-top: var(--buttons-block-margin-top);
}

.goBackButton {
    margin-right: 20px;
}

.rightSectionImage {
    width: 100%;
}

@media screen and (max-width: 960px) {
    .headerText {
        font-size: var(--mobile--header-text-font-size);
        line-height: var(--mobile--header-text-line-height);
    }

    .goBackButton {
        margin-right: 10px;
    }
}

@media screen and (min-width: 1025px) {
    .leftSection {
        width: 50%;
        align-items: flex-start;
    }
}

@media (max-width: 1024px) {
    .errorText {
        font-size: 24px;
        line-height: 24px;
    }

    .errorBanner {
        padding: 15px 20px 44px;
        flex-direction: column-reverse;
    }

    .leftSection {
        padding: 0;
        text-align: center;
    }

    .rightSection {
        padding-right: 0;
    }

    .rightSection img {
        height: 252px;
    }

    .homePageButton {
        line-height: 26px;
        width: var(--mobile--home-page-button-width);
    }
}

@media screen and (min-width: 1440px) {
    .leftSection {
        padding: 0px 40px 0px 160px;
        align-items: flex-start;
    }

    .rightSection {
        width: 50%;
        padding-right: 83px;
    }

    .rightSection img {
        height: 470px;
    }
}
