.popup {
    min-width: 50%;
}

.popupTitle {
    min-height: 3.5rem;
}

.dialogTitle > h5 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 50px;
}

.dialogTitleButton {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
}

.progressContainer {
    display: flex;
    justify-content: center;
}
.imageDiv {
    line-height: 0;
    text-align: center;
    justify-content: center;
}

.image {
    max-width: 100%;
}

.productDescription {
    padding: 10px;
}
.addButton, .removeButton {
    background-color: #eee;
}

.qty {
    padding: 1px 1rem 1px 1rem;
}
