.selectedCard {
    border-color: var(--highlight-color);
}

.groupLogo {
    height: 1.8em;
    margin-right: 1em;
    background-color: #eee;
}

.groupRadio {
    width: 100%;
}

.groupContainer {
    /*
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    */
    overflow: auto;
    padding-bottom: 0.5em;
}

.groupItem {
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    margin-right: 1em;
    flex-shrink: 0;
    padding: 0.2em;
    cursor: pointer;
    user-select: none;
}

.groupImage img {
    background-color: #eee;
}

.groupText {
    /*margin: 0 0.5em;*/
    padding: 9px;
}
