.wrapper {
    margin-top: 50px;
    border-bottom: 1px solid var(--col--gray4);
}

.accordionHeader {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 27px 0;
    border-top: 1px solid var(--col--gray4);
}

.headerExpanded {
    border-top: 1px solid var(--col--dark);
}

.subTitle {
    padding-left: 20px;
    color: var(--col--gray6);
}

.buttons {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    padding-bottom: 50px;
    padding-top: 23px;
}

.buttons button {
    display: flex;
    align-items: center;
    color: var(--col--dark);
    background: var(--col--light);
    border: 1px solid var(--col--gray4);
    position: relative;
    border-left: 0;
    padding: 11px 31px;
    text-transform: uppercase;
    flex-grow: 1;
    justify-content: center;
    cursor: pointer;
    min-height: 45px;
}

.buttons button:first-child {
    border-left: 1px solid var(--col--gray4);
}

.buttons .selected {
    background-color: var(--col--dark);
    color: var(--col--light);
}

/** required for module css, do not remove */
/* stylelint-disable-next-line block-no-empty */
.selected {
}

.buttons button:focus:not(:focus-visible) {
    outline: 0;
}

.expanded {
    display: flex;
}

.collapsed {
    display: none;
}

.price {
    color: var(--col--gray6);
    margin-top: 1px;
}

.selected .price {
    color: var(--col--light);
}

@media (max-width: 767px) {
    .accordionHeader {
        padding: 21px 0;
    }

    .subTitle {
        padding-left: 15px;
    }

    .buttons button {
        padding: 11px 16px;
    }

    .buttons {
        padding-bottom: 44px;
        padding-top: 10px;
    }

    .price::before {
        content: '+';
    }

    .wrapper {
        margin-top: 40px;
    }
}
