.signin {
    --signin-styled-checkbox-border-radius: 2px;
    --signin-styled-checkbox-background: var(--col--dark);
    --signin-styled-checkbox-check-icon-color: var(--col--light);
    --signin-styled-checkbox-check-icon-checked-color: var(--col--primary1);
    --signin-footer-subtitle-font-size: 20px;
    --signin-footer-subtitle-line-heignt: 20px;
    --signin-footer-subtitle-color: var(--col--secondary1);
    --signin-footer-subtitle-display: block;
    --signin-footer-title-font-size: 26px;
    --signin-footer-title-line-heignt: 26px;
    --signin-footer-title-color: var(--col--dark);
    --signin-footer-title-display: inline;
    --signin-footer-title-font-family: var(--ff--header);
    --signin-footer-label-margin: 0 -40px -32px;
    --signin-footer-label-pagging: 26px 40px 32px;
    --signin-footer-label-bg-color: var(--col--secondary2);
    --signin-divider-line-single-display: inline-block;
    --signin-footer-subtitle-mobile-font-size: 18px;
    --signin-footer-subtitle-mobile-line-heignt: 18px;
    --signin-footer-title-mobile-font-size: 20px;
    --signin-footer-title-mobile-line-heignt: 20px;
    --signin-heading-desktop-margin-bottom: 16px;
    --signin-label-font-family: var(--ff--pharagraph);
    --signin-footer-subtitle-font-weight: bold;
    --signin-footer-title-font-weight: 900;
    --signin-create-an-account-link-margin-top: 10px;
    --signin-forgot-password-font-weight: 500;
    --signin-forgot-password-line-heignt: 18px;
}
