.container {
    composes: confirmation from '../confirmation/confirmation.vars.css';
    display: flex;
    flex-direction: column;
}

.containerHidden {
    display: none;
}

.paymentHeaderContainer {
    position: relative;
}

.headerOverlay {
    position: absolute;
    height: 93px;
    z-index: 1000;
    width: 100%;
    top: 0;
}

.headerOverlayHidden {
    display: none;
}

.orderHeader {
    width: 100%;
    background: var(--order-header-background);
    color: var(--col--light);
}

.pageLoader {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 44px;
}

.contactlessPayForm {
    background-color: var(--col--light);
}

.section {
    padding-left: 20px;
    padding-right: 20px;
}

.section:not(:first-child) {
    border-top: 1px solid var(--col--gray4);
}

.formControl {
    margin-top: 20px;
}

.formFields {
    padding: 0;
    counter-reset: section;
}

.formFields > * {
    padding-top: 40px;
    padding-bottom: 40px;
    counter-increment: section;
}

.formFields > *:first-child {
    padding-top: 30px;
}

.formFields > *:last-child {
    padding-bottom: 30px;
}

.formFields > *::before {
    content: counter(section);
    font-family: var(--ff--header);
    font-size: var(--h4-md-size, 20px);
    color: var(--col--secondary1);
}

.formSectionHeader {
    display: inline-block;
    margin: 0 0 20px 7px;
}

.confirmationFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 128px;
    background-color: var(--col--secondary2);
}

.noPaymentRequired {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 55px;
}

.loader {
    margin: 20px auto;
}
