.loader {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.container > :not(:last-child) {
    margin-bottom: 20px;
}

.blockTitle {
    margin: 0 0 30px;
}

@media (max-width: 599px) {
    .blockTitle {
        display: none;
    }
}
