.markup {
    margin: 40px 52px 0;
}

.markup a {
    font-family: inherit;
    text-decoration: underline;
}

.markup a:hover {
    text-decoration: none;
}

@media (max-width: 768px) {
    .markup {
        margin: 0 20px;
    }
}
