.mainText {
    composes: categorySelect from './categorySelect.vars.css';
    color: var(--col--dark);
    text-transform: uppercase;
    padding: 0;
    margin-top: var(--mainText-margin-top);
    margin-bottom: 4px;
    max-width: 100%;
}

.mainText::before {
    content: '';
}

.mainText .selectHeader {
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: var(--selectHeader-padding-right);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 0;
    min-height: 0;
}

.mainText div:focus {
    background: none;
}

.mainText svg {
    color: var(--col--dark);
    width: 50px;
    height: 50px;
    right: 0;
    top: 0;
}

.selectMenuItem {
    color: var(--col--dark);
    list-style-type: none;
    content: '';
    line-height: 40px;
}

.selectMenuItem::before {
    content: '';
}

.selectHeader:focus-visible {
    outline: auto;
}

@media (max-width: 959px) {
    .mainText svg {
        color: var(--col--dark);
        width: 30px;
        height: 30px;
    }

    .mainText .selectHeader {
        padding-right: var(--selectHeader-mobile-padding-right);
    }
}

ul li.selectedItem[aria-selected='true'] {
    font-weight: bold;
    background-color: transparent;
}
