.menuCategoryCard {
    z-index: 1;
    height: 160px;
    margin: 10px 10px 10px 0px;
    display: flex;
    flex: 1;
    flex-basis: 30%;
    min-width: 300px;
    background: var(--col--light);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
}

@media (max-width: 1200px) {
    .menuCategoryCard {
        flex-basis: 40%;
    }
}

.imageSection,
.contentSection {
    width: 50%;
    display: flex;
    justify-content: center;
}

.imageSection {
    align-items: center;
    padding-left: 10px;
}

.imageSection img {
    align-self: flex-start;
}

.contentSection {
    flex-direction: column;
    align-items: flex-start;
    padding-right: 25px;
    text-align: left;
}

.title {
    font-family: var(--subhead-font);
    font-size: 34px;
    line-height: 34px;
    font-weight: normal;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: var(--col--dark);
    margin: 0;
}

.counter {
    font-family: var(--base-font);
    font-size: 16px;
    line-height: 26px;
    color: var(--col--gray6);
    display: block;
    padding-bottom: 10px;
}

.link {
    font-family: var(--heavy-font);
    font-size: 18px;
    line-height: 21px;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: var(--col--dark);
}

.link:hover {
    text-decoration-line: none;
}

.image {
    max-width: 90%;
}

@media (max-width: 768px) {
    .menuCategoryCard {
        width: 100%;
    }

    .title {
        font-size: 24px;
        line-height: 24px;
    }

    .counter {
        font-size: 14px;
        line-height: 22px;
    }

    .link {
        font-size: 15px;
        line-height: 18px;
    }
}

@media (max-width: 425px) {
    .menuCategoryCard {
        margin: 7px 0;
        height: 119px;
    }
}
