.wrapper {
    border-top: 1px solid var(--col--gray4);
    padding: 27px 0 26px;
}

.wrapper:last-of-type {
    border-bottom: 1px solid var(--col--gray4);
}

.stateDetailsWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.details {
    padding: 0 20px;
}

.cityLocationsWrapper {
    padding: 15px 10px 5px;
    column-count: 6;
}

.accordion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}

.title:hover {
    color: var(--col--primary1);
}

.expandedAccordion {
    border-top-color: var(--col--dark);
}

.expandedAccordion .title {
    color: var(--col--primary1);
}

.arrowIcon {
    max-width: 24px;
    margin-left: 7px;
    flex: 1 0 auto;
}

.expanded {
    display: block;
}

.collapsed {
    display: none;
}

@media (max-width: 1280px) {
    .cityLocationsWrapper {
        column-count: 4;
    }
}

@media (max-width: 960px) {
    .cityLocationsWrapper {
        column-count: 3;
    }

    .details {
        padding: 0 15px;
    }

    .wrapper {
        padding: 22px 0 21px;
    }
}

@media (max-width: 768px) {
    .cityLocationsWrapper {
        column-count: 2;
    }

    .title {
        font-size: 20px;
        line-height: 20px;
    }

    .detail {
        font-size: 12px;
        line-height: 16px;
    }

    .arrowIcon {
        max-width: 18px;
    }
}
