.dividerLine {
    display: flex;
    align-content: center;
    align-items: center;
    position: relative;
    min-height: 16px;
    text-align: center;
}

.dividerLine::before,
.dividerLine::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--col--gray4);
}

.dividerText {
    font-size: 14px;
    line-height: 16px;
    font-family: var(--ff--pharagraph);
    text-transform: uppercase;
    text-align: center;
    margin: 0 7px;
}
