.notFoundWrapper {
    composes: notFoundWrapper from './notFoundScreen.vars.css';
    height: var(--height);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.notFound {
    flex-grow: 1;
    padding: 10px 50px;
}

.allLocationsLink {
    padding: 20px;
    text-align: right;
}

@media (max-width: 768px) {
    .notFoundWrapper {
        min-height: var(--height);
        height: auto;
    }

    .notFound {
        padding: 10px 20px;
    }

    .allLocationsLink {
        padding: 10px 20px 50px;
    }
}
