.container {
    position: fixed;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    height: 107px;
    overflow: hidden;
    background: var(--col--light);
    align-items: center;
    width: 100%;
    max-width: var(--desktop-width);
    z-index: 100;
}

.content {
    display: flex;
    flex-direction: row;
    padding: 0 51px;
    flex-grow: 1;
    align-items: center;
}

.bannerImageContainer {
    width: 115px;
    height: 50px;
}

.bannerImageContainer img {
    max-height: 100%;
}

.bannerHeader {
    font-family: var(--ff--subheader);
    margin: 0;
}

.descriptionContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.priceContainer {
    color: var(--col--gray6);
    font-family: var(--ff--paragraph-strong);
    font-weight: normal;
    font-size: 14px;
    display: flex;
    flex-direction: row;
}

.divider {
    margin: 0 7px;
}

@media (max-width: 768px) {
    .container {
        display: none;
    }
}
