.wrapper {
    margin: 0 20px 15px;
}

.link {
    font-family: var(--ff--subheader);
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.01em;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: var(--col--dark);
    word-wrap: none;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .title {
        font-size: 14px;
        line-height: 16px;
    }
}
