.productListWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.productCard {
    margin-right: 17px;
    margin-bottom: 15px;
}

.viewAllCard,
.productCard {
    flex-shrink: 0;
}

@media (max-width: 768px) {
    .productListWrapper {
        overflow-x: scroll;
        flex-wrap: nowrap;
        padding-bottom: 10px;
        margin: 0 -20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .productCard {
        margin-right: 12px;
        margin-bottom: 0;
    }

    .viewAllButton {
        margin-left: auto;
    }
}
