.header {
    padding: 50px 0 0;
    margin: 0;
}

.citesContainer {
    padding-left: 15px;
    column-count: 6;
}

@media (max-width: 1125px) {
    .citesContainer {
        column-count: 5;
    }
}

@media (max-width: 960px) {
    .citesContainer {
        column-count: 4;
    }
}

@media (max-width: 768px) {
    .header {
        padding-bottom: 26px;
    }

    .citesContainer {
        column-count: 3;
    }
}

@media (max-width: 600px) {
    .citesContainer {
        column-count: 2;
    }
}

@media (max-width: 425px) {
    .citesContainer {
        column-count: 1;
    }
}
