.inspireBadge {
    display: flex;
    align-items: center;
    position: absolute;
    height: 24px;
    left: 0px;
    top: 0px;
    padding: 4px 6px;
    font-family: var(--subhead-font);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-transform: uppercase;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
}

.productBadge,
.bogoBadge {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 6px 4px 6px 6px;
    font-style: normal;
    text-transform: uppercase;
}

.productBadge {
    font-family: var(--subhead-font);
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
}

.bogoBadge {
    font-family: var(--ff--pharagraph);
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    background-color: var(--col--primary1);
}

.productBadge ~ .bogoBadge {
    top: 28px;
}

.dealBadge {
    display: flex;
    align-items: center;
    padding: 4px 6px;
    font-family: var(--head-font);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}

@media (max-width: 425px) {
    .productBadge {
        padding: 4px 4px 4px 6px;
        font-size: 12px;
        line-height: 14px;
    }

    .productBadge ~ .bogoBadge {
        top: 22px;
    }
}

.inspireBadge::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 100%;
    right: -9px;
    top: 0;
    clip-path: polygon(100% 0%, 45% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
}

.productBadge::after {
    content: '';
    position: absolute;
    width: 11px;
    height: 100%;
    right: -10px;
    top: 0;
    clip-path: polygon(0 0, 8% 100%, 100% 0);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
}

.bogoBadge::after {
    content: '';
    position: absolute;
    width: 11px;
    height: 100%;
    right: -10px;
    top: 0;
    clip-path: polygon(0 0, 8% 100%, 100% 0);
    background-color: var(--col--primary1);
}

.inspireBadge.dark,
.productBadge.dark,
.dealBadge.dark {
    background-color: var(--col--dark);
    color: var(--col--light);
}

.inspireBadge.dark::after,
.productBadge.dark::after {
    background-color: var(--col--dark);
}
