.button {
    composes: button from './viewMoreButton.vars.css';
    padding: var(--button-padding);
    border-top: var(--border-top);
    border-bottom: var(--border-bottom);
    background-color: var(--background-color);
    text-align: left;
    display: flex;
    align-items: center;
    text-decoration-line: none;
}

.button:disabled .buttonText,
.button:disabled .addIcon::before {
    color: var(--col--gray6);
}

.addIcon {
    font-size: 14px;
    font-weight: 14px;
}

.buttonText {
    text-decoration: underline;
    margin-left: 5px;
}

.buttonText:hover {
    text-decoration: none;
}

.loader {
    position: absolute;
    right: var(--button-padding);
}
