.aboutSection {
    --tagline-heading-color: var(--col--secondary1);
    --header-padding-left: 52px;
    --body-padding-left: 52px;
    --body-margin-top: 23px;
    --included-display: flex;
    --tagline-heading-font-size: 28px;
    --tagline-heading-line-height: 28px;
    --tagline-description-font-size: 40px;
    --tagline-description-line-height: 40px;

    /* small */
    --header-small-padding-left: 20px;
    --body-small-padding-left: 20px;
    --body-small-margin: 0;
    --tagline-small-heading-font-size: 18px;
    --tagline-small-heading-line-height: 18px;
    --tagline-small-description-font-size: 24px;
    --tagline-small-description-line-height: 24px;
    --included-small-margin: 13px 0 0 0;
    --about-section-small-padding: 16px 0 20px 0;
}
