.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modalContainer {
    display: flex;
    flex-direction: column;
    width: 530px;
    margin: 0 auto;
    padding: 25px 22px;
    outline: none;
    position: relative;
    background-color: var(--col--light);
    box-sizing: border-box;
    text-align: center;
}

.modalTitle {
    padding: 0 20px;
    font-family: Helvetica;
    line-height: 21px;
    font-weight: 700;
}

.modalIconClose {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.modalButtons {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 18px;
}

@media (max-width: 960px) {
    .modalContainer {
        width: 90%;
        margin: 0 auto;
        padding: 25px 16px;
    }
}
