.container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 18px;
    z-index: 10000;
    box-shadow: 0px 0px 30px var(--col--dark);
}
