.container {
    composes: container from './locationsList.vars.css';
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: var(--height);
    max-height: var(--max-height);
    position: relative;
    scroll-behavior: smooth;
    border-bottom: var(--border-bottom);
    box-sizing: border-box;
}

.allLocationsLinkWrapper {
    padding: 20px;
    text-align: right;
    margin-top: auto;
}

@media (max-width: 768px) {
    .container {
        overflow: initial;
        max-height: initial;
        height: initial;
    }

    .allLocationsLinkWrapper {
        padding: 20px 20px 50px;
    }
}
