.wrapper {
    margin-top: 40px;
}

.columns {
    margin-top: 25.5px;
}

.multiColumns {
    column-count: 4;
}

.linkBlockColumns {
    margin-top: 20px;
}

@media (max-width: 1280px) {
    .columns {
        column-count: 3;
    }
}

@media (max-width: 960px) {
    .columns {
        column-count: 2;
    }
}

@media (max-width: 768px) {
    .wrapper {
        margin-top: 30px;
    }

    .hr {
        margin-top: 35px;
        margin-bottom: 30px;
    }
}

@media (max-width: 600px) {
    .columns {
        column-count: 1;
    }
}

.mainLink {
    color: var(--col--primary1);
    font-weight: 400;
    font-size: 34px;
    line-height: 34px;
    font-family: League Gothic;
    word-break: break-word;
}

.link {
    text-decoration-line: underline;
    text-transform: uppercase;
}

.hr {
    margin-top: 40px;
    margin-bottom: 40px;
}
