.linkBlock:not(:first-child) {
    margin-top: 45.5px;
}

.linkBlock {
    column-fill: balance;
    break-inside: avoid;
}

.linkBlockName {
    font-size: 26px;
    line-height: 26px;
    color: var(--col--dark);
    font-family: League Gothic;
    margin-bottom: 25.5px;
    display: inline-block;
    word-break: break-word;
}

.list {
    padding: 0;
    margin: 0;
}

.listItem {
    margin-bottom: 23px;
    line-height: 18px;
}

.listItem .link {
    font-family: Helvetica Neue;
    font-size: 14px;
    color: var(--col--dark);
}

.link {
    text-decoration-line: underline;
    text-transform: uppercase;
    word-break: break-word;
}

.externalIcon {
    margin-left: 6px;
    font-size: 14px;
    vertical-align: middle;
}
