.accountHeader {
    composes: accountHeaderBlock from './index.vars.css';
    height: var(--account-header-height);
    box-sizing: border-box;
    padding: var(--account-header-padding);
}

.accountHeaderTitle {
    composes: accountHeaderBlock from './index.vars.css';
    font-family: var(--account-title-font-familty);
    font-size: var(--account-title-font-size);
    font-weight: var(--account-title-font-weight);
    line-height: var(--account-title-line-height);
    color: var(--col--light);
    margin-top: 0;
}

@media (max-width: 480px) {
    .accountHeader {
        height: var(--account-header-height-mobile);
    }

    .accountHeaderTitle {
        font-size: var(--account-title-font-size-mobile);
    }
}
