.accountHeaderBlock {
    --account-title-font-familty: var(--head-font);
    --account-title-font-size: 52px;
    --account-title-font-size-mobile: 32px;
    --account-title-line-height: 52px;
    --account-title-font-weight: 400;
    --account-header-padding: 46px 0 0 52px;
    --account-header-height: 180px;
    --account-header-height-mobile: 180px;
}
