.container {
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding: 0 20px 4px;
    box-sizing: border-box;
}

.bannerImageContainer {
    max-height: 470px;
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
}

.bannerImageContainer img {
    max-width: 100%;
    max-height: 100%;
}

.bannerImageContainer,
.descriptionContainer {
    display: flex;
    flex: 1 1;
}

.descriptionContainer {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menuItemName {
    font-family: var(--ff--header);
    margin: 10px 0;
    font-size: 52px;
    line-height: 52px;
}

.sodiumWarningIcon {
    margin-left: 10px;
    max-height: 32px;
    max-width: fit-content;
}

.sodiumWarningPhillyIcon {
    margin-left: 0;
    margin-top: 13px;
}

.modifierItem {
    color: var(--col--gray6);
}

.modifiersContainer {
    color: var(--col--gray6);
    margin-top: 15px;
}

.withoutSizeButtons {
    margin-top: 5px;
}

.priceContainer {
    margin: 3px 0;
    color: var(--col--gray6);
    display: flex;
    flex-direction: row;
    font-size: 14px;
    line-height: 20px;
}

.price {
    margin-right: 7px;
}

.calories {
    margin-left: 7px;
}

.buttonBlock {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.modifyLink {
    display: flex;
    margin-left: 20px;
    font-family: var(--ff--pharagraph-strong);
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    text-decoration-line: underline;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.modifyLink:focus:not(:focus-visible) {
    outline: 0;
}

.icon {
    margin-right: 10px;
}

.mobileButtonBlock {
    display: none;
}

.notSaleableDescription {
    padding-bottom: 25px;
}

.localizationDescription {
    padding-bottom: 25px;
}

.localizationDescription b {
    font-family: var(--ff--pharagraph-strong);
}

.makeItAMeal {
    margin-right: 20px;
}

.makeItAMeal:focus:not(:focus-visible) {
    outline: none;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        max-width: 100%;
    }

    .buttonBlock {
        display: none;
    }

    .descriptionContainer {
        order: 1;
        margin-left: 0;
        flex: initial;
        max-width: 100%;
    }

    .sodiumWarningIcon {
        max-height: 20px;
        margin-left: 5px;
    }

    .sodiumWarningPhillyIcon {
        margin-left: 0;
        margin-top: 3px;
    }

    .bannerImageContainer {
        justify-content: center;
        margin: 0;
        order: 2;
    }

    .bannerImageContainer img {
        width: 100%;
        height: 100%;
    }

    .mobileButtonBlock {
        display: flex;
        order: 2;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 14px;
    }

    .menuItemName {
        font-size: 32px;
        line-height: 32px;
        word-wrap: break-word;
    }

    .modifyLink {
        margin-left: 0;
    }

    .priceContainer {
        font-size: 12px;
        line-height: 18px;
    }

    .withoutSizeButtons {
        margin-top: 0;
    }

    .notSaleableDescription > span {
        font-weight: bold;
    }
}

.modifications {
    margin-top: 3px;
    max-width: 500px;
}

@media (max-width: 600px) {
    .modifications {
        max-width: 300px;
    }
}
