.paymentLoader {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 44px;
}

.formWrapper {
    position: relative;
    text-align: center;
}

.paymentContainer iframe {
    width: 100%;
    height: 100%;
}

.paymentContainer {
    height: 80px;
}
