.marker {
    --width: 60px;
    --height: 60px;
    --selected-width: 76px;
    --selected-height: 76px;
}

@media screen and (max-width: 959px) {
    .marker {
        --width: 44px;
        --height: 44px;
        --selected-width: 60px;
        --selected-height: 60px;
    }
}
