.checkoutContainer {
    margin: 1em;
    width: 100%;
}

.alert {
    margin: 1em;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1rem 0.5rem 1rem;
}

.order {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
}

.order > * {
    flex-grow: 1;
    margin: 0.5rem;
}
@media only screen and (min-width: 700px) {
    .order > * {
        width: 45%;
    }
}

.orderForm {
    padding: 0.3rem;
}

.orderForm > * {
    margin: 0.3rem 0;
}


.paper {
    height: 100%;
    padding: 0.7rem;
    display: flex;
    flex-direction: column;
}

.bagList {
    flex-grow: 1;
}

.buttonWrapper {
    position: relative;
}

.buttonProgress {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -14px;
    margin-left: -14px;
}

.emptyBag {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.emptyBagNotice {
    min-width: 385px;
    font-size: 1.5em;
    text-align: center;
}

.emptyBagIcon {
    text-align: center;
}

.emptyBagIcon > svg {
    font-size: 5em;
}

.verification {
    padding: 1em;
    margin-bottom: 1em;
}