.container {
    position: sticky;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    height: 107px;
    overflow: hidden;
    background: var(--col--dark);
    color: var(--col--light);
    align-items: center;
    width: 100%;
    max-width: 100%;
    z-index: 100;
    bottom: 0;
}

.content {
    display: flex;
    flex-direction: row;
    padding: 0 51px;
    flex-grow: 1;
    align-items: center;
}

.bannerImageContainer {
    width: 115px;
    margin-right: 20px;
}

.bannerImageContainer img {
    max-height: 100%;
}

.bannerHeader {
    font-family: var(--ff--subheader);
    margin: 0;
    color: var(--col--light);
}

.descriptionContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.priceContainer {
    composes: t-paragraph-hint from global;
    color: var(--col--light);
    display: flex;
    flex-direction: row;
}

.divider {
    margin: 0 7px;
}

@media (max-width: 768px) {
    .container {
        display: none;
    }
}
