@font-face {
    font-family: 'brand-icons';
    src: url('/brands/arbys/fonts/brand-icons.eot?zeg47');
    src: url('/brands/arbys/fonts/brand-icons.eot?zeg47#iefix') format('embedded-opentype'),
        url('/brands/arbys/fonts/brand-icons.ttf?zeg47') format('truetype'),
        url('/brands/arbys/fonts/brand-icons.woff?zeg47') format('woff'),
        url('/brands/arbys/fonts/brand-icons.svg?zeg47#brand-icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.brand-icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'brand-icons' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* ---------- primitive glyphs ---------- */
.brand-icon.error-gear::before {
    content: '\e901';
}

.brand-icon.error-chicken-had::before {
    content: '\e902';
}

.brand-icon.error-chicken::before {
    content: '\e903';
}

.brand-icon.error-cloud::before {
    content: '\e904';
}

.brand-icon.error-browser::before {
    content: '\e905';
}

.brand-icon.other-car::before {
    content: '\e906';
}

.brand-icon.location-pin::before {
    content: '\e907';
}

.brand-icon.other-pickup::before {
    content: '\e908';
}

.brand-icon.menu-dessert::before {
    content: '\e909';
}

.brand-icon.menu-drinks::before {
    content: '\e90a';
}

.brand-icon.menu-roast-beef::before {
    content: '\e90b';
}

.brand-icon.menu-sides::before {
    content: '\e90c';
}

.brand-icon.menu-signature::before {
    content: '\e90d';
}

.brand-icon.menu-sliders::before {
    content: '\e90e';
}

.brand-icon.menu-kids::before {
    content: '\e90f';
}

.brand-icon.menu-market-fresh::before {
    content: '\e910';
}

.brand-icon.deals-gift::before {
    content: '\e911';
}

.brand-icon.deals-price-tag::before {
    content: '\e912';
}

.brand-icon.deals-hours::before {
    content: '\e913';
}

.brand-icon.logo-reverse::before {
    content: '\e914';
}

.brand-icon.info-card::before {
    content: '\e915';
}

.brand-icon.info-error::before {
    content: '\e916';
}

.brand-icon.info-star-filled::before {
    content: '\e917';
}

.brand-icon.info-star::before {
    content: '\e918';
}

.brand-icon.info-letter::before {
    content: '\e919';
}

.brand-icon.info-mail::before {
    content: '\e91a';
}

.brand-icon.info-question::before {
    content: '\e91c';
}

.brand-icon.navigation-reorder::before {
    content: '\e91d';
}

.brand-icon.navigation-user::before {
    content: '\e91e';
}

.brand-icon.action-phone::before {
    content: '\e920';
}

.brand-icon.action-favorite::before {
    content: '\e921';
}

.brand-icon.action-favorite-filled::before {
    content: '\e922';
}

.brand-icon.action-delete::before {
    content: '\e923';
}

.brand-icon.action-add::before {
    content: '\e924';
}

.brand-icon.navigation-bag::before {
    content: '\e925';
}

.brand-icon.action-check::before {
    content: '\e926';
}

.brand-icon.action-close::before {
    content: '\e927';
}

.brand-icon.navigation-hamburger::before {
    content: '\e928';
}

.brand-icon.action-edit::before {
    content: '\e929';
}

.brand-icon.navigation-map-pin::before {
    content: '\e92a';
}

.brand-icon.action-open-in-new::before {
    content: '\e92b';
}

.brand-icon.navigation-history::before {
    content: '\e92c';
}

.brand-icon.action-location-filled::before {
    content: '\e92e';
}

.brand-icon.direction-down::before {
    content: '\e92f';
}

.brand-icon.action-search::before {
    content: '\e931';
}

.brand-icon.action-subtract::before {
    content: '\e932';
}

.brand-icon.direction-left::before {
    content: '\e933';
}

.brand-icon.direction-right::before {
    content: '\e934';
}

.brand-icon.direction-up::before {
    content: '\e935';
}

.brand-icon.action-calendar::before {
    content: '\e936';
}

.brand-icon.action-directions::before {
    content: '\e937';
}

.brand-icon.ingo-bell::before {
    content: '\e938';
}

.brand-icon.action-filter::before {
    content: '\e939';
}

.brand-icon.info-ban::before {
    content: '\e93a';
}

.brand-icon.info-sign-up::before {
    content: '\e93b';
}

.brand-icon.info-invisible::before {
    content: '\e93c';
}

.brand-icon.info-visible::before {
    content: '\e93d';
}

.brand-icon.animals-chicken::before {
    content: '\e93e';
}

.brand-icon.animals-cow::before {
    content: '\e93f';
}

.brand-icon.animals-pig::before {
    content: '\e940';
}

.brand-icon.animals-fish::before {
    content: '\e941';
}

.brand-icon.menu-meals::before {
    content: '\e942';
}

.brand-icon.menu-limited-time::before {
    content: '\e943';
}

.brand-icon.deals-stopwatch::before {
    content: '\e944';
}

.brand-icon.quality-meat::before {
    content: '\e945';
}

.brand-icon.menu-milkshake::before {
    content: '\e946';
}

.brand-icon.deals-happy-hour::before {
    content: '\e947';
}

.brand-icon.quality-recipe::before {
    content: '\e948';
}

.brand-icon.quality-spice::before {
    content: '\e949';
}

.brand-icon.deals-starburst::before {
    content: '\e94a';
}

.brand-icon.logo::before {
    content: '\e94b';
}

.brand-icon.other-delivery-available::before {
    content: '\e94c';
}

.brand-icon.other-delivery-available-check-outer::before {
    content: '\e94d';
}

.brand-icon.other-delivery-available-check-inner::before {
    content: '\e94e';
}

.brand-icon.other-delivery-unavailable::before {
    content: '\e94f';
}

.brand-icon.other-no-meat-cow::before {
    content: '\e950';
}

.brand-icon.unlisted-r-mark::before {
    content: '\e91b';
}

.brand-icon.unlisted-sandwich::before {
    content: '\e92d';
}

.brand-icon.unlisted-truck::before {
    content: '\e930';
}

/* ---------- create complex icons via combining existing ones ---------- */

/* complex icons for Arby's brand are no-meat, delivery-unavailable, delivery-available  */
