@font-face {
    font-family: 'Rockwell Bold';
    src: url('/brands/arbys/fonts/rockwell-bold.eot?iefix') format('embedded-opentype'),
        url('/brands/arbys/fonts/rockwell-bold.woff2') format('woff2'),
        url('/brands/arbys/fonts/rockwell-bold.woff') format('woff'),
        url('/brands/arbys/fonts/rockwell-bold.ttf') format('truetype'),
        url('/brands/arbys/fonts/rockwell-bold.svg#rockwell-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'League Gothic';
    src: url('/brands/arbys/fonts/league-gothic.eot?#iefix') format('embedded-opentype'),
        url('/brands/arbys/fonts/league-gothic.woff2') format('woff2'),
        url('/brands/arbys/fonts/league-gothic.woff') format('woff'),
        url('/brands/arbys/fonts/league-gothic.ttf') format('truetype'),
        url('/brands/arbys/fonts/league-gothic.svg#league-gothic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/brands/arbys/fonts/helvetica-neue.eot?#iefix') format('embedded-opentype'),
        url('/brands/arbys/fonts/helvetica-neue.woff2') format('woff2'),
        url('/brands/arbys/fonts/helvetica-neue.woff') format('woff'),
        url('/brands/arbys/fonts/helvetica-neue.ttf') format('truetype'),
        url('/brands/arbys/fonts/helvetica-neue.svg#helvetica-neue') format('svg');
    font-weight: 400;
    font-style: normal;
}

/* Helvetica Neue Bold font should not be here, remove it with old vars remove */
@font-face {
    font-family: 'Helvetica Neue Bold';
    src: url('/brands/arbys/fonts/helvetica-neue-bold.eot?#iefix') format('embedded-opentype'),
        url('/brands/arbys/fonts/helvetica-neue-bold.woff2') format('woff2'),
        url('/brands/arbys/fonts/helvetica-neue-bold.woff') format('woff'),
        url('/brands/arbys/fonts/helvetica-neue-bold.ttf') format('truetype'),
        url('/brands/arbys/fonts/helvetica-neue-bold.svg#helvetica-neue-bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

/* this one should be removed after new "type identity" full implementation */

/* legacy */
:root {
    --base-font: Helvetica Neue, Arial, sans-serif;
    --heavy-font: Helvetica Neue Bold, Arial, sans-serif;
    --head-font: Rockwell Bold, League Gothic, Arial, sans-serif;
    --subhead-font: League Gothic, Arial, sans-serif;
    --link-font: var(--head-font);
    --bg-font: var(--head-font);
}

/* stylelint-disable-next-line no-duplicate-selectors */
:root {
    --ff--replacement-font: Arial, sans-serif;
    --ff--header: Rockwell Bold, var(--ff--replacement-font);
    --ff--header-small: var(--ff--header);
    --ff--subheader: League Gothic, var(--ff--replacement-font);
    --ff--subheader-small: Rockwell Bold, var(--ff--replacement-font);
    --ff--pharagraph: Helvetica, var(--ff--replacement-font);
    --ff--pharagraph-strong: var(--ff--pharagraph);
    --ff--button: League Gothic, var(--ff--replacement-font);
    --ff--link: Helvetica Neue Bold, var(--ff--replacement-font);
}
