/* Brand-specific globals - Arbys */

/* :root {
    --base-color: rgba(0, 0, 0, 1);
    --highlight-color: var(--col--primary1);
    --button-color: #4d5963;
    --brand-font-family: Helvetica Neue, Arial, sans-serif;
} */
