/* ---------- section title ---------- */
.m-category-header {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    margin-top: 20px;
}

.m-category-header .m-category-header-bullet {
    background-color: var(--col--primary1);
    width: 38px;
    height: 19px;
    margin-right: 13px;
}

.m-category-header .m-category-header-text {
    text-transform: uppercase;
    font-family: var(--ff--header-small);
    color: var(--col--dark);
    line-height: 38px;
    font-size: 38px;
    font-weight: 700;
    margin: 0;
}

.m-category-header .m-category-header-notation-text {
    align-self: flex-end;
    font-family: var(--ff--pharagraph);
    margin-left: 26px;
    font-size: 16px;
    line-height: 24px;
    color: var(--col--gray6);
}

@media (max-width: 768px) {
    .m-category-header {
        margin-bottom: 10px;
    }

    .m-category-header .m-category-header-bullet {
        width: 13px;
        height: 10px;
        margin-right: 7px;
    }

    .m-category-header .m-category-header-text {
        font-size: 28px;
        line-height: 28px;
    }

    .m-category-header .m-category-header-notation-text {
        margin-left: 7px;
        font-size: 14px;
        line-height: 22px;
    }
}

/* ---------- quality treatment ---------- */
.m-quality-treatment .m-quality-treatment-icon {
    margin: 0 0 16px;
}

.m-quality-treatment .m-quality-treatment-icon::before {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: var(--col--secondary1);
    font-family: 'brand-icons' !important;
    color: var(--col--light);
    font-size: 44px;
    line-height: 60px;
    vertical-align: middle;
    text-align: center;
    content: '\e93f';
}

.m-quality-treatment .m-quality-treatment-subheader {
    margin-bottom: 2px;
    font-family: var(--ff--subheader);
    color: var(--col--primary1);
    font-size: 26px;
    line-height: 26px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.m-quality-treatment .m-quality-treatment-header {
    font-family: var(--ff--subheader);
    color: var(--col--dark);
    font-size: 34px;
    line-height: 34px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .m-quality-treatment {
        display: flex;
    }

    .m-quality-treatment .m-quality-treatment-icon {
        margin: 0 19px 0 0;
    }

    .m-quality-treatment .m-quality-treatment-icon::before {
        width: 40px;
        height: 40px;
        font-size: 24px;
        line-height: 40px;
    }

    .m-quality-treatment .m-quality-treatment-subheader {
        font-size: 22px;
        line-height: 22px;
        margin-bottom: 0;
    }

    .m-quality-treatment .m-quality-treatment-header {
        font-size: 24px;
        line-height: 24px;
    }
}

/* ---------- block treatments ---------- */
.m-block-treatment .m-block-treatment-subtitle {
    font-family: var(--ff--subheader);
    color: var(--col--dark);
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.m-block-treatment .m-block-treatment-title {
    margin: 0;
    font-family: var(--ff--header);
    color: var(--col--dark);
    font-weight: bold;
    text-transform: uppercase;
}

.m-block-treatment-lg .m-block-treatment-subtitle {
    font-size: 34px;
    line-height: 34px;
}

.m-block-treatment-lg .m-block-treatment-title {
    font-size: 52px;
    line-height: 52px;
}

.m-block-treatment-md .m-block-treatment-subtitle {
    font-size: 34px;
    line-height: 34px;
}

.m-block-treatment-md .m-block-treatment-title {
    font-size: 40px;
    line-height: 40px;
}

.m-block-treatment-sm .m-block-treatment-subtitle {
    font-size: 26px;
    line-height: 26px;
}

.m-block-treatment-sm .m-block-treatment-title {
    font-size: 26px;
    line-height: 26px;
}

@media (max-width: 768px) {
    .m-block-treatment .m-block-treatment-subtitle {
        letter-spacing: initial;
    }

    .m-block-treatment-lg .m-block-treatment-subtitle {
        font-size: 24px;
        line-height: 24px;
    }

    .m-block-treatment-lg .m-block-treatment-title {
        font-size: 34px;
        line-height: 34px;
    }

    .m-block-treatment-md .m-block-treatment-subtitle {
        font-size: 24px;
        line-height: 24px;
    }

    .m-block-treatment-md .m-block-treatment-title {
        font-size: 28px;
        line-height: 28px;
    }

    .m-block-treatment-sm .m-block-treatment-subtitle {
        font-size: 22px;
        line-height: 22px;
    }

    .m-block-treatment-sm .m-block-treatment-title {
        font-size: 20px;
        line-height: 20px;
    }
}

/* ---------- alt block treatment ---------- */
.m-block-treatment-alt {
    display: flex;
}

.m-block-treatment-alt .m-block-treatment-alt-first-letter {
    margin: 0 8px 0 0;
    font-family: var(--ff--header);
    color: var(--col--primary1);
    font-weight: bold;
    font-size: 90px;
    line-height: 90px;
    text-transform: uppercase;
}

.m-block-treatment-alt .m-block-treatment-alt-title {
    margin: 0;
    padding: 4px 0;
    font-family: var(--ff--header);
    color: var(--col--primary1);
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
}

.m-block-treatment-alt .m-block-treatment-alt-subtitle {
    margin: 0;
    font-family: var(--ff--subheader);
    color: var(--col--dark);
    font-size: 34px;
    line-height: 34px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .m-block-treatment-alt .m-block-treatment-alt-first-letter {
        font-size: 64px;
        line-height: 64px;
    }

    .m-block-treatment-alt .m-block-treatment-alt-title {
        padding: 3px 0;
        font-size: 28px;
        line-height: 28px;
    }

    .m-block-treatment-alt .m-block-treatment-alt-subtitle {
        font-size: 24px;
        line-height: 24px;
    }
}
