/* ---------- headers ---------- */

/* desktop headers */
.t-header-hero {
    font-family: var(--ff--header);
    font-size: 74px;
    line-height: 74px;
    font-weight: 700;
    color: var(--col--dark);
    text-transform: uppercase;
}

.t-header-h1 {
    font-family: var(--ff--header);
    font-size: 52px;
    line-height: 52px;
    font-weight: 700;
    color: var(--col--dark);
    text-transform: uppercase;
}

.t-header-h2 {
    font-family: var(--ff--header-small);
    font-size: 38px;
    line-height: 38px;
    font-weight: 700;
    color: var(--col--dark);
    text-transform: uppercase;
}

.t-header-h3 {
    font-family: var(--ff--header-small);
    font-size: 26px;
    line-height: 26px;
    font-weight: 700;
    color: var(--col--dark);
    text-transform: uppercase;
}

.t-header-card-title {
    font-family: var(--ff--header-small);
    font-size: 26px;
    line-height: 26px;
    font-weight: 700;
    color: var(--col--dark);
    text-transform: uppercase;
}

/* mobile headers */
@media screen and (max-width: 959px) {
    .t-header-hero {
        font-family: var(--ff--header);
        font-size: 34px;
        line-height: 34px;
        font-weight: 700;
        color: var(--col--dark);
        text-transform: uppercase;
    }

    .t-header-h1 {
        font-family: var(--ff--header);
        font-size: 32px;
        line-height: 32px;
        font-weight: 700;
        color: var(--col--dark);
        text-transform: uppercase;
    }

    .t-header-h2 {
        font-family: var(--ff--header-small);
        font-size: 28px;
        line-height: 28px;
        font-weight: 700;
        color: var(--col--dark);
        text-transform: uppercase;
    }

    .t-header-h3 {
        font-family: var(--ff--header-small);
        font-size: 20px;
        line-height: 20px;
        font-weight: 700;
        color: var(--col--dark);
        text-transform: uppercase;
    }

    .t-header-card-title {
        font-family: var(--ff--header-small);
        font-size: 20px;
        line-height: 20px;
        font-weight: 700;
        color: var(--col--dark);
        text-transform: uppercase;
    }
}

/* ---------- subheaders ---------- */

/* desktop subheaders */
.t-subheader {
    font-family: var(--ff--subheader);
    font-size: 34px;
    line-height: 34px;
    font-weight: 400;
    color: var(--col--dark);
    text-transform: uppercase;
    letter-spacing: 0.01em;
}

.t-subheader-hero, /* this optional element not exists in Arby's brand, but still it must be declared */
.t-subheader-small {
    font-family: var(--ff--subheader);
    font-size: 26px;
    line-height: 26px;
    font-weight: 400;
    color: var(--col--dark);
    text-transform: uppercase;
    letter-spacing: 0.01em;
}

.t-subheader-smaller {
    font-family: var(--ff--subheader-small);
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: var(--col--dark);
    text-transform: capitalize;
}

/* mobile subheaders */
@media screen and (max-width: 959px) {
    .t-subheader {
        font-family: var(--ff--subheader);
        font-size: 24px;
        line-height: 24px;
        font-weight: 400;
        color: var(--col--dark);
        text-transform: uppercase;
        letter-spacing: normal;
    }

    .t-subheader-hero,
    .t-subheader-small {
        font-family: var(--ff--subheader);
        font-size: 22px;
        line-height: 22px;
        font-weight: 400;
        color: var(--col--dark);
        text-transform: uppercase;
    }

    .t-subheader-smaller {
        font-family: var(--ff--subheader-small);
        font-size: 16px;
        line-height: 16px;
        font-weight: 700;
        color: var(--col--dark);
        text-transform: capitalize;
        letter-spacing: 0.01em;
    }
}

/* universal subheaders */
.t-subheader-universal {
    font-family: var(--ff--subheader);
    font-size: 34px;
    line-height: 34px;
    font-weight: 400;
    color: var(--col--dark);
    text-transform: uppercase;
    letter-spacing: 0.01em;
}

.t-subheader-universal-small {
    font-family: var(--ff--subheader);
    font-size: 26px;
    line-height: 26px;
    font-weight: 400;
    color: var(--col--dark);
    text-transform: uppercase;
}

.t-subheader-universal-smaller {
    font-family: var(--ff--subheader-small);
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: var(--col--dark);
    text-transform: capitalize;
}

/* ---------- paragraphs ---------- */

/* desktop paragraphs */
.t-paragraph {
    font-family: var(--ff--pharagraph);
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: var(--col--dark);
    text-transform: none;
}

.t-paragraph-strong {
    font-family: var(--ff--pharagraph-strong);
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    color: var(--col--dark);
    text-transform: none;
}

.t-paragraph-small {
    font-family: var(--ff--pharagraph);
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: var(--col--gray6);
    text-transform: none;
}

.t-paragraph-small-strong {
    font-family: var(--ff--pharagraph-strong);
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    color: var(--col--gray6);
    text-transform: none;
}

.t-paragraph-hint {
    font-family: var(--ff--pharagraph);
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: var(--col--gray6);
    text-transform: none;
}

.t-paragraph-hint-strong {
    font-family: var(--ff--pharagraph-strong);
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: var(--col--gray6);
    text-transform: none;
}

/* mobile paragraphs */
@media screen and (max-width: 959px) {
    .t-paragraph {
        font-family: var(--ff--pharagraph);
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: var(--col--dark);
        text-transform: none;
    }

    .t-paragraph-strong {
        font-family: var(--ff--pharagraph-strong);
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        color: var(--col--dark);
        text-transform: none;
    }

    .t-paragraph-small {
        font-family: var(--ff--pharagraph);
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
        color: var(--col--gray6);
        text-transform: none;
    }

    .t-paragraph-small-strong {
        font-family: var(--ff--pharagraph-strong);
        font-size: 14px;
        line-height: 22px;
        font-weight: 700;
        color: var(--col--gray6);
        text-transform: none;
    }

    .t-paragraph-hint {
        font-family: var(--ff--pharagraph);
        font-size: 12px;
        line-height: 18px;
        font-weight: 400;
        color: var(--col--gray6);
        text-transform: none;
    }

    .t-paragraph-hint-strong {
        font-family: var(--ff--pharagraph-strong);
        font-size: 12px;
        line-height: 18px;
        font-weight: 700;
        color: var(--col--gray6);
        text-transform: none;
    }
}

/* ---------- highlight style ---------- */
.t-highlighted {
    background-color: var(--col--dark);
    color: var(--col--light);
}

/* ---------- links ---------- */
.t-link {
    font-family: var(--ff--link);
}
