.main {
    margin-top: 20px;
}

.feedbackQuestionText {
    composes: feedback from './feedback.vars.css';
    margin-top: var(--feedbackQuestionText-margin-top);
    color: var(--col--dark);
}

.radioBtnContainer {
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
}

.radioBtnLabel {
    display: inline-block;
    width: 100%;
    margin-left: 10px;
    cursor: pointer;
}
