.container {
    display: flex;
}

.container > :first-child {
    margin-right: 20px;
}

.container > * {
    min-width: 160px;
}

.heading,
.text {
    margin: 0;
}

.heading {
    margin-top: 16px;
}

.info {
    composes: pickupDeliveryInfo from './index.vars.css';
    flex-basis: 100%;
    color: var(--info-color);
    margin-bottom: 1em;
}

.deliveryTimesErrors {
    color: var(--col--utilityError);
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    margin-bottom: 18px;
}

span.label {
    font-size: 12px;
    line-height: 12px;
}

label.labelInput {
    font-size: 12px;
    line-height: 12px;
}
