.confirmation {
    --order-form-border-top: none;
    --form-fields-border-top: none;
    --order-form-fields-margin-top: -80px;
    --order-form--desktop-top: -316px;
    --form-section-header-margin: 0 0 20px 0;
    --order-header-background: url('../../../../public/brands/bww/confirmation-background.png') center / cover no-repeat;
    --order-header-mobile-background: url('../../../../public/brands/bww/confirmation-background-mobile.png') center /
        cover no-repeat;
    --order-header-desktop-height: 594px;
}
