.container {
    composes: locationInfo from './locationInfo.vars.css';
    position: relative;
    top: -81px;
    padding: 17px 30px 22px;
    text-align: center;
    background: var(--container-background-color);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    border: var(--container-border);
    border-radius: var(--container-mobile-border-radius);
}

.infoBlock,
.actionBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoBlock {
    margin-bottom: 5px;
    color: var(--col--dark);
}

.infoBlock > * {
    margin: 0;
}

.infoBlock > *:not(:last-child) {
    margin-bottom: 7px;
}

.infoBlock h3 {
    font-size: 20px;
    line-height: var(--location-info-header-mobile-line-height);
}

.heading {
    color: var(--col--secondary1);
}

.address {
    font-size: var(--location-info-address-mobile-font-size);
    line-height: var(--location-info-address-mobile-line-height);
}

.phoneLink {
    color: var(--col--dark);
    font-family: var(--base-font);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.phoneIcon {
    color: var(--col--primary1);
}

.link {
    text-transform: uppercase;
    color: var(--col--dark);
}

.orderStatusLink {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid var(--col--gray4);
}

.orderStatusLinkDelivery {
    border-left: none;
}

@media screen and (min-width: 960px) {
    .container {
        position: static;
        box-shadow: none;
        display: flex;
        justify-content: space-between;
        padding: var(--container-desktop-padding);
        margin: var(--container-desktop-margin);
        border-radius: 0;
    }

    .infoBlock {
        align-items: flex-start;
    }

    .phoneIcon {
        font-size: 18px !important;
    }

    .actionBlock {
        justify-content: center;
    }

    .link {
        font-size: 18px;
    }

    .orderStatusLink {
        margin-left: 20px;
        padding-left: 20px;
        border-left: 1px solid var(--col--gray4);
    }

    .orderStatusLinkDelivery {
        border-left: none;
    }

    .infoBlock h3 {
        font-size: var(--location-info-header-desktop-font-size);
        line-height: var(--location-info-header-desktop-line-height);
    }

    .address {
        font-size: var(--location-info-address-desktop-font-size);
        line-height: var(--location-info-address-desktop-line-height);
    }
}
