.locationInfo {
    --container-background-color: var(--col--light);
    --container-desktop-padding: 0;
    --container-desktop-margin: 49px 0;
    --location-info-header-desktop-font-size: 26px;
    --location-info-header-desktop-line-height: 26px;
    --location-info-address-desktop-font-size: 18px;
    --location-info-address-desktop-line-height: 24px;
    --container-border: none;
    --container-mobile-border-radius: 0;
    --location-display-name-font-size: 26px;
    --location-display-name-line-height: 26px;
    --location-display-name-font-size-mobile: 20px;
    --location-display-name-line-height-mobile: 20px;
    --location-info-header-mobile-line-height: 20px;
    --location-info-address-mobile-font-size: 16px;
    --location-info-address-mobile-line-height: 20px;
}
