.allLocationsLink {
    display: none;
}

.container {
    composes: container from './index.vars.css';
    padding: 28px 30px;
    border-bottom: 1px solid var(--col--gray4);
    background-color: var(--backgroundColor);
}

.topSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    color: var(--textColor);
}

.title {
    color: var(--textColor);
}

.link {
    text-transform: uppercase;
    color: var(--textColor);
}

@media (max-width: 768px) {
    .container {
        padding: 10px 20px;
    }

    .topSection {
        display: none;
    }

    .allLocationsLink {
        display: flex;
        justify-content: flex-end;
        padding: 15px 30px 0 0;
    }
}
