.productTitle {
    font-family: var(--ff--pharagraph-strong);
    font-size: 18px;
    line-height: 18px;
}

@media (max-width: 768px) {
    .productTitle {
        font-size: 16px;
        line-height: 16px;
    }
}
