.divider {
    width: 10px;
    height: 10px;

    /* TODO use font icon */
    background-image: url('../../../../public/brands/jje/star-white.svg');
    background-position: center;
    background-size: contain;
}

@media (max-width: 767px) {
    .divider {
        width: 8px;
        height: 8px;
    }
}
