.wrapper {
    font-weight: bold;
    text-align: center;
    padding: 15px 20px;
    background-color: var(--col--secondary2);
}

.link {
    text-decoration: underline;
}

@media (min-width: 961px) {
    .wrapper {
        display: none;
    }
}
