.reviewOrder {
    --reviewOrder-padding: 25px;
    --totalItem-padding: 15px;
    --discount-color: var(--col--secondary5);
    --legal-color: var(--col--dark);
    --totalItem-discount-font: var(--ff--pharagraph-strong);
}
