.caloriesLegalSection {
    --calories-container-padding-top: 58px;
    --calories-container-p-font-family: var(--ff--pharagraph);
    --calories-container-p-font-weight: 500;
    --calories-container-p-line-height: 20px;
    --calories-container-p-padding-bottom: 20px;
    --calories-container-p-mobile-line-height: 18px;
    --calories-container-p-mobile-padding-bottom: 18px;
}
