.sectionFlexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.menuCategoryCard {
    z-index: 1;
    height: 160px;
    margin: 10px;
    display: flex;
    flex: 1;
    flex-basis: 30%;
    min-width: 300px;
}

/* 3 column */
.hideWhenWide {
    display: none !important;
}

.showWhenWide {
    display: block !important;
    order: 1;
}

.hidden {
    display: none;
}

/* 2 column */
@media (max-width: 1200px) {
    .menuCategoryCard {
        flex-basis: 40%;
    }

    .hideWhenWide {
        display: block !important;
    }

    .showWhenWide {
        display: none !important;
    }
}

.sectionFooter {
    background: transparent;
}

.backgroundBottomText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    color: var(--col--dark);
    font-family: var(--ff--header-small);
    text-transform: uppercase;
    text-align: left;
    white-space: nowrap;
    letter-spacing: 0.01em;
    font-size: 28px;
}

.backgroundBottomText div:first-child {
    color: var(--col--dark);
    font-size: 28px;
    line-height: 28px;
}

.backgroundBottomText div:last-child {
    font-family: var(--head-font);
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
    padding-top: 0px;
}

@media (max-width: 425px) {
    .backgroundBottomText {
        padding: 0;
        margin-top: 6px;
    }

    .backgroundBottomText div:first-child {
        line-height: 24px;
        font-size: 24px;
    }

    .backgroundBottomText div:last-child {
        font-size: 34px;
        line-height: 34px;
    }

    .backgroundBottomTextSection {
        height: 80px;
        margin: 0;
        padding: 0;
    }
}
