.accountInfo {
    --account-info-title-font-family: var(--ff--header);
    --account-info-title-font-weight: 900;
    --account-info-inout-label-font-family: var(--ff--pharagraph);
    --account-info-input-error-color: var(--col--utilityError);
    --account-info-input-error-font-family: var(--ff--pharagraph);
    --account-info-input-label-color: var(--col--dark);
    --account-info-input-text-font-family: var(--ff--pharagraph);
    --account-info-change-password-font-family: var(--ff--tag);
}
