.section {
    margin-top: 48px;
    scroll-margin-top: 174px;
}

.heading {
    margin-top: 0px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.itemContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    margin-bottom: 15px;
    padding: 13px 14px 13px 23px;
}

.teamName {
    text-transform: none;
}

@media (min-width: 768px) {
    .section {
        margin-top: 60px;
    }

    .itemContainer {
        flex-direction: row;
        justify-content: space-between;
        flex-basis: 48%;
        align-items: center;
        margin-bottom: 20px;
        padding: 29px 33px 29px 30px;
    }
}
