.container {
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin: 0 52px 4px 20px;
}

.modifiersContainer {
    color: var(--col--gray6);
    margin-top: 5px;
}

.modifiersContainer > div {
    margin-bottom: 5px;
}

.modifiersContainer > div:last-child {
    margin-bottom: 8px;
}

.bannerImageContainer {
    max-width: 440px;
    max-height: 337px;
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
}

.bannerImageContainer img {
    max-width: 440px;
    max-height: 337px;
    display: flex;
    align-self: center;
    width: 100%;
    height: auto;
    object-position: top;
}

.bannerImageContainer,
.descriptionContainer {
    display: flex;
    flex: 1 1;
}

.descriptionContainer {
    padding: 40px 56px;
    background: var(--col--light);
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 6px 6px 0px 0px;
}

.menuItemName {
    margin: 10px 0;
}

.sodiumWarningIcon {
    margin-left: 10px;
    max-height: 36px;
    max-width: fit-content;
}

.sodiumWarningPhillyIcon {
    margin-left: 0;
    margin-top: 5px;
}

.priceContainer {
    margin: 3px 0;
    color: var(--col--gray6);
    display: flex;
    flex-direction: row;
}

.sidesHeader {
    margin-top: 20px;
    margin-bottom: 10px;
    color: var(--col--dark);
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    font-family: var(--ff--pharagraph);
}

.modifiersSelection {
    max-width: 700px;
    margin-top: 30px;
}

.buttonBlock {
    margin-top: 20px;
    font-family: var(--ff--pharagraph);
}

.buttonBlock a {
    margin-top: 25px;
}

.extras {
    margin-top: 30px;
}

.orderAheadDescription {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        margin: 0;
    }

    .descriptionContainer {
        order: 1;
        margin-left: 0;
        padding: 20px;
        border-radius: 0;
        flex: initial;
    }

    .sodiumWarningIcon {
        max-height: 22px;
        margin-left: 5px;
    }

    .sodiumWarningPhillyIcon {
        margin-left: 0;
        margin-top: 1px;
    }

    .bannerImageContainer {
        max-width: none;
        justify-content: center;
        margin: 0 -20px;
        background: linear-gradient(to bottom, var(--col--light) 60%, var(--col--gray1) 50%);
    }

    .sizeSelectionWrapper {
        margin-bottom: 20px;
    }

    .buttonBlock {
        text-align: center;
    }

    .buttonBlock a {
        display: none;
    }

    .buttonBlock button {
        display: none;
    }

    .notSaleableDescription > span {
        font-weight: bold;
    }

    .menuItemName {
        margin: 4px 0;
    }

    .modifiersContainer > div {
        margin-bottom: 3px;
    }

    .modifiersContainer > div:last-child {
        margin-bottom: 3px;
    }
}

@media (max-width: 480px) {
    .bannerImageContainer img {
        max-height: 375px;
    }
}

.modifications {
    margin-top: 3px;
    max-width: 500px;
}

@media (max-width: 600px) {
    .modifications {
        max-width: 300px;
    }
}
