.menuSpan {
    composes: breadcrumbs from './index.vars.css';
    display: block;
    font-size: 14px;
    line-height: var(--menuSpan-line-height);
    color: var(--col--dark);
}

.menuLink {
    font-family: var(--menuLink-font-family);
    font-style: normal;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: var(--col--dark);
}

.slash {
    margin: 0 10px;
    color: var(--col--dark);
}
