.checkout {
    --checkout-field-counter-color: var(--col--primary1);
    --checkout-form-border-top: 1px solid var(--col--gray4);
    --checkout-form-fields-margin-mobile: 0;
    --checkout-form-width-desktop: 885px;
    --checkout-form-padding-desktop: 0 50px;
}
