.container {
    composes: checkout from './checkout.vars.css';
    display: flex;
    flex-direction: column;
}

.containerHidden {
    display: none;
}

.background {
    width: 100%;
    height: 134px;
}

.checkoutForm {
    background-color: var(--col--light);
    padding: 0 20px;
}

.checkoutForm > *:not(:first-child) {
    border-top: var(--checkout-form-border-top);
}

.formFields > *:not(:first-child) {
    border-top: 1px solid var(--col--gray4);
}

.formControl {
    margin-top: 20px;
}

.formFields {
    padding: 0;
    margin: var(--checkout-form-fields-margin-mobile);
    counter-reset: section;
}

.formFields > * {
    padding-top: 40px;
    padding-bottom: 40px;
    counter-increment: section;
}

.formFields > *:last-child {
    padding-bottom: 30px;
}

.formFields > *::before {
    content: counter(section);
    font-family: var(--ff--header);
    font-size: var(--h4-md-size, 20px);
    color: var(--checkout-field-counter-color);
}

.formSectionHeader {
    display: inline-block;
    margin: 0 0 20px 7px;
}

.loading {
    opacity: 0.3;
}

.paymentHeaderContainer {
    position: relative;
}

.headerOverlay {
    position: absolute;
    height: 85px;
    z-index: 1000;
    width: 100%;
    top: 0;
}

.headerOverlayHidden {
    display: none;
}

.paymentProcesssingContainerHidden {
    display: none;
}

@media screen and (min-width: 960px) {
    .formFields {
        margin: 0;
    }

    .formFields > *:last-child {
        padding-bottom: 40px;
    }

    .background {
        height: 444px;
    }

    .checkoutForm {
        width: var(--checkout-form-width-desktop);
        padding: var(--checkout-form-padding-desktop);
        align-self: center;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
        position: relative;
        top: -358px;
        margin-bottom: -75px;
    }

    .checkoutForm > *:not(:first-child) {
        border-top: var(--checkout-form-border-top);
    }

    .formFields > *::before {
        font-size: var(--h4-lg-size, 26px);
    }
}

@media screen and (max-width: 960px) {
    .headerOverlay {
        height: 60px;
    }
}
