.closeButton {
    composes: closeButton from './closeButton.vars.css';
    font-family: var(--button-font-family);
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--col--light);
    background: var(--col--dark);
    border-radius: 0;
    font-size: var(--button-font-size);
    line-height: var(--button-line-height);
    height: 66px;
}

.closeButton svg.closeButtonIcon:first-child {
    font-size: 24px;
}
