.wrapper {
    width: 100%;
    background: linear-gradient(to bottom, var(--col--primary1) 50%, transparent 50%);
    display: flex;
    justify-content: center;
}

.submitButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.heading {
    composes: signin from './signin.vars.css';
    margin-top: 6px;
    margin-bottom: 16px;
}

.footerSubtitle {
    composes: signin from './signin.vars.css';
    font-size: var(--signin-footer-subtitle-font-size);
    line-height: var(--signin-footer-subtitle-line-heignt);
    color: var(--signin-footer-subtitle-color);
    display: var(--signin-footer-subtitle-display);
    font-weight: var(--signin-footer-subtitle-font-weight);
}

.footerTitle {
    composes: signin from './signin.vars.css';
    font-size: var(--signin-footer-title-font-size);
    line-height: var(--signin-footer-title-line-heignt);
    color: var(--signin-footer-title-color);
    display: var(--signin-footer-title-display);
    font-family: var(--signin-footer-title-font-family);
    font-weight: var(--signin-footer-title-font-weight);
}

.label {
    composes: signin from './signin.vars.css';
    font-size: 12px;
    font-family: var(--signin-label-font-family);
}

.signInLabel {
    composes: signin from './signin.vars.css';
    margin: var(--signin-footer-label-margin);
    padding: var(--signin-footer-label-pagging);
    background-color: var(--signin-footer-label-bg-color);
    text-align: center;
}

.createAnAccountLink {
    composes: signin from './signin.vars.css';
    margin-top: var(--signin-create-an-account-link-margin-top);
}

.rememberAndForgotLink {
    composes: signin from './signin.vars.css';
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-weight: var(--signin-forgot-password-font-weight);
    line-height: var(--signin-forgot-password-line-heignt);
}

.lastInput {
    margin-bottom: 0;
}

.socialButtonsWrap {
    display: flex;
    justify-content: space-between;
    margin-top: 19px;
    outline: none;
}

.socialButtonsWrap .socialButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--col--dark);
    border: 1px solid var(--col--gray4);
    box-shadow: none;
    text-transform: none;
    font-family: var(--base-font);
    font-weight: 400;
    font-size: 16px;
}

.socialButton.facebookButton::before {
    content: '';
    display: block;
    width: 25px;
    height: 24px;
    background: url('../../../../public/brands/inspire/logo_facebook.svg');
    margin-right: 12px;
}

.socialButton.googleButton::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background: url('../../../../public/brands/inspire/logo_google.svg');
}

.socialButton.appleButton::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background: url('../../../../public/brands/inspire/apple_logo.svg') no-repeat;
    margin-right: 8px;
}

.socialButton.googleButton {
    display: none;
}

.socialButtonsWrap .socialButton:hover:not(:disabled) {
    border: 1px solid var(--col--gray4);
    color: var(--col--dark);
}

.buttonsDivider {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 19px;
}

.dividerLine {
    width: 100%;
    height: 1px;
    background: var(--col--gray4);
}

.dividerLineSingle {
    composes: signin from './signin.vars.css';
    margin-top: 40px;
    width: 100%;
    height: 1px;
    display: var(--signin-divider-line-single-display);
}

.orWord {
    margin: 0 7px;
    font-family: var(--base-font);
    color: var(--col--dark);
    width: 40px;
    text-align: center;
    text-transform: uppercase;
}

.termsContainer {
    composes: signin from './signin.vars.css';
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.termsLabel {
    display: inline-block;
    width: 100%;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
}

.termsLink {
    font-family: var(--heavy-font);
    text-decoration: underline;
    text-transform: uppercase;
}

.termsLink:hover {
    text-decoration: none;
}

.checkbox {
    display: none;
}

.styledCheckbox {
    composes: signin from './signin.vars.css';
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--col--light);
    flex-shrink: 0;
    border: 1px solid var(--col--gray6);
    box-sizing: border-box;
    cursor: pointer;
    border-radius: var(--signin-styled-checkbox-border-radius);
}

.checkbox:checked + .styledCheckbox {
    background: var(--signin-styled-checkbox-background);
    border: none;
}

.checkIcon {
    width: 24px;
    height: 24px;
    fill: var(--signin-styled-checkbox-check-icon-color);
}

.checkbox:checked + .styledCheckbox .checkIcon {
    fill: var(--signin-styled-checkbox-check-icon-checked-color);
}

.loader svg {
    width: 42px;
}

.loader span {
    font-size: 40px !important;
}

@media (min-width: 960px) {
    .heading {
        margin-top: 0px;
        margin-bottom: var(--signin-heading-desktop-margin-bottom);
    }

    .rememberAndForgotSection {
        height: 64px;
    }
}

@media (max-width: 960px) {
    .socialButtonsWrap .socialButton {
        max-width: 100%;
    }

    .socialButtonsWrap {
        flex-direction: column;
    }

    .socialButton:not(:first-child) {
        margin-top: 15px;
    }

    .footerSubtitle {
        font-size: var(--signin-footer-subtitle-mobile-font-size);
        line-height: var(--signin-footer-subtitle-mobile-line-heignt);
    }

    .footerTitle {
        font-size: var(--signin-footer-title-mobile-font-size);
        line-height: var(--signin-footer-title-mobile-line-heignt);
    }

    .signInLabel {
        margin: var(--signin-footer-label-margin-mobile);
    }
}
