.signin {
    --signin-styled-checkbox-border-radius: 0;
    --signin-styled-checkbox-background: var(--col--primary1);
    --signin-styled-checkbox-check-icon-color: var(--col--light);
    --signin-styled-checkbox-check-icon-checked-color: var(--col--light);
    --signin-footer-subtitle-font-size: 16px;
    --signin-footer-subtitle-line-heignt: 24px;
    --signin-footer-subtitle-color: var(--col--dark);
    --signin-footer-subtitle-display: inline;
    --signin-footer-title-font-size: 16px;
    --signin-footer-title-line-heignt: 24px;
    --signin-footer-title-color: var(--col--dark);
    --signin-footer-title-display: inline;
    --signin-footer-title-font-family: inherit;
    --signin-footer-label-margin: 34px 0 0;
    --signin-footer-label-margin-mobile: 25px 0 0;
    --signin-footer-label-pagging: 0;
    --signin-footer-label-bg-color: inherit;
    --signin-divider-line-single-display: flex;
    --signin-footer-subtitle-mobile-font-size: 16px;
    --signin-footer-subtitle-mobile-line-heignt: 24px;
    --signin-footer-title-mobile-font-size: 16px;
    --signin-footer-title-mobile-line-heignt: 24px;
    --signin-heading-desktop-margin-bottom: 35px;
    --signin-label-font-family: var(--ff--pharagraph);
    --signin-footer-subtitle-font-weight: normal;
    --signin-footer-title-font-weight: normal;
    --signin-create-an-account-link-margin-top: 0px;
    --signin-forgot-password-font-weight: bold;
    --signin-forgot-password-line-heignt: 16px;
}
