.claimNumberHeader {
    margin-bottom: 20px;
}

.claimNumberForm {
    display: flex;
    flex-direction: row;
}

.claimNumberLabel.claimNumberLabel {
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 8px;
    font-family: var(--ff--pharagraph);
    font-weight: 500;
}

.claimNumberInput {
    max-width: 335px;
}

.claimNumberInput input {
    height: 50px;
}

.submitButton {
    width: 117px;
    height: 50px;
    margin: 28px 0 0 20px;
}

.inputRow {
    margin-bottom: 10px;
}

.tooltipWrapper {
    display: inline-block;
}

.questionIcon {
    font-size: 18px;
    margin-left: 5px;
    cursor: pointer;
}

.questionTooltip {
    top: 15px;
    left: 3px;
    padding: 12px 20px;
}

@media (max-width: 375px) {
    .questionTooltip {
        top: 10px;
        width: 170px;
    }
}

@media (max-width: 960px) {
    .claimNumberLabel {
        width: 100%;
    }

    .submitButton {
        width: 100%;
        margin: 0;
    }

    .claimNumberForm {
        flex-direction: column;
    }

    .inputRow {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .claimNumberInput {
        max-width: unset;
    }
}
