.checkbox {
    --checkbox-border-color: var(--col--gray6);
    --checkbox-border-radius: 2px;
    --checkbox-checked-background-color: var(--col--dark);
    --checkbox-icon-color: var(--col--primary1);
}
