.container {
    margin-top: 15px;
}

.extrasDropdownHeader {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.extrasDropdownHeaderText {
    font-size: 26px;
    line-height: 26px;
}

.extrasDropdownHeaderWrapper:focus,
.extrasDropdownHeader:focus {
    outline: none;
}

.extrasDropdownHeaderWrapper:focus > .extrasDropdownHeader {
    outline: auto;
}

.extrasDropdownHeader:focus:not(:focus-visible) {
    outline: none;
}

.extrasDropdownSection:focus {
    outline: none;
}

.extrasDropdownChevron svg {
    font-size: 34px;
}

.extrasDropdown {
    border-bottom: 1px solid var(--col--gray4);
}

.extrasDropdown:first-child {
    border-top: 1px solid var(--col--gray4);
}

.extrasDropdownSection {
    margin-bottom: 25px;
}

.extrasCardsWrapper {
    display: grid;
    margin-top: 20px;
    gap: 20px;
}

@media (max-width: 959px) {
    .container {
        margin-top: 10px;
    }

    .extrasDropdownHeaderText {
        font-size: 20px;
        line-height: 20px;
    }
}

@media (min-width: 1020px) {
    .extrasCardsWrapper {
        grid-template-columns: 1fr 1fr;
    }
}
