.loadingSection {
    composes: loadingSection from './loadingScreen.vars.css';
    height: var(--screen-height);
    padding: var(--padding);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .loadingSection {
        height: auto;
    }
}
