.label {
    color: var(--col--gray6);
}

.termsLink {
    font-family: var(--heavy-font);
    text-decoration: underline;
    text-transform: capitalize;
}

.termsLink:hover {
    text-decoration: none;
}
