.mainBanner {
    /* min-width: 1441px */
    --mainBanner-desktop-padding: 0;
    --mainBanner-mobile-padding: 15px 20px 0px;
    --mainBanner-max-width: 1440px;
    --mainBanner-flexDirection: column;
    --mainBanner-rightImageSection-align-items: stretch;
    --mainBanner-rightImageSection-justify-content: stretch;
    --mainBanner-rightImageSection-justify-content-desktop: flex-end;
    --mainBanner-rightImageSection-padding: 0;
    --mainBanner-rightImageSection-width: auto;
    --mainBanner-rightImageSection-align-self: center;
    --mainBanner-rightImageSection-img-height: 100%;
    --mainBanner-rightImageSection-img-width: 100%;
    --mainBanner-rightImageSection-mobile-margin: 0 -20px;
    --mainBanner-rightImageSection-mobile-padding: 0;
    --mainBanner-topIconText-color: var(--col--primary1);
    --mainBanner-mainText-maxWidth: 604px;
    --mainBanner-mainText-color: var(--col--light);
    --mainBanner-mainText-mobile-font-size: 40px;
    --mainBanner-mainText-mobile-line-height: 40px;
    --mainBanner-mainText-marginTop: 0;
    --mainBanner-mainText-mobile-marginTop: 15px;
    --mainBanner-mainText-marginBottom: 0px;
    --mainBanner-mainTextUmlaut-line-height: 80px;
    --mainBanner-bottomText-marginTop: 20px;
    --mainBanner-bottomText-mobile-marginTop: 5px;
    --mainBanner-bottomText-marginBottom: 35px;
    --mainBanner-bottomText-mobile-marginBottom: 20px;
    --mainBanner-bottomText-maxWidth: 434px;
    --mainBanner-bottomText-color: var(--col--light);
    --mainBanner-bottomText-line-height: 28px;
    --mainBanner-bottomText-mobile-font-size: 18px;
    --mainBanner-bottomText-mobile-line-height: 22px;
    --mainBanner-topIconText-transform: uppercase;
    --mainBanner-imageSection-padding: 0.5em 70px 0 0.5em;
    --mainBanner-actionsSection-desktop-padding: 49px 0 59px 145px;
}
