.container {
    composes: container from './quantitySelector.vars.css';
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    border-top: 1px solid var(--col--gray4);
    height: 45px;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 25%;
    text-align: center;
    letter-spacing: 0.01em;
    padding: 0px;
    background: var(--col--light);
}

.input:focus:not(:focus-visible) {
    outline: none;
}

.input:not(:last-child) {
    border-right: 1px solid var(--col--gray4);
}

.quantity {
    width: 100%;
    border: none;
}

.plusMinus {
    color: var(--plus-minus-color);
}

.plusMinusDisabled {
    color: var(--plus-minus-disabled-color);
}

.input,
.quantityWrapper,
.tooltipWrapper {
    height: 100%;
}

/** workaround for disabled input text color in Safari */
.quantityWrapper > input:disabled {
    opacity: 1;
    -webkit-text-fill-color: var(--quantity-color);
}

.tooltipWrapper {
    flex: 2;
    width: 50%;
    border-right: 1px solid var(--col--gray4);
}

.icon {
    font-size: 18px;
}
