.secondaryPhoneLink {
    --phone-font-size: 18px;
    --phone-lineheight: 28px;
    --phone-font-size-mobile: 16px;
    --phone-lineheight-mobile: 24px;
    --phone-icon-font-size: 18px;
    --phone-icon-font-size-mobile: 14px;
}
