.formWrapper {
    position: relative;
}

.paymentContainer {
    height: 187px;
    margin-left: -10px;
}

.paymentContainer iframe {
    width: 100%;
    height: 100%;
}

.termsContainer {
    margin-top: 0px;
    display: flex;
    align-items: flex-start;
}

.terms {
    display: inline-block;
    width: 100%;
    margin-left: 15px;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 25px;
}

.checkbox {
    display: none;
}

.styledCheckbox {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--col--light);
    flex-shrink: 0;
    border: 1px solid var(--col--gray6);
    box-sizing: border-box;
    cursor: pointer;
}

.checkbox:checked + .styledCheckbox {
    background: var(--col--primary1);
    border: none;
}

.checkIcon {
    width: 24px;
    height: 24px;
    fill: var(--col--light);
}

.paymentOverlay {
    position: absolute;
    background-color: var(--col--light);
    opacity: 0.35;
    height: 95px;
    left: -2px;
    right: -4px;
    bottom: 0;
}

.paymentOverlayHidden {
    display: none;
}

.paymentLoader {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 44px;
}

@media screen and (min-width: 960px) {
    .terms {
        border-top: none;
    }
}
