.modal {
    --modal-header-background: var(--col--dark);
    --modal-header-text-color: var(--col--light);
    --modal-header-padding-bottom: 30px;
    --modal-footer-background: var(--col--dark);
    --modal-footer-bottom-border-color: transparent;
}

@media (max-width: 768px) {
    .modal {
        --modal-header-padding-bottom: 15px;
    }
}
