.banner {
    position: relative;
}

/** increase specifity */
.banner.banner.banner {
    background-color: var(--col--dark);
}

.banner::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-image: url('/brands/bww/delete-account-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.banner > div {
    position: relative;
    padding: 25px 30px 25px 20px;
    align-items: flex-start;
}
