.menuCategoryCard {
    z-index: 1;
    height: 160px;
    margin: 10px;
    display: flex;
    flex: 1;
    flex-basis: 30%;
    min-width: 300px;
    background: var(--col--light);
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--col--gray4);
    box-sizing: border-box;
    border-radius: 6px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}

.contentSection {
    width: 100%;
    padding-left: 26px;
    padding-right: 26px;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.title {
    font-family: var(--ff--subheader);
    font-size: 26px;
    line-height: 26px;
    font-weight: 800;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: var(--col--dark);
    margin: 0;
}

.image,
.imageSection,
.imageSection picture {
    height: 100%;
}

.image {
    align-self: center;
    width: 200px;
    height: 150px;
}

@media (max-width: 1200px) {
    .menuCategoryCard {
        flex-basis: 40%;
    }
}

@media (max-width: 900px) {
    .menuCategoryCard {
        height: 119px;
        background: var(--col--light);
    }

    .contentSection {
        padding-left: 21px;
        padding-right: 30px;
    }

    .title {
        font-size: 22px;
        line-height: 22px;
    }

    .image {
        width: 145px;
        height: 109px;
    }
}

@media (max-width: 425px) {
    .menuCategoryCard {
        margin: 8px 0;
    }

    .contentSection {
        max-width: 136px;
    }
}
