.description {
    font-size: 16px;
    color: var(--col--gray6);
    font-family: var(--ff--pharagraph);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 18px;
    overflow: hidden;
    margin-top: 5px;
}
