.wrapper {
    display: flex;
    justify-content: space-between;
    line-height: 0;
}

.leftColumn {
    min-width: 230px;
    margin-right: 25px;
}

.rightColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.title {
    margin-bottom: 5px;
}

.address {
    margin-bottom: 10px;
}

.secondaryCta {
    margin-top: 10px;
}

.storeId {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .leftColumn {
        min-width: 180px;
    }
}
