.infoBlockSection {
    --card-border-radius: 6px;
    --card-header-margin: 15.44px 0 5px;
    --card-sub-header-margin-bottom: 20px;
    --card-single-content-padding: 0 57px 0 75px;
}

.sectionLayout {
    --sectionLayout-margin-top: 60px;
    --sectionLayout-small-margin-top: 40px;
    --sectionLayout-background-size: 100% 180px;
    --sectionLayout-small-background-size: auto 265px;
}
