.customTipsButton {
    width: 119px;
    border: none;
    background-color: var(--col--light);
    cursor: pointer;
    box-sizing: border-box;
}

.activeCustomTipsButton {
    padding: 6px 15px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--col--dark);
    color: var(--col--light);
}

.title {
    font-family: var(--ff--pharagraph);
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
}

.customTipsInput {
    width: 100%;
    padding: 3px 10px;
    border: none;
    border-radius: 2px;
    outline: none;
    box-sizing: border-box;
    font-size: 16px;
}

.activeCustomTipsInput {
    color: var(--col--dark);
}

.customTipsAmountText {
    padding: 3px 0;
    color: var(--col--light);
}

@media (max-width: 600px) {
    .customTipsButton {
        width: 97px;
    }
}

@media (max-width: 320px) {
    .customTipsButton {
        width: 75px;
    }
}
