.termsAndConditionsInfoBlock {
    color: var(--col--gray6);
    margin-top: 59px;
}

.termsAndConditionsInfoBlock a {
    background: transparent;
}

@media (max-width: 960px) {
    .termsAndConditionsInfoBlock {
        margin-top: 30px;
    }
}
