.container {
    position: relative;
}

.nutritionFactsContainer {
    width: 100%;
    text-align: center;
}

.nutritionFactsTable {
    width: 300px;
    margin: auto;
}

.nutritionFactsRow {
    padding: 3px;
    width: 200px;
}

.nutritionFactsLabel {
    text-align: left;
}

.nutritionFactsValue {
    text-align: right;
}

.menuItemName {
    text-align: center;
}

.centerFlex {
    display: flex;
    justify-content: center;
}

.button {
    background: var(--col--primary1);
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    height: 50px;
    border: 0px;
    color: var(--col--light);
    width: 200px;
    margin: 10px;
    cursor: pointer;
}

.buttonsBlock {
    display: none;
}

.breadcrumbs {
    padding: 30px 20px 0;
}

.modifiersWrapper {
    margin-bottom: 68px;
}

@media (max-width: 768px) {
    .buttonsBlock {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        flex-grow: 1;
        position: sticky;
        bottom: 0;
        z-index: 100;
    }

    .buttonsBlock button {
        font-family: var(--subhead-font);
        text-transform: uppercase;
        color: var(--col--light);
        height: 60px;
        align-items: center;
        justify-content: center;
    }

    .makeMealButton {
        flex: 1;
        box-sizing: border-box;
    }

    .addToBagButton {
        display: flex;
        z-index: 2;
        flex: 1;
    }

    .separator {
        width: 1px;
        background: var(--col--light);
    }

    .modifiersWrapper {
        margin-bottom: 26px;
    }
}

.caloriesLegal {
    padding: 121px 56px 0;
    line-height: 26px;
}

@media (max-width: 767px) {
    .caloriesLegal {
        font-size: 14px;
        padding: 0 19px;
        line-height: 22px;
    }
}
