.bagButton {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
}

.iconWithCount {
    position: relative;
    height: 47px;
    width: 39px;
}
.count {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: .2px;
    color: #38312d;
    position: absolute;
    right: 0;
    bottom: -4px;
    margin: auto;
    padding-bottom: 5px;
}
.icon {
    position: absolute;
    right: 2px;
    margin: auto;
    width: 100%;
}

.bagImage {
    width: 1.5rem;
    height: 1.5rem;
}