

.categoryBar {
    /* max-width: 1200px; */
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
    /* overflow-y: scroll; */
    max-width: 100%;
}
.category {
    margin: 20px;
    background-color: rgb(247, 246, 243);
    letter-spacing: -0.77px;
    line-height: 15.4px;
    color: var(--highlight-color);
    text-align: center;
    text-transform: uppercase;
    font-size: 15.4px;
    font-family: var(--brand-font-family);
    /* margin-right: 4px; */
    /* padding: 15px 20px; */
    /* margin-bottom: 0; */
    cursor: pointer;
    padding: 10px;
    margin: 4px;
    position: relative;
}
.active {
    color: white;
    background-color: var(--highlight-color);
}

.categorySmall {
    margin: 20px;
    letter-spacing: -0.77px;
    line-height: 15.4px;
    color: var(--highlight-color);
    text-align: center;
    text-transform: uppercase;
    font-size: 15.4px;
    font-family: var(--brand-font-family);
    padding: 10px;
    margin: 4px;
    position: relative;
}

.category:hover {
    color: white;
    background-color: var(--highlight-color);
}

.categoryQuantity {
    color: var(--highlight-color);
    width: 20px;
    height: 20px;
    position: absolute;
    top: -10px;
    right: -10px;
}

.categoryQuantitySmall {
    color: var(--highlight-color);
    width: 20px;
    height: 20px;
    position: absolute;
    right: 40px;
}
.categorySelectContainer {
    width: 100%;
    display: block;
    position: fixed;
    top: 3rem;
    left: 0px;
    z-index: 10;
    background-color: white;
    height: 3rem;
    padding-top: 1rem;
    text-align: center;
    display: block;
}
.categorySelect {
    width: 85%;
}

.gridContainer {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 1rem 1rem 1rem;
    justify-content: center;
    /* overflow: auto; */
}

@media (max-width: 599px) {
    .gridContainer {
        padding: 0 0.5em 0.5em 0.5em;
        margin-top: 2.5em;
    }
}

.gridItemFlex {
    margin-top: 1em;
    background: #fff;
    border-radius: 5px;
    transition: transform 500ms ease-in;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.24), 3px 3px 11px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    position: relative;
}

@media (max-width: 600px) {
    .gridItemFlex {
        width: calc(50% - 1em);
    }

    .gridItemFlex:nth-child(2n) {
        margin-left: 1em;
    }
}
@media (min-width: 601px) and (max-width: 960px) {
    .gridItemFlex {
        width: calc(33% - 1em);
        margin-right: 1em;
    }

    .gridItemFlex:nth-child(3n) {
        margin-right: 0;
    }
}
@media (min-width: 961px) {
    .gridItemFlex {
        width: calc(25% - 1em);
        margin-right: 1em;
    }
    .gridItemFlex:nth-child(4n) {
        margin-right: 0;
    }
}

.titleImageFlex {
    display: flex;
    flex-direction: column;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: stretch;
    height: 100%;
}
.titleImageFlex.selected {
   border: 1px solid var(--highlight-color);
}
.gridImageFlex {
    width: 100%;
}
.gridItemFlex:hover {
    transform: scale(1.05);
    box-shadow: 0 13px 19px -10px rgba(0,0,0,0.1), 0 0 1px 1px rgba(0,0,0,0.1);
    border: none;
}

.gridImageBox {
    flex-grow: 1;
    display: flex;
    align-items: center;
/*    background-color: #eee;*/
}

.titleFlex {
    text-align: center;
    color: #231f20;
    /* font-size: 1.3em; */
    font-size: 0.85em;
    /*height: 2.7em;*/
    line-height: 1.3;
    padding: 0 0.5em 0.5em;
    font-family: var(--brand-font-family);
    text-transform: uppercase;
    pointer-events: none;
    margin-top: 0.5em;
}
.orderButtonsFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 65px;
    max-height: 80px;
    border-top: 1px solid var(--border-color);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    max-height: 70px;
}

.orderButtons {
    display: flex;
    align-items: center;
}
.addButton {
    display: flex;
    align-items: center;
    padding: 11px;
    border-right: 1px solid #edece8;
    border-bottom-left-radius: 5px;
    height: 100%;
    min-width: 50%;
    justify-content: center;
}
.modifyRightButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 11px;
    border-bottom-right-radius: 5px;
    height: 100%;
    min-width: 50%;
    justify-content: center;
}
.modifyButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 11px;
    border-right: 1px solid #edece8;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 100%;
    width: 100%;
    justify-content: center;
}
.addButton:hover,
.modifyRightButton:hover,
.modifyButton:hover {
    box-shadow: 0 3px 10px rgba(56,49,45,.3);
    cursor: pointer;
}
.buttonText {
    margin-left: 10px;
}
/* Non flex used for arby's */
.gridItem {
    min-width: 200px;
    min-height: 200px;
    max-width: 100%;
    position: relative;
    margin: 10px;
    transition: transform 500ms ease-in;
}
.gridImage {

    box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    max-width: 100%;
}
.gridItem:hover {
    transform: scale(1.1);
    border: none;
}
.title {
    text-align: center;
    position: absolute;
    width: 100%;
    text-align: center;
    color: #231f20;
    font-size: 1.3em;
    margin-top: 10px;
    padding: 0 15px;
    left: 0px;
    font-family: var(--head-font);
    text-transform: uppercase;
    pointer-events: none;
}

.orderButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 65px;
    max-height: 80px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    max-height: 70px;
}

.availabilityLabel {
    font-size: initial;
    padding-bottom: 0.5em;
}

.quantity {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 8;
    background: var(--highlight-color);
    color: white;
    padding: 1px 10px 1px 10px;
    opacity: .7;
}

.staticPrice {
    text-align: center;
}

.lineThrough {
    text-decoration: line-through;
}
.dynamicPrice {
    color: var(--highlight-color);
}

@media (min-width: 768px) {
    .dynamicPrice {
        margin-left: 3em;
    }
}

.priceFlex {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .priceFlex {
        justify-content: center;
    }
}

.priceFlex > * {
    flex-shrink: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
