.layout {
  display: flex;
  flex-direction: column;
}
@media (min-width: 680px) {
  .layout {
    height: 100%;
  }
}

.container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  overflow: auto;
}
