
.locationBox {
    margin: 1em 1em 1em 1em;
}

.locationDetails {
    display: flex;
    flex-direction: column;
}

.locationLine {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.locationName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 1em;
    max-width: 15em;
}

.locationLabel {
    min-width: 6em;
}

.locationItem {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.85em;
    max-width: 12em;
}
