.menus {
    /*font-family: var(--head-font);
    color: var(--col--primary1);
    */
    display: inline;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 0 0;
    font-size: 1.2rem;
    margin: auto 10px;
}

a.menus:hover,
a.menus.active {
    text-decoration: none;
    border-bottom: 3px solid var(--highlight-color);
}

.header {
    display: flex;
    width: 100%;
    height: 66px;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    /* position: fixed; */
    border-bottom: 1px solid lightgray;
    z-index: 1001;
    /*box-shadow: 0 7px 9px -8px rgba(0,0,0,0.1), 0 0 1px 1px rgba(0,0,0,0.1);*/
}

div.makeRoom {
    height: 66px;
    width: 100%;
}

div.logo {
    margin: 5px;
    width: 100px;
}

.menuContainer {
    display: flex;
    height: 100%;
}
div.custom {
    display: flex;
    align-items: center;
    text-align: center;
}
div.custom > div {
    margin: 10px;
}
div.pickup {
    display: flex;
    align-items: center;
    text-align: center;
    border: solid 1px #5251515c;
    padding: 15px;
    border-radius: 2.5em;
    min-width: 185px;
    min-height: 1.5em;
    max-height: 2.9em;
    overflow-y: hidden;
}
a.locations {
    width: 100%;
}
div.red {
    color: var(--highlight-color);
}
div.thin {
    font-weight: 100;
}
div.bag {
    font-size: 2em;
}
.signin {
    font-size: 1rem;
    text-align: center;
}
