.popup {
    min-width: 50%;
}

.popupTitle {
    min-height: 3.5rem;
}

.dialogTitleButton {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
}

.progressContainer {
    display: flex;
    justify-content: center;
}

.imageDiv {
    line-height: 0;
    text-align: center;
    justify-content: center;
}

.image {
    max-width: 100%;
}
.productInfo {
    display: flex;
    flex-flow: row;
    padding-top: 10px;
    align-items: center;
}
.includedItems {
    padding-right: 10px;
    border-right: 1px solid var(--border-color);
    display: flex;
    flex-flow: column;
    flex: 1 1 0px;
}

.productDescription {
    flex: 1 1 0px;
    padding-left: 10px;
}