.logo {
  height: 2rem;
  cursor: pointer;
}

.toolbox {
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  flex-grow: 1;
}

@media (max-width: 679px) {
  .largeScreen {
    display: none;
  }
}

.menubox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

@media (min-width: 680px) {
  .smallScreen {
    display: none;
  }
}



.menulink {
  display: inline-flex;
  max-width: 10rem;
}

.menulocation {
  display: inline-flex;
  flex-direction: column;
}

.menuaddress {
  max-width: 5rem;
  margin-top: -0.5em;
  text-align: right;
}

div.toolbox > a.active {
  border-bottom: 1px solid var(--highlight-color);
}
.pickupAt {
  position: absolute;
  font-size: 0.65em;
  right: 1em;
  bottom: 0;
  max-width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--button-color);
}
.located {
  padding-bottom: 0.25em;
}

.smallToolbarBlock {
  flex: 1 1 0px;
  display: flex;
}
.left {
  justify-content: flex-start;
}
.right {
  justify-content: flex-end;
}
.center {
  justify-content: center;
}

