.wrapper {
    display: flex;
    margin-bottom: 14px;
}

.quantity {
    text-transform: none;
    margin-right: 10px;
}

.price {
    flex: 1;
    text-align: right;
    margin-left: 10px;
}

.wrapper:last-of-type {
    margin-bottom: 54px;
}
