.itemWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.orderTotal {
    width: 100%;
}

.tipsBlock {
    border-top: 1px solid var(--col--gray4);
    padding: 25px 0 27px;
}
