.dropdownWrapper {
    composes: locationFlowDropdown from './locationFlowDropdown.vars.css';
    order: 2;
}

.startOrderButton {
    width: 100%;
    margin: 10px 0;
}

@media (max-width: 959px) {
    .dropdownWrapper {
        width: 100%;
        border-top: var(--location-select-container-small-border-top);
    }
}
