.locationMethodTab {
    --details-container-box-shadow: none;
    --details-container-background-color: var(--col--gray1);
    --details-container-border: 1px solid var(--col--gray4);
    --details-container-border-radius: 2px;
    --background-line-background-color: var(--col--dark);
}
