.locationSelect {
    --info-font-weight: 600;
    --info-color: var(--col--gray6);
    --icon-color: var(--col--dark);
    --name-text-font-size: 12px;
    --name-text-line-height: 14px;
    --name-font-family: var(--ff--pharagraph-strong);
    --chevron-icon-color: var(--col--dark);
}
