.pageWrapper {
    width: 100%;
    justify-content: flex-start;
}

.generalError {
    color: var(--col--primary1);
    margin-bottom: 15px;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--col--light);
    padding-top: 30px;
}

.modalIconBan {
    color: var(--col--primary1);
    margin-bottom: 25px;
}

.modalIconClose {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.modalTitle {
    text-align: center;
    padding: 0 20px;
    margin-bottom: 60px;
}

.modalButtons {
    width: 100%;
    display: flex;
}

.modalButtons button {
    flex: 1;
}

.modalButtons button:first-child {
    margin-right: 1px;
}

@media (min-width: 960px) {
    .emptyContainerWrapper {
        justify-content: center;
    }

    .modalContainer {
        width: 500px;
    }
}
