.containerWrapper {
    padding-top: 25px;
}

.pageWrapper {
    width: 100%;
}

.backLink {
    margin-bottom: 40px;
    display: inline-block;
}

@media (max-width: 959px) {
    .containerWrapper {
        padding-top: 19px;
    }

    .backLink {
        margin-bottom: 39px;
    }
}

.loaderContainer {
    display: flex;
    justify-content: center;
}
