.formikPasswordInput {
    --formik-password-input-invalid-input-color: var(--col--primary1);
    --formik-password-input-border-radius: 0;
    --formik-password-input-error-message: var(--ff--pharagraph);
    --formik-password-input-description-color: var(--col--dark);
}
