.inputGroup {
    composes: formikPasswordInput from './formikPasswordInput.vars.css';
    width: 100%;
    font-size: 16px;
    margin-bottom: 1em;
    position: relative;
}

.inputGroup:last-child {
    margin-bottom: 6px;
}

.inputLabel {
    color: var(--col--dark);
    display: inline-block;
    font-family: Arial, sens-serif;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.inputLabelStar {
    color: var(--formik-password-input-invalid-input-color);
}

.inputControl {
    border: solid 0px var(--col--gray6);
    border-radius: var(--formik-password-input-border-radius);
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding-left: 20px;
}

.inputControl:focus {
    box-shadow: none;
    border: solid 0px var(--col--gray6);
    border-radius: var(--formik-password-input-border-radius);
    outline: none;
}

.invalid .inputControl:not(:disabled):focus {
    box-shadow: none;
    outline: none;
}

.valid .inputControl:not(:disabled):focus {
    box-shadow: none;
    outline: none;
}

.inputError {
    color: var(--formik-password-input-invalid-input-color);
    width: 100%;
    font-family: var(--formik-password-input-error-message);
    font-size: 80%;
    margin-top: 0.31em;
}

.description {
    padding-top: 5px;
    color: var(--formik-password-input-description-color);
}

.inputContainer {
    color: var(--col--gray6);
    border: solid 1px var(--col--gray6);
    border-radius: var(--formik-password-input-border-radius);
    display: flex;
}

.valid .inputContainer {
    border: solid 1px var(--col--gray6);
    border-radius: var(--formik-password-input-border-radius);
}

.invalid .inputContainer {
    border: solid 1px var(--formik-password-input-invalid-input-color);
    border-radius: var(--formik-password-input-border-radius);
}

.icon {
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 45px;
    user-select: none;
    cursor: pointer;
    border: 0px solid transparent;
    background-color: transparent;
    font-size: 18px;
}

.icon:focus {
    outline: none;
}
