.modal {
    outline: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    outline: none;
    position: relative;
    width: 100vw;
    height: var(--app-height);
    display: flex;
    flex-direction: column;
    background-color: var(--col--light);
    box-sizing: border-box;
}

.closeButton {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
}

.closeIcon::before {
    transform: rotate(45deg);
    color: var(--col--light);
}

.closeIcon::after {
    transform: rotate(-45deg);
}

.button {
    height: 60px;
    width: 100%;
    text-transform: uppercase;
    white-space: nowrap;
}

.modalTitle {
    margin: 0;
    color: var(--col--light);
    text-transform: uppercase;
}

.header {
    padding: 60px 20px 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--col--dark);
}

.mainContent {
    flex: 1;
    overflow-y: auto;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
}

.mainInfo {
    padding: 20px 20px 0;
}

.title {
    margin: 0 0 15px;
}

.catalogViewTitle {
    margin: 0 0 9px;
}

.dateLabel,
.date,
.terms,
.cancellationTips {
    color: var(--col--gray6);
}

.date {
    margin-top: 23px;
}

.dateLabel {
    text-transform: uppercase;
}

.imageContainer {
    margin-top: 17px;
    display: flex;
    justify-content: center;
    width: 375px;
    height: 281px;
}

.itemImage {
    height: 100%;
    width: 100%;
}

.tags {
    margin-top: 15px;
}

.terms {
    padding: 34px 20px 53px;
}

.tag {
    display: inline-block;
    font-family: var(--ff--subheader-small);
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: var(--col--light);
    background-color: var(--col--utilitySuccess);
    padding: 3px 10px 4px;
    border-radius: 27px;
    text-transform: uppercase;
}

.loader {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoHeader {
    color: var(--col--gray6);
}

.infoList {
    padding: 0;
    margin: 0;
    counter-reset: counter;
}

.infoList > li {
    font-size: inherit;
    line-height: inherit;
    counter-increment: counter;
}

.infoList > li::before {
    content: counter(counter) '. ';
    color: var(--col--gray6);
}

.infoText {
    margin-top: 30px;
}

.displayPoints {
    font-family: var(--ff--pharagraph);
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: var(--col--utilitySuccess);
}

.errorDisplayPoints {
    color: var(--col--utilityError);
}

.cancellationStatus {
    color: var(--col--utilitySuccess);
    text-transform: uppercase;
}

.cancellationTips {
    margin-top: 23px;
}

.disabled {
    user-select: none;
    pointer-events: none;
}

.buttonsBlock {
    display: flex;
    flex-wrap: nowrap;
}

.successErrorModalRowButtonStyleOverride {
    bottom: 0px !important;
}

.successErrorModalButtonStyleOverride {
    width: 100% !important;
}

@media (max-width: 960px) {
    .successErrorModalMobileViewStyleOverride {
        height: 318px !important;
    }
}

@media (min-width: 960px) {
    .content {
        border-radius: 6px 6px 0px 0px;
        width: 1109px;
        max-height: 715px;
        overflow-y: visible;
    }

    .closeButton {
        right: 24px;
        top: 24px;
    }

    .buttonsBlock {
        padding: 28px 39px 29px 0;
        justify-content: flex-end;
        background-color: var(--col--dark);
    }

    .button {
        margin-bottom: 0;
        height: 50px;
        width: auto;
        padding: 16px 30px;
    }

    .header {
        padding: 93px 0 30px 40px;
    }

    .description {
        margin-top: 16px;
    }

    .date {
        margin-top: 7px;
    }

    .imageContainer {
        position: absolute;
        left: 40px;
        top: 40px;
        margin: 0;
        display: flex;
        justify-content: center;
        width: 399px;
        height: 300px;
    }

    .itemImage {
        width: 100%;
    }

    .mainContent {
        position: relative;
        padding: 39px 40px 0 54px;
        display: flex;
        justify-content: flex-end;
    }

    .contentWrapper {
        width: 502px;
    }

    .mainInfo,
    .terms {
        padding: 0;
    }

    .terms {
        margin-top: 23px;
        max-width: 432px;
    }

    .displayPoints {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }

    .catalogViewTitle {
        margin: 0 0 15px;
    }
}
