.submitButton {
    margin-top: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 18px;
    font-family: var(--ff--pharagraph);
}

.input {
    font-size: 16px !important;
    font-family: var(--ff--pharagraph);
    border-radius: 2px;
}

.label {
    font-size: 12px;
    font-family: var(--ff--pharagraph);
}

.termsContainer {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
}

.termsLabel {
    display: inline-block;
    width: 100%;
    margin-left: 10px;
    cursor: pointer;
}

.termsLink:hover {
    text-decoration: none;
}

.checkbox {
    display: none;
}

.styledCheckbox {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--col--light);
    flex-shrink: 0;
    border: 1px solid var(--col--gray6);
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 2px;
}

.checkbox:checked + .styledCheckbox {
    background: var(--col--dark);
    border: none;
}

.checkIcon {
    width: 24px;
    height: 24px;
    fill: var(--col--light);
}

.checkbox:checked + .styledCheckbox .checkIcon {
    fill: var(--col--primary1);
}

.tooltip {
    padding: 12px 16px;
    bottom: 14px;
    width: fit-content;
    max-width: 230px;
    border-radius: 2px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}

.loader svg {
    width: 42px;
}
