.itemContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 86px;
    box-sizing: border-box;
    padding: 7px;
    align-items: center;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    margin-bottom: 20px;
}

.noEnoughPoints {
    color: var(--col--gray6);
}

.lockIcon {
    font-size: 11px;
    margin-right: 5px;
    color: var(--col--gray6);
}

.imageContainer {
    display: flex;
    justify-content: center;
    width: 96px;
    height: 73px;
    margin-right: 25px;
}

.itemImage {
    width: 100%;
    object-fit: contain;
}

.itemInfoRow {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;
}

.itemTitle {
    line-height: 18px;
    margin-bottom: 2px;
    text-transform: capitalize;
}

.titleColumn {
    display: flex;
    flex-direction: column;
}

.textUnderLine {
    text-decoration: underline;
    cursor: pointer;
}

.buttonsRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 30px;
}

.button {
    width: max-content;
    border: none;
    background: none;
    padding-left: 0;
}

.divider {
    height: 20px;
    border-left: 1px solid var(--col--gray4);
    margin: 0 15px;
}

.activeBtn {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--col--secondary5);
    cursor: pointer;
}

.tooltip {
    left: -30px;
    padding: 0;
    max-width: max-content;
    border-radius: 2px;
}

@media (max-width: 600px) {
    .tooltip {
        left: 0px;
        top: 8px;
    }

    .itemTitle {
        max-width: 200px;
    }
}

@media (max-width: 480px) {
    .itemContainer {
        padding-right: 0;
        margin-bottom: 15px;
        height: 88px;
    }

    .itemInfoRow {
        flex-direction: column;
    }

    .itemDate {
        letter-spacing: -0.06em;
    }

    .activateOrCancel,
    .activeBtn {
        font-size: 14px;
        line-height: 16px;
        padding: 0;
    }

    .buttonsRow {
        margin: 9px 20px 0 0;
    }
}

@media (max-width: 320px) {
    .divider {
        margin: 0 5px;
    }

    .imageContainer {
        margin-right: 10px;
    }

    .itemDate {
        letter-spacing: -0.08em;
    }
}
