.wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 14px 20px 0px;
}

.wrapper .label {
    color: var(--col--dark);
}

.label {
    font-size: 12px;
    line-height: 12px;
}

.label::after {
    content: '*';
    color: var(--col--utilityError);
    padding-left: 3px;
}

.buttonLabel {
    text-transform: none;
}

div.list {
    max-height: 200px;
}

div.selectedItem {
    font-family: var(--ff--pharagraph-strong);
}

@media screen and (min-width: 960px) {
    .wrapper > * {
        flex-basis: 48%;
        max-width: 50%;
    }
}

.deliveryTimesErrors {
    color: var(--col--utilityError);
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    margin-left: 20px;
    margin-right: 20px;
}
