.container {
    margin-left: 361px;
    margin-right: 63px;
    padding: 44px 0px;
    display: flex;
    justify-content: center;
    align-self: center;
    max-width: 997px;
    width: 100%;
}

.termsAndConditionsInfoBlock {
    font-family: var(--base-font);
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: var(--col--gray6);
    padding: 1rem 0;
}

.termsAndConditionsInfoBlock a {
    font-family: inherit;
    font-size: 14px;
    color: inherit;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: underline;
    background: transparent;
}

.settingsContainer {
    display: flex;
    flex-direction: column;
}

.notificationHeader {
    line-height: 34px;
    font-weight: 700;
    color: var(--col--dark);
    text-transform: uppercase;
    font-size: 38px;
    margin: 0;
}

.notificationsHeader {
    padding: 50px 0 34px;
    border-top: 1px solid var(--col--gray4);
    border-bottom: 1px solid var(--col--gray4);
}

.notificationItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 27px 0;
    border-bottom: 1px solid var(--col--gray4);
}

.label {
    font-family: var(--base-font);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--col--dark);
}

.notificationItemNameColumn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.itemNameSubHeading {
    font-family: var(--base-font);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}

.notificationCheckboxColumn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.itemNameHeading {
    font-family: var(--subhead-font);
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 26px;
    text-transform: uppercase;
}

.accountNavigation {
    position: relative;
    max-width: 265px;
    height: 100%;
}

.myTeamsPortal {
    position: sticky;
    bottom: 0;
}

@media screen and (max-width: 959px) {
    .accountBanner {
        height: 80px;
        padding: 22px 0 0 20px;
    }
}

@media (max-width: 1400px) {
    .container {
        composes: accountPageWrapper from './index.vars.css';
        justify-content: center;
        box-sizing: border-box;
        padding: var(--account-page-wrapper-container-padding-top) 20px;
        margin: 0;
    }

    .accountNavigation {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .notificationItem {
        flex-direction: column;
        align-items: flex-start;
    }

    .notificationCheckboxColumn {
        margin-top: 15px;
    }
}
