.errorBanner {
    --error-text-color: var(--col--dark);
    --error-text-font-size: 28px;
    --error-text-line-height: 28px;
    --header-text-margin: 0 0 15px;
    --buttons-block-margin-top: 30px;
    --mobile--header-text-font-size: 34px;
    --mobile--header-text-line-height: 34px;
    --mobile--home-page-button-width: auto;
}
