.container {
    max-width: 100%;
    display: flex;
    background: url('../../../public/brands/bww/teams-background.png') no-repeat;
    background-color: var(--col--primary2);
    background-size: 100% 100%;
    border-radius: 5px;
    padding: 57px 61px;
}

.bannerTitle {
    color: var(--col--light);
    margin: 0 0 16px;
    text-transform: uppercase;
}

.bannerDescription {
    color: var(--col--light);
}

.container img {
    width: 76px;
    height: 76px;
    border-radius: 2px;
    margin-right: 57px;
}

@media (min-width: 768px) {
    .bannerTitle {
        font-size: 40px;
        line-height: 40px;
    }
}

@media (max-width: 480px) {
    .container {
        flex-direction: column;
        align-items: center;
        padding: 30px;
        background-image: url('../../../public/brands/bww/teams-background-mobile.png');
    }

    .textWrapper {
        text-align: center;
    }

    .container img {
        width: 44px;
        height: 44px;
        border-radius: 2px;
        margin: 0;
    }

    .bannerTitle {
        margin: 17px 0 6px;
    }
}
