.pageWrapper {
    width: 100%;
    justify-content: flex-start;
    padding: 0 70px 0 20px;
}

@media (max-width: 991px) {
    .pageWrapper {
        padding: 0 70px;
    }
}

@media (max-width: 480px) {
    .pageWrapper {
        padding: 0;
    }
}
