.modifierCard {
    width: 405px;
    margin-top: 20px;
    margin-right: 20px;
}

.modalContent {
    padding: 40px 0;
}

.modalContent:not(.sauces),
.group {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.titleWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.groupWrapper {
    margin-bottom: 30px;
}

.title {
    margin: 0;
}

.count {
    margin-left: 5px;
    color: var(--col--gray6);
}

@media (max-width: 768px) {
    .modifierCard {
        width: auto;
        margin: 0;
        margin-bottom: 15px;
    }

    .modalContent {
        padding: 30px 0;
    }

    .modalContent:not(.sauces),
    .group {
        display: block;
    }

    .titleWrapper {
        margin-bottom: 15px;
    }
}

.filterDivider {
    margin: 40px 0;
}

.noSauceDivider {
    margin: 40px 0 20px;
}
