.seletionHeader {
    margin-bottom: 15px;
}

.sauceOnSide {
    display: flex;
}

.sauceOnSide.disabled {
    opacity: 0.5;
    cursor: auto;
}

/* TODO move to atoms */
.checkboxLabel {
    margin-left: 10px;
    font-family: var(--ff--pharagraph);
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}
