.title {
    margin-bottom: 10px;
    padding: 0;
}

.container {
    padding-left: 21px;
    margin-right: 30px;
}

.subtitle {
    margin: 0;
    margin-bottom: 10px;
    color: var(--col--primary1);
}

.accordionItems {
    margin-top: 25px;
}

.text > *:first-child {
    margin-top: 0;
}

.text a {
    font-family: var(--base-font);
    text-decoration: underline;
}

.text p {
    max-width: 800px;
}

.text h4 {
    font-family: var(--head-font);
    font-size: 16px;
    line-height: 16px;
}

.text p b {
    font-family: var(--heavy-font);
}

.text ul {
    margin-top: 0;
    margin-bottom: 26px;
    padding-left: 0;
}

.text * {
    margin-bottom: 0;
}

@media (min-width: 960px) {
    .container {
        padding-left: 48px;
        margin-right: 52px;
    }

    .text h4 {
        font-size: 20px;
        line-height: 20px;
    }
}
