.reviewOrder {
    composes: reviewOrder from './reviewOrder.vars.css';
    display: flex;
    flex-direction: column;
    width: 100%;
}

.reviewOrderItem {
    display: flex;
    width: 100%;
}

.reviewOrderCell {
    composes: reviewOrder from './reviewOrder.vars.css';
    display: flex;
    width: var(--review-order-cell-width);
    vertical-align: top;
    padding-bottom: 25px;
}

.reviewOrderIcon {
    width: 82px;
    height: 62px;
}

.iconCell {
    width: 92px;
}

.quantityCell {
    vertical-align: top;
    text-transform: none;
    padding: var(--quantity-cell-padding);
    text-align: right;
    width: 1em;
}

.details {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.detailsItem {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.detailsCell {
    vertical-align: middle;
}

.product {
    padding-bottom: 6px;
    font-family: var(--heavy-font);
}

.price {
    text-align: right;
}

.reviewOrderTotal {
    width: 100%;
}

.totalItem {
    padding-bottom: 8px;
    vertical-align: middle;
}

.totalLine {
    padding-bottom: 0;
}

.tipsBlock {
    padding: 25px 0 29px;
    border-top: 1px solid var(--col--gray4);
}

.discount {
    color: var(--col--secondary5);
    margin-top: 16px;
}

.lineThrough {
    text-decoration: line-through;
    line-height: var(--line-through-line-height);
    margin-top: var(--line-through-margin-top);
}

@media (max-width: 600px) {
    .tipsBlock {
        padding: 31px 0 40px;
    }

    .lineThrough {
        margin-top: 0;
    }
}
