.aboutContainer {
    composes: aboutSection from './aboutSection.vars.css';
    background: var(--col--gray1);
    border-top: 1px solid var(--col--gray4);
    padding: 77px 0 60px;
}

.header {
    padding-left: var(--header-padding-left);
}

/* TODO somehow improve this cheat */
.aboutContainer ~ footer > section:first-child {
    background-color: var(--col--gray1);
}

.aboutBody {
    display: flex;
    padding-left: var(--body-padding-left);
    margin-top: var(--body-margin-top);
}

.aboutSection {
    padding-right: 68px;
    border-right: 1px solid var(--col--gray4);
    width: 70%;
}

.includedItems {
    text-transform: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: 29px;
    width: 100%;
}

.includedItem {
    display: flex;
    flex: 0 0 33.33%;
    align-items: center;
    margin-bottom: 20px;
}

.includedItemText {
    display: inline;
    margin-left: 6px;
}

.includedSection {
    display: var(--included-display);
    padding-bottom: 6px;
    border-bottom: 1px solid var(--col--gray4);
}

.icon {
    /* margin-left: -30px; */
    margin-bottom: 16px;
    height: 60px;
    width: 60px;
}

.taglineSection {
    padding: 0 52px 0 66px;
    overflow: hidden;
    width: 30%;
}

.taglineHeading {
    color: var(--tagline-heading-color);
    margin-bottom: 2px;
    font-size: var(--tagline-heading-font-size);
    line-height: var(--tagline-heading-line-height);
}

.taglineDescription {
    color: var(--col--dark);
    font-size: var(--tagline-description-font-size);
    line-height: var(--tagline-description-line-height);
}

.productDescription {
    padding-top: 26px;
}

@media (max-width: 959px) {
    .aboutContainer {
        padding-top: 32px;
        padding-bottom: 34px;
    }

    .header {
        padding-left: var(--header-small-padding-left);
    }

    .aboutBody {
        flex-flow: column;
        padding-left: var(--body-small-padding-left);
        padding-right: 20px;
        margin: var(--body-small-margin);
    }

    .aboutSection {
        padding: var(--about-section-small-padding);
        border-right: none;
        width: auto;
    }

    .includedItem {
        flex: 0 0 100%;
        margin-bottom: 15px;
    }

    .includedItems {
        margin: var(--included-small-margin);
    }

    .includedSection {
        flex-flow: column;
    }

    .taglineSection {
        padding: 20px 0 0;
        display: flex;
        border-top: 1px solid var(--col--gray4);
        width: auto;
    }

    .productDescription {
        padding-top: 20px;
    }

    .taglineText {
        padding-left: 19px;
    }

    .icon {
        margin-left: 0;
        height: 40px;
        width: 40px;
    }

    .taglineHeading {
        font-size: var(--tagline-small-heading-font-size);
        line-height: var(--tagline-small-heading-line-height);
    }

    .taglineDescription {
        font-size: var(--tagline-small-description-font-size);
        line-height: var(--tagline-small-description-line-height);
    }
}
