.aboutSection {
    --tagline-heading-color: var(--col--primary1);
    --header-padding-left: 0;
    --body-padding-left: 52px;
    --body-margin-top: 23px;
    --included-display: flex;
    --tagline-heading-font-size: 26px;
    --tagline-heading-line-height: 26px;
    --tagline-description-font-size: 34px;
    --tagline-description-line-height: 34px;

    /* small */
    --header-small-padding-left: 0;
    --body-small-padding-left: 20px;
    --body-small-margin: 0;
    --tagline-small-heading-font-size: 22px;
    --tagline-small-heading-line-height: 22px;
    --tagline-small-description-font-size: 24px;
    --tagline-small-description-line-height: 24px;
    --included-small-margin: 15px 0 0 0;
    --about-section-small-padding: 18px 0 20px 0;
}
