.dropdownTitle {
    font-family: Arial;
    color: var(--col--dark);
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 8px;
}

.selectDropdown {
    composes: selectDropdown from './paymentTypeDropdown.vars.css';
    border: var(--selectDropdown-border);
    border-radius: var(--selectDropdown-border-radius);
    user-select: none;
    cursor: pointer;
    margin-bottom: 20px;
}

.selectionButton {
    border: none;
    margin: 0px;
    padding: 0px;
    padding-right: 20px;
    text-transform: none;
}

.selectionButton:focus {
    border: none;
}

.popperPositionOverride {
    position: relative !important;
    transform: none !important;
}

.optionsList {
    border: none;
    border-top: 1px solid var(--col--gray4);
    box-shadow: none;
    margin: 0;
    margin-bottom: 30px;
}

.menuOption {
    padding-top: 0px;
    padding-bottom: 0px;
    list-style: none;
}

.menuOption::before {
    display: none;
}

.optionContainer {
    font-size: 16px;
    line-height: 24px;
    display: flex;
    padding: 4px;
    color: var(--col--dark);
}

.optionIcon {
    width: 28px;
    margin-left: 16px;
    margin-right: 5px;
    display: flex;
}

.optionsList .optionIcon {
    margin: 0 5px 0 0;
}

.optionIconImage {
    padding: 2px;
    height: 18px;
    width: 18px;
}

.loadingContainer {
    padding-top: 2px;
    padding-left: 20px;
    height: 30px;
}
