.secondaryPhoneLink {
    --phone-font-size: 16px;
    --phone-lineheight: 20px;
    --phone-font-size-mobile: 14px;
    --phone-lineheight-mobile: 18px;
    --phone-icon-font-size: 18px;
    --phone-icon-font-size-mobile: 14px;
}
