.headerText {
    z-index: 1;
    text-transform: uppercase;
    margin: 0px;
}

.headerTextWithoutBullet {
    margin-left: 52px;
}

.bulletHeaderContainer {
    display: flex;
    padding-bottom: 12px;
}

.boxBullet {
    width: 38px;
    height: 19px;
    background: var(--col--primary1);
    margin-top: 8px;
    margin-right: 10px;
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .boxBullet {
        width: 13px;
        height: 10px;
        margin-top: 18px;
        margin-right: 8px;
    }

    .bulletHeaderContainer {
        padding-bottom: 0;
    }

    .headerText {
        margin-top: 10px;
        font-size: 28px;
        line-height: 28px;
    }

    .headerTextWithoutBullet {
        margin-left: 20px;
    }
}

@media (min-width: 1441px) {
    .headerTextWithoutBullet {
        margin-left: 292px;
    }
}
