.sectionHeader {
    --container-flex-direction: column;
    --box-bullet-width: 60px;
    --box-bullet-height: 10px;
    --box-bullet-margin: 0 0 10px 0;
    --box-bullet-small-width: 40px;
    --box-bullet-small-height: 8px;
    --section-title-margin-top: -4px;
}
