.menuCategoryCard {
    z-index: 1;
    height: 160px;
    margin: 10px;
    display: flex;
    flex: 1;
    flex-basis: 30%;
    min-width: 300px;
    background: linear-gradient(to right, var(--col--primary1) 90px, var(--col--light) 90px);
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--col--gray4);
    box-sizing: border-box;
}

.contentSection {
    width: 100%;
    padding-left: 19px;
    padding-right: 26px;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

/* @TODO: remove after adding description
instead of count and order */
.contentSection span {
    display: none;
}

.title {
    font-family: var(--subhead-font);
    font-size: 26px;
    line-height: 26px;
    font-weight: normal;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: var(--col--dark);
    margin: 0;
}

.image,
.imageSection,
.imageSection picture {
    height: 100%;
}

.image {
    align-self: flex-start;
}

@media (max-width: 1200px) {
    .menuCategoryCard {
        flex-basis: 40%;
    }
}

@media (max-width: 900px) {
    .menuCategoryCard {
        height: 119px;
        background: linear-gradient(to right, var(--col--primary1) 70px, var(--col--light) 70px);
    }

    .contentSection {
        padding-left: 14px;
        padding-right: 28px;
    }

    .title {
        font-size: 22px;
        line-height: 22px;
    }
}

@media (max-width: 425px) {
    .menuCategoryCard {
        margin: 7px 0;
    }
}
