@media (min-width: 960px) and (max-width: 1299px) {
    .startOrderButton {
        display: none;
    }
}

@media (max-width: 959px) {
    .startOrderButton {
        margin: 20px 0;
    }
}

@media (min-width: 1300px) {
    .wrapper {
        display: flex;
        align-items: center;
    }

    .startOrderButton.locationIsSelected {
        margin: 0 0 0 35px;
        width: auto;
    }
}
