.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container > div {
    text-align: center;
    padding: 0 50px;
}

.errorHeader {
    margin-bottom: 15px;
}

.errorSubheader {
    margin-bottom: 20px;
}

.errorDescription {
    color: var(--col--gray6);
}
