.collapseContainer {
    border-left: none;
    transition: border-left 0.2s;
    padding: 0 52px;
}

.heading {
    font-weight: 900;
    margin-right: 20px;
}

.subTitle {
    color: var(--col--gray6);
}

.line {
    border-left: none;
}

.collapseContainer:last-child .collapseBody {
    border-bottom: solid 1px var(--col--gray4);
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    border-top: solid 1px var(--col--gray4);
    padding: 0;
    box-sizing: border-box;
}

.collapseContainer:last-child .row {
    border-bottom: solid 1px var(--col--gray4);
}

.collapseContainer:last-child .collapsedRow {
    border-bottom: none;
}

.collapsedRow {
    border-top-color: var(--col--dark);
}

.row:hover {
    cursor: pointer;
}

.icon {
    cursor: pointer;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.collapseBody {
    position: relative;
}

.disabled {
    user-select: none;
    pointer-events: none;
}

@media (max-width: 960px) {
    .row {
        min-height: 64px;
        padding: 0;
    }

    .heading {
        margin-right: 15px;
    }

    .collapseContainer {
        padding: 0 20px;
    }
}
