.container {
    composes: error from './index.vars.css';
    margin: 18px 0;
    display: flex;
}

.container > *:nth-child(1) {
    margin-right: 10.5px;
}

.errorIcon {
    color: var(--error-icon-color);
}

.errorText {
    color: var(--error-text-color);
}
