.footerContent {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footerButtons {
    display: flex;
    flex-shrink: 0;
}

.selections {
    color: var(--col--light);
    margin-right: 20px;
}

@media (max-width: 768px) {
    .footerContent {
        display: block;
    }

    .selections {
        display: block;
        padding: 16px 20px;
        background: var(--col--light);
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
        color: var(--col--dark);
        margin: 0;
    }

    .selectionsTitle {
        font-family: var(--ff--pharagraph-strong);
    }

    .footerButton {
        flex: 1;
        height: 60px;
        margin: 0;
    }
}
