.navigation {
    --nav-background-color: var(--col--light);
    --nav-color: var(--col--dark);
    --logo-width: 40px;
    --logo-height: 40px;
    --logo-big-height: 60px;
    --link-label-color: var(--col--dark);
    --link-label-font-family: var(--ff--link);
    --link-label-font-weight: 800;
    --link-label-font-size: 22px;
    --link-label-line-height: 22px;
    --menuLinkContainer-link-label-color: var(--col--dark);
    --menuLinkContainer-link-label-font-size: 22px;
    --menu-icon-color: var(--col--dark);
    --menu-action-button-font-size: 18px;
    --menu-action-button-line-height: 18px;
    --menu-action-bag-icon-margin-top: 0;
    --lower-desktop-start-an-order-btn-display: block;
}
