.container {
    --left-border-color: var(--col--dark);
    --bottom-border-color: var(--col--gray1);
    --background-color: var(--col--light);
    --padding: 20px 25px 25px 25px;
    --services-list-color: var(--col--gray6);
}

@media (max-width: 768px) {
    .container {
        --padding: 15px 25px 20px 20px;
    }
}
