.container {
    composes: sizeSelection from './sizeSelection.vars.css';
    display: flex;
    flex-direction: row;
    cursor: pointer;
    overflow-x: auto;
}

.container.disabled {
    color: var(--col--gray5);
}

.selectionItem {
    color: var(--col--dark);
    background: var(--col--light);
    border: 1px solid var(--col--gray4);
    border-left: 0;
    padding: var(--size-selection-item-padding);
    text-transform: uppercase;
    justify-content: center;
    cursor: pointer;
    min-height: 45px;
    position: relative;
}

.initial {
    overflow: initial;
}

.selectionItem.disabled {
    color: var(--col--gray6);
}

.selectionItem:focus:not(:focus-visible) {
    outline: 0;
}

.container .selectionItem:first-of-type {
    border-left: 1px solid var(--col--gray4);
}

.selectionItem.selected {
    border-bottom: var(--size-selection-border);
    background-color: var(--size-selection-background);
    color: var(--size-selection-text);
}

.bogoFree {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: var(--col--primary1);
    color: var(--col--dark);

    /* @TODO: no typography */
    white-space: nowrap;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.01em;
    bottom: -9px;
    padding: 2px 4px 4px;
    width: fit-content;
    box-sizing: border-box;
    border-radius: 2px;
    z-index: 1;
    text-transform: none;
}
