.sizeSelection {
    --size-selection-border: 2px solid var(--col--secondary1);
    --size-selection-background: var(--col--light);
    --size-selection-text: var(--col--dark);
    --size-selection-item-padding: 15px 30px;
}
