.notificationsContainer {
    composes: notification from './notifications.vars.css';
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 18px;
    z-index: 10000;
    box-shadow: 0px 0px 30px var(--col--dark);
}

.notification {
    height: auto;
    padding: 27px 52px 27px 26px;
    line-height: 28px;
}

.notification.errorNotification {
    background: var(--col--primary1variant);
    color: var(--col--light);
}

.notification.successNotification {
    background: var(--col--dark);
    color: var(--col--light);
    border: 1px solid var(--col--light);
}

.closeIcon {
    position: absolute;
    top: 40px;
    transform: translateY(-50%);
    right: 26px;
    width: 26px;
    height: 26px;
    color: var(--col--light);
    cursor: pointer;
}

.notificationContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 26px;
}

.notificationIcon {
    margin: 0 12px 0 0;
}

.successIcon::before {
    color: var(--col--primary1variant);
}

.message,
.title {
    line-height: 28px;
    color: var(--col--light);
}

.title {
    text-transform: uppercase;
    white-space: nowrap;
}

.message {
    padding-left: 5px;
    overflow: hidden;
}

@media screen and (max-width: 961px) {
    .notification {
        height: auto;
        padding: 20px;
        line-height: 28px;
    }

    .notificationContent {
        flex-direction: column;
        height: auto;
    }

    .notificationIcon {
        margin: 0 0 var(--notification-icon-mobile-margin) 0;
    }

    .message,
    .title {
        line-height: var(--notification-text-mobile-line-height);
        padding-left: 0;
    }

    .closeIcon {
        top: 34px;
        right: 20px;
    }
}
