.container {
    box-sizing: border-box;
    width: 100%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    max-width: 488px;
    height: 166px;
    border: 1px solid var(--col--gray4);
    background-color: var(--col--gray1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlayContainer {
    width: 100%;
    max-width: 488px;
}

.icon {
    color: var(--col--gray6);
}

.text {
    color: var(--col--gray6);
    text-transform: uppercase;
    text-decoration: underline;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@media (max-width: 730px) {
    .container {
        height: 76px;
    }
}
