.header {
    height: auto;
    min-height: 80px;
    padding: 16px 20px;
    background-color: var(--col--dark);
    box-sizing: border-box;
    background-image: url('../../../public/brands/bww/rewards-roster-background.png');
    background-position: center;
}

.headerText {
    color: var(--col--light);
    margin: 0;
}

.subHeaderText {
    color: var(--col--light);
}

.wrapper {
    padding-bottom: 50px;
}

@media (min-width: 960px) {
    .header {
        height: 180px;
        padding: 52px;
    }

    .wrapper {
        padding-bottom: 80px;
    }
}
