.container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 67px 0 96px;
    border-bottom: 1px solid var(--col--gray4);
    border-top: 1px solid var(--col--gray4);
    box-sizing: border-box;
}

.blockTitle {
    margin: 0 0 26px;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    height: 60px;
    width: 100%;
    text-transform: uppercase;
    white-space: nowrap;
}

@media (min-width: 960px) {
    .button {
        margin-bottom: 0;
        height: 50px;
        width: 186px;
    }

    .button.secondary {
        border-color: var(--col--light);
        margin-right: 20px;
    }

    .button.secondary:hover:not(:disabled) {
        color: var(--col--dark);
        border-color: var(--col--gray1);
        background-color: var(--col--gray1);
        margin-right: 20px;
    }
}
