.container {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    display: flex;
    position: relative;
}

.container:last-child {
    margin-bottom: 0;
}

.itemInfo {
    width: 100%;
    padding: 20px 20px 25px 0;
    text-align: left;
}

.notAvailable {
    color: var(--col--utilityError);
    padding: 5px 0 10px;
}

.notAvailableModifier {
    color: var(--col--gray6);
    margin-right: 8px;
    text-decoration: line-through;
}

.unavailableItemLinks > button {
    padding: 0 12px;
}

.unavailableItemLinks > *:first-child {
    padding-left: 0;
}

.unavailableItemLinks > :nth-child(2n + 1) {
    border-right: 1px solid var(--col--gray4);
}

.unavailableItemLinks > :nth-child(2n) {
    border-left: 1px solid var(--col--gray4);
}

.isDisabled .notAvailable {
    display: none;
}

.isDisabled .disableWrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--col--light);
    opacity: 0.5;
    display: block;
}

.isDisabled .button {
    text-decoration: initial;
}

.button {
    text-decoration: underline;
}

.disableWrapper {
    display: none;
}
