.loadingWrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--col--light);
    opacity: 0.5;
    justify-content: center;
    align-items: center;
    cursor: progress;
    display: none;
}

.loading.loadingWrapper {
    display: flex;
}

@media (max-width: 960px) {
    .button {
        width: 100%;
        border-radius: 0;
        box-shadow: 0px 0px 25px rgb(0 0 0 / 15%);
    }
}
