.arrow {
    --arrow-display: none;

    display: var(--arrow-display);
}

.container {
    opacity: 1;
    padding: 16px 20px;
    border-radius: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: var(--col--dark);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    color: var(--col--light);
    line-height: 24px;
    font-size: 18px;
    font-family: var(--ff--link);
}

@media (max-width: 961px) {
    .container {
        line-height: 20px;
        font-size: 16px;
    }
}
