.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 52px;
    width: 100%;
}

.mainContent {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    width: 100%;
}

.title {
    margin: 0;
    font-family: var(--ff--header);
    font-size: 48px;
    line-height: 48px;
    font-weight: 900;
    color: var(--col--dark);
    text-transform: uppercase;
}

.subtitle {
    font-family: var(--ff--subheader-small);
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: var(--col--secondary1);
    text-transform: uppercase;
}

.details {
    display: flex;
    margin-top: 10px;
}

.bottomBlock {
    display: flex;
}

.link {
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.link:hover .linkTitle {
    text-decoration-line: none;
}

.phoneIcon {
    font-size: 14px;
}

.icon {
    width: 14px;
    height: 14px;
    margin-right: 5px;
}

.icon::before {
    color: var(--col--secondary1);
}

.linkTitle {
    font-family: var(--ff--subheader-small);
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration-line: underline;
}

.storeId {
    font-size: 14px;
    line-height: 18px;
    font-family: var(--ff--pharagraph);
    color: var(--col--gray6);
}

.orderBlock {
    display: flex;
    align-items: center;
}

.orderButton {
    margin-left: 30px;
}

@media (max-width: 600px) {
    .container {
        margin-top: 15px;
        padding: 18px 20px;
    }

    .mainContent {
        display: block;
    }

    .title {
        margin-bottom: 6px;
        font-size: 32px;
        line-height: 32px;
    }

    .subtitle {
        font-size: 16px;
        line-height: 16px;
    }

    .details {
        flex-wrap: wrap;
        margin-top: 6px;
    }

    .storeId {
        font-size: 12px;
        line-height: 16px;
    }

    .bottomBlock {
        justify-content: space-between;
        width: 100%;
        order: 3;
        margin-top: 20px;
        padding-top: 12px;
        border-top: 1px solid var(--col--gray4);
    }

    .bottomBlock > .link {
        margin-right: 0;
    }

    .orderBlock {
        position: fixed;
        z-index: 9999;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .orderButton {
        width: 100%;
        margin: 0;
    }
}
