.button {
    /* primary */
    --button-font-size: 18px;
    --button-line-height: 18px;
    --button-padding: 0 26px;
    --button-color: var(--col--dark);
    --button-border: 4px solid var(--col--primary1);
    --button-background-color: var(--col--primary1);
    --button-letter-spacing: 0.02em;
    --button-border-radius: 2px;
    --button-box-shadow: none;

    /* hover */
    --button-hover-background-color: var(--col--primary1variant);
    --button-hover-border-color: var(--col--primary1variant);

    /* disabled */
    --button-disabled-color: var(--col--light);

    /* large */
    --button-large-font-size: 24px;
    --button-large-line-height: 24px;
    --button-large-letter-spacing: var(--button-letter-spacing);

    /* small */
    --button-small-font-size: 16px;
    --button-small-line-height: 16px;
    --button-small-padding: 0px 20px;

    /* secondary */
    --button-secondary-color: var(--col--dark);
    --button-secondary-background-color: var(--col--light);

    /* secondary hover */
    --button-secondary-hover-color: var(--col--light);
    --button-secondary-hover-background-color: var(--col--dark);
    --button-secondary-hover-border-color: var(--button-secondary-hover-background-color);
}
