.button {
    --button-font-size: 18px;
    --button-line-height: 18px;
    --button-padding: 0 30px;
    --button-color: var(--col--light);
    --button-border: 4px solid var(--col--dark);
    --button-background-color: var(--col--dark);
    --button-letter-spacing: 0.04em;

    /* hover */
    --button-hover-background-color: var(--col--light);
    --button-hover-border-color: var(--col--dark);
    --color: var(--col--dark);

    /* large */
    --button-large-font-size: 24px;
    --button-large-line-height: 24px;

    /* small */
    --button-small-font-size: 16px;
    --button-small-line-height: 16px;

    /* secondary */
    --button-secondary-color: var(--col--dark);
    --button-secondary-background-color: var(--col--light);

    /* secondary hover */
    --button-secondary-hover-color: var(--col--light);
    --button-secondary-hover-background-color: var(--col--dark);
}
