.navigation {
    --nav-background-color: var(--col--dark);
    --nav-color: var(--col--light);
    --logo-width: 45px;
    --logo-height: 41px;
    --logo-big-height: 55px;
    --link-label-color: var(--col--light);
    --link-label-font-family: var(--ff--header);
    --link-label-font-weight: normal;
    --link-label-font-size: 18px;
    --link-label-line-height: 18px;
    --menuLinkContainer-link-label-color: var(--col--dark);
    --menuLinkContainer-link-label-font-size: 20px;
    --menu-icon-color: var(--col--light);
    --menu-action-button-font-size: 22px;
    --menu-action-button-line-height: 22px;
    --menu-action-bag-icon-margin-top: -4;
    --lower-desktop-start-an-order-btn-display: none;
}
