.navigation {
    composes: navigation from './index.vars.css';
    background-color: var(--nav-background-color);
    color: var(--nav-color);
}

.wrapper,
.startOrderBtnWrapper {
    padding: 0 20px;
}

.wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logoContainer {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 7px;
}

.centerContainer {
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 56px;
    position: relative;
    justify-content: flex-end;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoImage {
    height: var(--logo-height);
}

.linkContainer {
    display: none;
}

.logoText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 4px;
    font-family: var(--link-label-font-family);
    text-transform: uppercase;
    font-weight: 800;
}

.logoText span:nth-child(1) {
    font-size: 14px;
    line-height: 12px;
}

.logoText span:nth-child(2) {
    font-size: 23px;
    line-height: 20px;
    letter-spacing: 0.02em;
}

.logoText span:nth-child(3) {
    font-size: 19px;
    line-height: 15px;
}

.linkLabel {
    color: var(--link-label-color);
    font-family: var(--link-label-font-family);
    font-weight: var(--link-label-font-weight);
    font-size: var(--link-label-font-size);
    line-height: var(--link-label-line-height);
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
}

.locationContainer {
    padding: 11.4px 0;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.locationName {
    font-family: var(--ff--link);
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
}

.locationName > span {
    font-size: 10px;
    margin-left: 5px;
}

.locationContainer .locationIcon {
    font-size: 10px;
    margin-left: 6.1px;
    margin-right: 4.4px;
}

.locationInfo {
    color: var(--col--gray5);
    font-family: var(--heavy-font);
    font-style: normal;
    font-size: 10px;
    line-height: 14px;
    text-transform: uppercase;
}

.icon {
    font-size: 24px;
    display: none;
    cursor: pointer;
}

.menuIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuIcon::before {
    color: var(--menu-icon-color);
}

.locationLink {
    display: block;
    width: 100%;
}

.navigationMenu {
    composes: navigation from './index.vars.css';
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--col--light);
}

.navigationMenu .startOrderButton {
    display: block;
    margin: 0;
}

.menuLinkContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.menuLinkContainer .link {
    display: block;
    padding: 26px 0;
    text-align: center;
    border-bottom: 1px solid var(--col--gray4);
}

.menuLinkContainer .linkLabel {
    color: var(--menuLinkContainer-link-label-color);
    font-size: var(--menuLinkContainer-link-label-font-size);
}

.menuActionContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.menuActionButton {
    font-family: var(--ff--subheader);
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--col--dark);
    border-radius: 0;
    font-size: var(--menu-action-button-font-size);
    line-height: var(--menu-action-button-line-height);
}

.menuActionBagIcon {
    margin-top: var(--menu-action-bag-icon-margin-top);
    margin-right: 10px;
}

.startOrderBtnWrapper {
    display: none;
}

@media (max-width: 959px) {
    .logoContainer {
        height: 56px;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0;
    }

    .logoText {
        display: none;
    }
}

@media (min-width: 960px) {
    .wrapper,
    .startOrderBtnWrapper {
        padding: 0 32px;
    }

    .wrapper {
        height: 85px;
        flex-wrap: nowrap;
    }

    .centerContainer {
        min-width: 700px;
    }

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icon:not(:last-child) {
        margin-right: 35px;
    }

    .icon > * {
        padding-bottom: 6px;
    }

    .menuIcon {
        display: none;
    }

    .logoContainer {
        flex-grow: 0;
        margin-right: 54px;
    }

    .logoImage {
        height: var(--logo-big-height);
    }

    .linkContainer {
        padding-top: 4px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex-grow: 1;
    }

    .link {
        margin-right: 20px;
    }

    .linkActive {
        margin-bottom: -4px;
        border-bottom: 4px solid var(--col--primary1);
    }

    .link:hover,
    .icon:hover,
    .linkActive:hover {
        border-bottom: 4px solid var(--col--light);
        margin-bottom: -4px;
    }

    .iconsContainer {
        display: flex;
        padding: 13.5px 0 9.5px;
        order: 2;
        margin-left: 35px;
    }
}

@media (min-width: 1200px) {
    .wrapper,
    .startOrderBtnWrapper {
        padding: 0 52px;
    }

    .link {
        margin-right: 40px;
    }
}

@media (min-width: 1441px) {
    .wrapper,
    .startOrderBtnWrapper {
        padding: 0 55px;
    }
}

@media (min-width: 960px) and (max-width: 1299px) {
    .startOrderBtnWrapper {
        display: var(--lower-desktop-start-an-order-btn-display);
        border-top: 1px solid var(--col--gray4);
        padding-top: 22px;
        padding-bottom: 22px;
    }

    .startOrderBtn {
        width: 100%;
    }
}
