.cardContainer {
    min-width: 405px;
    width: 100%;
}

.cardContainer.disabled {
    opacity: 0.5;
}

.cardWrapper {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    flex-grow: 1;
    border-radius: 2px;
    width: 100%;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-right: 16px;
}

.cardTop {
    display: flex;
    height: 110px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding: 5px 25px 5px 5px;
}

.cardTop:focus:not(:focus-visible) {
    outline: none;
}

.textContainer {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.textContainer > :global(.t-subheader-smaller) {
    line-height: 18px;
}

.priceAndCalories {
    margin-top: 1px;
    color: var(--col--gray6);
    display: block;
}

.imageWrapper {
    margin-right: 25px;
    min-width: 133px;
    max-width: 133px;
    min-height: 100px;
    max-height: 100px;
}

.imageWrapper img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
}

.cardSelected .cardWrapper {
    border: 1px solid var(--col--dark);
}

.itemSizeSelection {
    border-bottom: none;
}

.itemSizeSelection:first-of-type {
    border-left: none;
}

.itemSizeSelection:last-of-type {
    border-right: none;
}

.modifyContainer {
    display: flex;
    align-items: baseline;
    padding-top: 10px;
}

.modifications {
    margin-left: 8px;
    color: var(--col--gray6);
}

.cardTop .checkbox {
    min-width: 32px;
    min-height: 32px;
}

.requireSelection {
    color: var(--col--utilityError);
}

@media (max-width: 959px) {
    .cardTop {
        height: 90px;
    }

    .imageWrapper {
        min-width: 106px;
        max-width: 106px;
        min-height: 80px;
        max-height: 80px;
    }

    .cardTop .checkbox {
        min-width: 24px;
        min-height: 24px;
    }
}

@media (max-width: 768px) {
    .cardContainer {
        min-width: 330px;
        max-width: 100%;
    }

    .heading {
        font-size: 22px;
        line-height: 22px;
    }
}
