.signIn {
    --signInText-color: var(--col--dark);
    --signInText-font-family: var(--ff--pharagraph-strong);
    --signInText-min-width: 50px;
    --signInText-mobile-min-width: 40px;
    --account-menu-link-font-family: var(--ff--pharagraph-strong);
    --logoutButton-font-size: 16px;
    --logoutButton-line-height: 20px;
    --logoutButton-font-weight: normal;
    --logoutButton-text-decoration-line: normal;
    --logoutButton-text-transform: normal;
    --chevron-icon-before-color: var(--col--dark);
}
