.container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 60px 0;
    box-sizing: border-box;
}

.containerInPage {
    padding: 0;
}

.blockTitle {
    margin: 0 0 20px;
}

.loader {
    text-align: center;
    padding: 64px 0;
}

.arrowIcon {
    margin-right: 5px;
}

.link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.linkText {
    text-decoration: underline;
}

@media (max-width: 480px) {
    .container {
        padding-top: 20px;
    }

    .blockTitle {
        text-align: center;
    }
}
