.inputLoading {
    color: var(--col--dark);
    padding: 12px;
    overflow: visible;
    text-align: center;
    border-radius: 50%;
}

.dropdownList {
    padding: 0;
}

.dropdownWrapper {
    position: relative;
}

.dropdownContainer,
.dropdownLoadingContainer,
.dropdownNoItemsContainer {
    z-index: 1000;
    position: absolute;
    top: 3px;
    background: var(--col--light);
    min-width: 392px;
    border: 1px solid var(--col--gray6);
    box-sizing: border-box;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}

.dropdownLoadingContainer {
    height: 144px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdownContainer {
    min-height: 68px;
}

.dropdownItem {
    padding: 10px 20px;
    font-family: var(--ff--pharagraph-strong);
    line-height: 24px;
}

.dropdownItem::before {
    content: none;
}

.dropdownItem:not(:last-child) {
    border-bottom: 1px solid var(--col--gray6);
}

@media (max-width: 768px) {
    .dropdownWrapper,
    .dropdownContainer,
    .dropdownLoadingContainer {
        width: 100%;
        min-width: 100%;
    }
}
